@font-face {
    /* This declaration targets Internet Explorer */
    font-family: 'CricketBold';
    src: url('11725-x.eot');
}

@font-face {
    /* This declaration targets everything else */
    font-family: 'CricketBold';
    src: url(//:) format('no404'), url('11725-x.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
margin: 0px;
padding: 0px;
}

.wrapper {width:expression(document.body.clientWidth < 980 ? '980px' : (document.body.clientWidth > 1440 ? '1440px' : '100%')); min-width:980px; max-width:1140px; text-align:left; margin:0 auto; }

.full-width {
width: 100%;
}
.container {
width: 100%;
overflow-x: hidden;
overflow-y: hidden;
}
.clear {
clear: both;
}
body {
background-image: none;
background-attachment: scroll;
background-repeat: repeat;
background-position: 0% 0%;
background-size: auto;
background-origin: padding-box;
background-clip: border-box;
background-color: #ffffff;
font-size: 12px;
line-height: 1.41em;
font-family: "Arial", "Helvetica", sans-serif;
/*color: #777777;*/
color: #000000;
/*color: #8C6151;*/
text-align: center;
}
.page {width:expression(document.body.clientWidth < 980 ? '980px' : (document.body.clientWidth > 1440 ? '1440px' : '100%'));
min-width:980px;
max-width:1440px;
text-align:left;
margin:0 auto;
padding: 0px;
}
.header_top {background-image: url(./top_background.gif);
background-attachment: scroll;
background-repeat: repeat-x;
background-position: 0% 0%;
background-size: ;
background-origin: padding-box;
background-clip: border-box;
background-color: white;
position: relative;
height: 148px;}
.header_top_left {
background-image: url(./header_top_left.jpg);
background-attachment: scroll;
background-repeat: no-repeat;
background-position: 0% 0%;
background-size: ;
background-origin: padding-box;
background-clip: border-box;
background-color: white;
height: 148px;
width: 743px;
position: absolute;
top: 0px;
left: 0px;
}
.header_top_right {
background-image: url(./header_top_right.jpg);
background-attachment: scroll;
background-repeat: no-repeat;
background-position: 0% 0%;
background-size: ;
background-origin: padding-box;
background-clip: border-box;
background-color: white;
height: 148px;
width: 222px;
position: absolute;
top: 0px;
right: 0px;
}
.header_top_right a {color: #666666;}
.header_top_phone {position: absolute;
top: 26px;
right: 8px;color: #ffffff;
font: normal 26px/53px CricketBold, sans-serif;}
.header_top_basket {
position: absolute;
top: 87px;
right: 8px;
color: #fefefe;
line-height: 20px;
}
.header_top_basket a {color: #fefefe;
text-decoration: none;}
.header_top_basket em {font-size: 10px;
width: 21px;
font-style: normal;
text-align: center;
padding-top: 2px;
background-image: url(./top_basket.gif);
background-attachment: scroll;
background-repeat: no-repeat;
background-position: 0% 0%;
background-size: ;
background-origin: padding-box;
background-clip: border-box;
display:table-cell;
vertical-align:middle;}
.header_top_basket span {text-decoration: underline;
padding-right: 10px;
display:table-cell;
vertical-align:middle;}
.header_top_basket strong {
padding-left: 10px;
display:table-cell;
vertical-align:middle;
}
.header_anons {background-image: url(./top_point.gif);
background-attachment: scroll;
background-repeat: no-repeat;
background-position: 0% 0%;
background-size: ;
background-origin: padding-box;
background-clip: border-box;position: absolute;
top: 4px;
left: 322px;
z-index: 9999;}
.header_anons h1 {padding-left: 20px;font-size: 12px;
font-weight: normal;}
.header_anons a {color: #666666;
text-decoration: none;}
.header_top_search {height: 39px;
position:absolute;
top:77px;
left:216px;
height:39px;
background:#333 url(./top_search_background.gif) 0 50% repeat-x;}
.header_top_search form {display: inline;/*width: 50%;*/}
.header_top_search #search {border: none;
background: none;
font: 13px Arial, sans-serif;
color: #666;
outline: none;
top: 4px;
position: relative;
width: 440px;}
.header_top_search img {padding-top: 0px;}
.header_top_search .left_side {display: inline;
position: relative;
top: 9px;}
.header_top_search .right_side {
display: inline;
position: relative;
top: 9px;
}
.find_button {position:absolute;
top:9px;
left:490px;}
.footer {background-image: url(./bottom_background.gif);
background-attachment: scroll;
background-repeat: repeat-x;
background-position: 0% 0%;
background-size: ;
background-origin: padding-box;
background-clip: border-box;
background-color: white;}
.footer a {
color: #666666;
font-weight: bold;
}
.footer_links {position: relative;
top: -53px;
text-align: center;
margin-left: 221px;}
.footer_copyright {color: #666666;
position: relative;
top: -30px;
text-align: center;
margin-left: 221px;
font-weight: normal;
}
.main_right_side {width: 100%;
float: left;
overflow: hidden;}
.main_left_side {
float: left;
width: 220px;
margin-right: 24px;
margin-left: -100%;
}
.main_right_side_in {padding: 0 0 0 243px;}
.product_image {width: 360px;
float: left;
text-align: center;}
.product_description {padding-left: 25px;
margin-left: 360px;}
.product_vendor {
font-size: 16px;
line-height: 16px;}
.product_vendor a {text-decoration: none;
color: #999999;}
.product_description h1 {font-size: 16px;
line-height: 16px;
padding: 8px 0;
border-bottom: 1px solid #999;}
.product_rating {height: 34px;
line-height: 34px;
margin-bottom: 5px;
position: relative;}
.product_rating strong {line-height: 34px;
color: #999;
font-size: 10px;
font-weight: normal;}
.product_description div.product_rating span.star {
top: 8px;
left: 100px;
}
.product_rating span.star {
position: absolute;
right: 0;
top: 5px;
}
span.star, span.star span {
width: 75px;
height: 15px;
background: url(./star.png) repeat-x;
display: block;
}
span.star span {
width: auto;
background-position: 0 -15px;
position: static;
}
#tabs table {font-size: 12px;}
#tabs h3 {font-size: 14px;
font-weight: normal;
padding-bottom: 10px;}
#tabs .dotted_a {text-decoration: none;
border-bottom-color: #6089BF;
border-bottom-style: dashed;
border-bottom-width: thin;}
#tabs .dotted_a:hover {
text-decoration: none;
border-bottom-style: none;
}
.product_review_tabs .product_review_tab {font: 13px/16px CricketBold, fantasy;
color: #666;
border-bottom: 1px dashed #666;
padding: 0;
cursor: pointer;
text-align: center;
white-space: nowrap;
display: block;
float: left;
height: 16px;
margin: 8px 0 7px;}
.product_review_tabs .select {color: white;
padding: 8px 15px;
height: 16px;
background: #666;
border-radius: 8px;
cursor: default;
line-height: 16px;
margin: 0;}
#product_reviews_new form label {display: block;
height: 20px;
width: 180px;
line-height: 20px;
clear: left;
color: #666;
float: left;
margin-bottom: 10px;
font-size: 14px;}
#product_reviews_new form span {
float: left;
cursor: pointer;
}
#product_reviews_new form span.star span {width: 0px;
background-position: 0 -15px;
position: static;}
#product_reviews_new form input.text {
float: left;
width: 50%;
font-size: 18px;
}
#product_reviews_new form textarea {margin-bottom: 15px;
float: left;
width: 50%;
font-size: 18px;
}
#product_reviews_new form img {background-color: #cccccc;
float: left;
margin-left: 10px;
margin-top: -3px;}
.product_price {padding: 25px 0 17px 0;
overflow: hidden;
margin: 0;}
.product_price strong {float: left;
height: 26px;
line-height: 26px;
font-weight: normal;
padding-right: 15px;
color: #666;
font-size: 16px;
margin-top: 3px;}
.product_price em {color: #DF9D19;
font: bold 26px/26px Tahoma, Helvetica, sans-serif;
display: block;
float: left;
margin: 0 60px 0 10px;}
a.butt.buy {
height: 29px;
line-height: 29px;
font-size: 18px;
padding: 0 15px;
}
a.butt.buy, a.butt.buy span {
background-image: url(./but_buy.png);
}
a.butt {
height: 20px;
color: white;
font: 13px/20px 'CricketBold', fantasy;
background: url(./but_grey.png) no-repeat;
padding: 0 10px;
display: block;
position: relative;
float: left;
cursor: pointer;
}
a.butt.buy span {
height: 29px;
width: 15px;
}
a.butt span {
width: 10px;
height: 20px;
position: absolute;
right: 0;
top: 0;
background: white url(/i/but_grey.png) 100% 0 no-repeat;
display: block;
}
.product_color {height: 34px;
line-height: 34px;
padding: 13px 8px 0 8px;
margin: 0 0 0 -8px;
background: #F5F6EF;
color: #666;
font-size: 11px;}
.product_color strong {font-weight: normal;
float: left;
padding-right: 15px;}
.product_color span {display: block;
padding: 1px 5px 5px 1px;
background: white;
overflow: hidden;
float: left;}
.product_color .label {float: left;
width: 27px;
height: 27px;
padding: 1px;
cursor: pointer;}
.product_color .label input {
display: none;
}
.product_color .label i {width: 25px;
height: 25px;
display: block;
margin: 2px;
border: 1px solid #ffffff;}
.product_color .label u {
width: 21px;
height: 21px;
display: block;
margin: 2px;
}
.product_color .label .selected_color {border: 1px solid #000;}
.product_size {
height: 30px;
line-height: 30px;
padding: 13px 8px 13px 8px;
margin: 0 0 0 -8px;
background: #F5F6EF;
color: #666;
font-size: 11px;
}
.product_size strong {
font-weight: normal;
float: left;
padding-right: 15px;
}
.product_size select {margin-top: 5px;}
.product_size .size_chart {color: #666;
padding-left: 15px;
text-decoration: underline;
cursor: pointer;}
.product_size .already_set_color {display: none;}
.product_size .unselect_color {display: inline;
padding: 10px;background-color: #D95F5F;
font-size: 14px;
color: #eeeeee;
text-transform: uppercase;}
.main_left_side_col {width: 228px;
border-right: 1px solid #CACACA;}
#left_side_tree {width: 188px;
margin: 0 0 20px 16px;
padding: 0;
list-style: none;}
#left_side_tree > li > a {background: #F19292;
color: white;
padding: 5px 8px;
margin-bottom: 2px;}
#left_side_tree a {
color: #666;
padding: 5px 0px;
display: block;
}
#left_side_tree ul {
margin: 0;
padding: 0;
list-style: none;
}
#left_side_tree > li > ul > li > a {
background: #FFE4E4;
padding-left: 18px;
}
#left_side_tree > li > ul > li > ul {
padding-left: 28px;
}
#left_side_tree ul ul {
padding-left: 10px;
}
#left_side_tree ul {
margin: 0;
padding: 0;
list-style: none;
}
#left_side_tree a.open {
color: #363;
text-decoration: none;
}
#left_side_tree ul.minus a {
display: inline;
padding-left: 3px;
}
.left_col_recomend_title {height: 33px;
background-image: url(./left_side_col_recomend_title.gif);
background-attachment: scroll;
background-repeat: no-repeat;
background-position: 0% 0%;
background-origin: padding-box;
background-clip: border-box;
background-color: white;
color: #ffffff;
font: normal 16px/16px CricketBold, sans-serif;
padding-top: 8px;
padding-left: 26px;}
.left_col_recomend_product {margin-right: 33px;
margin-left: 24px;}
.left_col_recomend_descr {background-color: #f5f6ef;
margin-right: 9px;
text-align: center;
padding-top: 8px;
padding-bottom: 8px;
margin-bottom: 10px;}
.left_col_recomend_descr a {display: block;color: #212120;
text-decoration: none;}
.left_col_recomend_descr strong {display: block;margin-top: 11px;
font-size: 18px;
color: #666666;}