body {
    font: 62.5%/140% Tahoma, Arial, sans-serif;
}

.buttonBox .nextCheckout SPAN {
    background: url("/images/ruout/icons/next.png") no-repeat scroll 100% 50% transparent;
    padding: 0 18px 0 0;
}

.buttonBox .nextCheckout, #cart .buttonBox .button {
    color: #FFFFFF;
    font-size: 1.4em;
}

.buttonBox A {
    color: #5D5D5D;
    font-size: 1.2em;
    line-height: 12px;
    text-decoration: none;
}

.registration A {
    color: #008ABD;
}

.ui-button, .buttonBox INPUT[type="submit"], .nextCheckout, .zForm INPUT[type="submit"], .zForm .formButtonBox INPUT, #cart .button, #addToCartBtn, .newsletterReg .inputBut INPUT {
    color: #FFFFFF;
    cursor: pointer;
}

.registration .key {
    color: #5D5D5D;
    display: inline-block;
    font-size: 1.2em;
    width: 103px;
}

.registration .value {
    display: inline-block;
    vertical-align: top;
    width: 263px;
}

.value input {
    width: 250px;
}

.registration LI {
    list-style: none outside none;
    margin: 9px 0;
}

.registration .legend P {
    color: #B1B1B1;
    font-size: 11px;
}

.registrationOrder .nextCheckout {
    margin: -5px 0 0;
}

.buttonBox .nextCheckout, #cart .buttonBox .right {
    float: right;
}

.buttonBox .nextCheckout, #cart .buttonBox .button {
    color: #FFFFFF;
    font-size: 1.4em;
    height: 22px;
    padding: 10px 13px 0;
    width: auto;
}

.registration A {
    color: #008ABD;
}

.buttonBox A {
    color: #5D5D5D;
    display: block;
    font-size: 1.2em;
    line-height: 12px;
    text-decoration: none;
}

.ui-button, .buttonBox INPUT[type="submit"], .nextCheckout, .zForm INPUT[type="submit"], .zForm .formButtonBox INPUT, #cart .button, #addToCartBtn, .newsletterReg .inputBut INPUT {
    background: -moz-linear-gradient(center top, #FBA53E 0pt, #F9A238 13%, #FAA02F 23%, #FA9A26 40%, #F99214 60%, #F99113 67%, #F78D0A 80%, #F88C06 100%) repeat scroll 0 0 transparent;
    border: 0 none;
    border-radius: 3px 3px 3px 3px;
    color: #FFFFFF;
    cursor: pointer;
    height: 32px;
    margin: 0;
    padding: 0;
    width: 100%;
}

.ui-button:hover, .buttonBox:hover INPUT[type="submit"], .nextCheckout:hover, .zForm INPUT[type="submit"]:hover, .zForm .formButtonBox INPUT:hover, #cart .button:hover, #addToCartBtn:hover, .newsletterReg .inputBut INPUT:hover {
    background: -moz-linear-gradient(center top, #F88C06 0pt, #F78D0A 20%, #F99113 33%, #F99214 40%, #FA9A26 60%, #FAA02F 77%, #F9A238 87%, #FBA53E 100%) repeat scroll 0 0 transparent;
}

.postcode {
    width: 60px !important;
}

.cityKey {
    margin: 0 0 0 20px;
    width: 40px !important;
}

.cityValue input {
    width: 124px !important;
}

.key, .keyFirst {
    text-align: right;
    padding: 0 3px 0 0;
}

.forfree {
    width: 122px;
    display: inline-block;
}

.forfree input {
    width: 30px;
}

.forfree .value {
    width: 30px;
}

.forfree .key {
    width: 44px;
}

.forfree .keyFirst {
    width: 103px !important;
    font-size: 1.2em;
    color: #5D5D5D;
}

.forfreeFirst {
    width: 140px;
}

.forfreeFirst div {
    display: inline-block;
}

.forfreeFirst .value {
    width: 30px;
}

.forfreeFirst .value input {
    width: 30px;
}

.forfreeSecond {
    margin: 0 0 0 15px;
    width: 118px !important;
}

.keyLong {
    width: 60px !important;
}

.registration textarea {
    width: 253px;
}

.button_over {
    background-image: url("templates/defaultSchema/img/button_over_big.png");
    background-position: center -29px;
    background-repeat: no-repeat;
    vertical-align: middle; /*overflow: hidden;*/
    width: 99px;
    margin: 20px 0 0 200px;
}

.button_over:hover {
    background-position: center 1px;
}

.button_over a {
    display: block;
    font: 12px/20px CricketBold, sans-serif;
    height: 24px;
    color: #FFFFFF;
    text-decoration: none;
    padding: 6px 0 0 19px;
    /*text-align:center;
   /*padding:2px 0;*/
}

.validationAdvice {
    color: #696969;
    font-size: 1em;
    font-weight: normal;
}