		<div class="add_to_basket_page_title ui-corner-top">
			<div class="add_to_basket_page_title_vendor">{PRODUCT_VENDOR_NAME}</div>
			<div class="add_to_basket_page_title_name">{PRODUCT_NAME}</div>
			<div class="add_to_basket_page_title_code">арт: {PRODUCT_CODE}</div>
		</div>
		<div class="add_to_basket_page_main">
			<form id="add_to_basket_form">
			<input id="basket-pid" name="pid" type="hidden" value="{PRODUCT_ID}">
			<div class="basket-product_color">
			<strong>Цвет:</strong>
			<span>
				<!-- BEGIN basket-available-colors -->
				<label class="label">
				<input type="radio" id="basket-selected_color" name="selected_color" value="{COLOR_ID_SELECTED}">
				<i id="bi_selected_color_{COLOR_ID}" title="{COLOR_NAME}" class="{COLOR_SELECTED_CLASS}" onclick="SelectColor('selected_color', {COLOR_ID}, '{PRODUCT_URL}',{PRODUCT_ID});"><u class="ui-corner-all" style="background-color: {COLOR_COLOR};"></u></i>
				</label>
				<!-- END basket-available-colors -->
			</span>
			</div>

            <!-- BEGIN av-col-ad -->
            <div class="basket-product_color" id="adtnl_basket">
            <strong>Гамма:</strong>
            <span>
                <!-- BEGIN available-colors_ad -->
                <label class="label">
                <input id="selected_color_ad" type="radio" name="selected_color" value="{COLOR_ID_AD}">
                <i id="i_selected_color_{COLOR_ID_AD}" title="{COLOR_NAME_AD}" onclick="SelectColor('selected_color', {COLOR_ID_AD}, '{PRODUCT_URL}', {PRODUCT_ID});"><u class="ui-corner-all" style="background-color: {COLOR_COLOR_AD};"><img src="{=url_product_image}/width.-33/height.-33/color.-{COLOR_ID_AD}/{PRODUCT_URL}" height="33" width="33" /></u></i>
                </label>
                <!-- END available-colors_ad -->
            </span>
            </div>
            <!-- END av-col-ad -->

			<div class="basket-product_size">
				<strong>Размер:</strong>
				<select id="basket-selected_size" onChange="CheckSelectedSize();" name="selected_size">
					<option value="0">- выберите -</option>
					<!-- BEGIN available-sizes -->
					<option class="avail_sizes" value="{SIZE_ID}">{SIZE_NAME}</option>
					<!-- END available-sizes -->
				</select>
			</div>
			<div class="basket-product_qty">
				<strong>Количество:</strong>
				<input id="basket-selected_qty" name="selected_qty" type="text" value="1" size="3">
			</div>
			<div class="basket-buttons">
				<a href="javascript:void(0);" onClick="ButtonAdd2BasketClose();"><img src="/{IMAGE_DIR}/img/btn_cancel.gif" width="72" height="20" border="0" alt="Отмена" title="Отмена"></a>
				<a href="javascript:void(0);" onClick="ButtonAdd2BasketOK();"><img src="/{IMAGE_DIR}/img/btn_ok.gif" width="72" height="20" border="0" alt="OK" title="OK"></a>
			</div>
			</form>
		</div>