<div style="overflow: auto;height: 270px;">
<table cellpadding="0" cellspacing="0" width="100%" style="padding: 10px;">
<!-- BEGIN basket_preview_products -->
<tr>
<td width="100%">{BP_NAME}</td>
<td nowrap>{BP_QTY} {BP_UNIT}</td>
</tr>
<!-- END basket_preview_products -->
</table>
</div>
<div style="position: absolute; right: 3px; bottom: 3px;">
<button id="basket_preview_close">Закрыть</button>
</div>
<script type="text/javascript">
	$(function() {
		$( "#basket_preview_close" ).button();
		$( "#basket_preview_close" ).click(function() { HideBasketInfo(); });
	});
</script>