<div>
<a href="{=url_basket}" onmouseover=""><div style="padding: 7px;"><span>Корзина:</span><em>{BASKET_ITEMS}</em><strong>{BASKET_SUM} р</strong></div></a>
<div id="basket_preview_window"></div>
</div>
<!--ShowBasketInfo();-->