<!-- BEGIN index_general -->
{OVERALL_HEADER}

<script>
    $(document).ready(function() {

    	document.onmousemove = function(e) {
    		var mCur = mousePageXY(e);
    		MouseX = mCur.x;
    		MouseY = mCur.y;
    	};
    });
</script>
<div style="margin-right:8px; margin-left: 8px;">
	<div class="page">
		<div class="main_right_side">
			<div class="main_right_side_in">

				<div id="basket_page" class="basket_page">

					<h1>Корзина</h1>

					<!-- BEGIN empty_basket -->
					<h2>Ваша корзина пока пуста</h2>
					<div>Если вы считаете, что это ошибка,<br> и вы добавляли товары,<br> пожалуйста, <a href="#">свяжитесь с нами</a>.</div>
					<!-- END empty_basket -->

					<!-- BEGIN not_empty_basket -->
					<table width="100%" border="0" cellpadding="0" cellspacing="0" id="basket_info">
					<tr>
						<th style="width:130px;"><img src="/{IMAGE_DIR}/img/d.gif" width="130" height="1" border="0"></th>
						<th class="border_bottom" style="min-width:300px;"><img src="/{IMAGE_DIR}/img/d.gif" width="10" height="1" border="0"></th>
						<th class="border_bottom" style="width:130px;"><img src="/{IMAGE_DIR}/img/d.gif" width="130" height="1" border="0"><br>Количество</th>
						<th class="border_bottom" style="width:150px;"><img src="/{IMAGE_DIR}/img/d.gif" width="130" height="1" border="0"><br>Цена</th>
					</tr>
					<!-- BEGIN basket_items -->
					<tr>
						<td align="center"><a href="{=url_product}/{PRODUCT_URL}"><img src="{=url_product_image}/width.-115/height.-115/color.-{PRODUCT_COLOR}/{PRODUCT_URL}" width="115" height="115" border="0" alt="{PRODUCT_NAME}" title="{PRODUCT_NAME}"></a></td>
						<td class="border_bottom">
							{PRODUCT_I}. {PRODUCT_VENDOR}<br>
							<a href="{=url_product}/{PRODUCT_URL}"><h2>{PRODUCT_NAME}</h2></a><br>
							арт. {PRODUCT_CODE}<br>
							<div style="margin-top: 15px;margin-bottom: 10px;">
								<div style="display:inline;margin-right:15px;">Размер: {PRODUCT_SIZE}</div>
								<div style="display:inline;">Цвет:
									<div style="display:inline;border: 1px solid #999999; margin-right:15px;"><div
										style="display:inline;background-color:{PRODUCT_COLOR0_RGB};"><img src="/{IMAGE_DIR}/img/d.gif" width="10" height="20" border="0"></div><div
										style="display:inline;background-color:{PRODUCT_COLOR_RGB};"><img src="/{IMAGE_DIR}/img/d.gif" width="10" height="20" border="0"></div></div>
									{PRODUCT_COLOR0_NAME} + {PRODUCT_COLOR_NAME}</div>
							</div>
						</td>
						<td align="center" valign="center" class="border_bottom"><input onFocus="GoEditQty('{PRODUCT_ID}', '{PRODUCT_COLOR}', '{PRODUCT_SIZE_ID}')" onKeyUp="UpdateQty('{PRODUCT_ID}', '{PRODUCT_COLOR}', '{PRODUCT_SIZE_ID}', this)" name="qty_{PRODUCT_ID}_{PRODUCT_COLOR}_{PRODUCT_SIZE_ID}" id="qty_{PRODUCT_ID}_{PRODUCT_COLOR}_{PRODUCT_SIZE_ID}" type="text" value="{PRODUCT_QTY}" style="text-align:center;" size="5"></td>
						<td align="center" valign="bottom" class="border_bottom">
							<div style="background-color:#f5f6ef;line-height:45px;">{PRODUCT_SUM} {=money_rur}</div>
							<div style="cursor:pointer;font-size:11px;color:#999;text-decoration:underline;margin-bottom: 8px;margin-top: 8px;"
								onClick="DeleteFromBasket('{PRODUCT_ID}', '{PRODUCT_COLOR}', '{PRODUCT_SIZE_ID}');">Убрать из корзины</div>
						</td>
					</tr>
					<!-- END basket_items -->
					<tr>
						<td style="width:130px;"><img src="/{IMAGE_DIR}/img/d.gif" width="130" height="1" border="0"></td>
						<td align="right" class="border_bottom" colspan="2" style="font-weight:bold;font-size:14px;">Сумма заказа:</td>
						<td align="center" class="border_bottom" style="line-height:50px;font-weight:bold;font-size:22px;">{PRODUCTS_SUM} {=money_rur}</td>
					</tr>
					</table>

					<div style="text-align:center;margin-top:50px;margin-bottom:250px;">
						<a href="javascript:void(0);" onclick="ButtonHowToPay();" class="butt buy" title="Оформить">Оформить<span></span></a>
					</div>
					<!-- END not_empty_basket -->

				</div>

			</div>
		</div>
		<div class="main_left_side">
			<div class="main_left_side_col">
				{BLOCK_MAIN_CATS_DROP}
		</div>
	</div>
</div>
<div class="how-to-buy-wrap ui-corner-top" style="display:none;">
    <div class="add_to_basket_page ui-corner-top">
        <div id="loading">
            <img src="/{IMAGE_DIR}/img/loading.gif" width="235" height="235" border="0" style="padding-top: 18px;" alt="загрузка">
        </div>
    </div>
    <div class="add_to_basket_page_shadow1">*</div>
</div>
<!--<div id="TB_overlay">-->

<!--</div>-->
<div class="wrapWhatSelect">
    <div class="whatSelect">

        <div style="text-align:center;" class="firstButton">
            <a href="/t/kontakty" onclick="" class="butt buy" title="Оформить">Самовывоз<span></span></a>
        </div>
        <div style="text-align:center;" class="secondButton">
            <a href="/o" onclick="howtopay();" class="butt buy" title="Оформить">Курьер<span></span></a>
        </div>
        <p>
            <a href="javascript:void(0);" onclick="close_window();">Закрыть</a>
        </p>
    </div>
</div>

<div id="add_to_basket2" class="ui-corner-top" style="">
    <div class="add_to_basket_page ui-corner-top" id="howToBuy">
        <div id="loading">
            <img src="/{IMAGE_DIR}/img/loading.gif" width="235" height="235" border="0" style="padding-top: 18px;" alt="загрузка">
        </div>
    </div>
    <div class="add_to_basket_page_shadow1">*</div>

</div>

<script type="text/javascript">
var current_pid		=	0;
var current_color	=	0;
var current_size	=	0;
var current_value	=	'';
var current_timer	=	0;
var close_window = function(){
        $("#TB_overlay").css("width","0");
        $(".whatSelect").hide();
    }


$(function() {
    $("#add_to_basket2").draggable();
});





function GoEditQty(pid, color, size) {	current_value	=	$('#qty_'+pid+'_'+color+'_'+size).val();
	current_pid		=	pid;
	current_color	=	color;
	current_size	=	size;}

function UpdateQty(pid, color, size, obj) {
    $($(obj).parent().next().children()[0]).text('Загрузка...');
    /*var price = $($(obj).parent().next().children()[0]).html();
    price = price.replace(' ','');
    price = price.slice(0,-1);
    var qount = $(obj).attr("value");
    var cur_price = price*qount;

    $($(obj).parent().next().children()[0]).text(cur_price);   */
    if ($('#qty_'+pid+'_'+color+'_'+size).val() != current_value) {
		if (current_timer) clearInterval(current_timer);
     	current_timer	=	setInterval(UpdateQtyDo, 1500);
	}
}

function UpdateQtyDo() {
	clearInterval(current_timer);
	var w = $(window);
	$(".add_to_basket_page_all_shadow").css("width", (w.width()-1)+"px");
	$(".add_to_basket_page_all_shadow").css("height", getDocHeight()+"px");
	$('.add_to_basket_page_all_shadow').toggle();

	var b		=	getCookie('basket');
	var nb		=	'';
	if (typeof b != 'undefined') {
		var	bs		=	b.split('-');
		for (var i=0; i<(bs.length-1); i++) {
			var z	=	bs[i].split('.');
			var	c1	=	z[0]+'+'+z[1]+'+'+z[2];
			var	c2	=	current_pid+'+'+current_color+'+'+current_size;
			if ( c1 == c2 ) {
				z[3]	=	$('#qty_'+current_pid+'_'+current_color+'_'+current_size).val();
			}
			nb +=	z[0] + '.' + z[1] + '.' + z[2] + '.' + z[3] + '-';
		}
	}
	setCookie("basket", nb, {expires: 630720000, path: "/"});

	$('.main_right_side_in').load('{=url_basket} #basket_page', function() {
		$('.header_top .header_top_basket').load('./autocomplete.php?what=update_basket');
        /*$.post('/autocomplete.php',{what:'update_qty'},function(data){
                          // alert(data_s);
                        $($(obj).parent().next().children()[0]).text(data);
                        });    */
		$('.add_to_basket_page_all_shadow').toggle();
		$('#qty_'+current_pid).focus();
	});

    window.location.reload(true);
}

function DeleteFromBasket(pid, color, size) {
	var w = $(window);
	$(".add_to_basket_page_all_shadow").css("width", (w.width()-1)+"px");
	$(".add_to_basket_page_all_shadow").css("height", getDocHeight()+"px");
	$('.add_to_basket_page_all_shadow').toggle();

	var b		=	getCookie('basket');
	var nb		=	'';
	if (typeof b != 'undefined') {
		var	bs		=	b.split('-');
		for (var i=0; i<(bs.length-1); i++) {
			var z	=	bs[i].split('.');
			var	c1	=	z[0]+'+'+z[1]+'+'+z[2];
			var	c2	=	pid+'+'+color+'+'+size;
			if ( c1 != c2 ) {
				nb +=	z[0] + '.' + z[1] + '.' + z[2] + '.' + z[3] + '-';
			}
		}
	}
	setCookie("basket", nb, {expires: 630720000, path: "/"});

	$('.main_right_side_in').load('{=url_basket} #basket_page', function() {
		$('.header_top .header_top_basket').load('./autocomplete.php?what=update_basket');
		$('.add_to_basket_page_all_shadow').toggle();
	});
    window.location.reload(true);
    $("#TB_overlay").css({'width':"100%"});
}
</script>

{OVERALL_FOOTER}
<!-- END index_general -->