<div class="main_cats_drop_button">
	<a href="javascript:void(0);" onClick="ToggleMainCatsDrop();">
		<div class="title">Все разделы магазина<img src="/{IMAGE_DIR}/img/arrow2.gif" alt="" type="2" width="12" border="0" style="top: 9px; position: relative; float: right; right: 20px;"></div>
	</a>
</div>
<div class="main_cats_drop_window">
	<div class="main_cats_drop_window_page">
		<div style="background-color: #330000; height: 3px;"><img src="/{IMAGE_DIR}/img/d.gif" alt="" width="1" height="3" border="0"></div>
		<div style="height: 4px;"></div>
		<!-- BEGIN main_cats_main_title -->
		<div class="main_cats_main_title" style="{MAIN_CAT_NO_BORDER}">
			<b onclick="toggleThis(this);" cat="{MAIN_CAT_ID}">{MAIN_CAT_NAME}</b>
			<span style="display:none;">
			<!-- BEGIN main_cats_sub_cats -->
			<a href="{=url_cat}/{SUB_CAT_URL}">{SUB_CAT_NAME}</a>{SUB_CAT_POINT}
			<!-- END main_cats_sub_cats -->
			</span>
		</div>
		<!-- END main_cats_main_title -->
	</div>
	<!--<div class="main_cats_drop_window_shadow1">*</div>-->
</div>