				<div class="filters">
                    <!-- BEGIN price_global -->
					<div class="filter_size">Цена:
						<div class="filter_prices">
						от <span id="filter_price_from">{FILTER_PRICE_MIN}</span> до <span id="filter_price_to">{FILTER_PRICE_MAX}</span>
						<div style="height: 10px;"></div>
						<div id="price-range"></div>
						</div>
					</div>
                    <!-- END price_global -->
					<div style="height: 1px;"></div>
                    <!-- BEGIN size_global -->
					<div class="filter_size">Размер:
						<div class="filter_sizes">
						<!-- BEGIN filter-sizes-groups -->
						<div style="font-weight: normal; padding-top: 5px;">{FILTER_SIZE_GROUP_NAME}</div>
						<!-- BEGIN filter-sizes -->
							<a href="javascript:void(0)" onClick="FiltersSelectSize('{FILTER_SIZE_ITEM_ID}', 'filter_size_item_{FILTER_SIZE_ITEM_NUM}')"><div id="filter_size_item_{FILTER_SIZE_ITEM_NUM}" class="filter_size_item {FILTER_SIZE_ITEM_SELECTED}">{FILTER_SIZE_ITEM_NAME}</div></a>
						<!-- END filter-sizes -->
						<!-- END filter-sizes-groups -->
						</div>
					</div>
                    <!-- END size_global -->
					<div style="height: 1px;"></div>
                    <!-- BEGIN color_global -->
					<div class="filter_size">Цвет:
						<div class="filter_colors">
						<!-- BEGIN filter-colors -->
							<a href="javascript:void(0)"
								onClick="FiltersSelectColor('{FILTER_COLOR_ITEM_ID}', 'filter_color_item_{FILTER_COLOR_ITEM_NUM}')"><div
									id="filter_color_item_{FILTER_COLOR_ITEM_NUM}" title="{FILTER_COLOR_ITEM_NAME}" class="filter_color_item ui-corner-all {FILTER_COLOR_ITEM_SELECTED}"><div class="filter_color_item_in ui-corner-all"
										style="background-color: {FILTER_COLOR_ITEM_COLOR};"></div></div></a>
						<!-- END filter-colors -->
						<div class="clear"></div>
						</div>
					</div>
                    <!-- END color_global -->
					<div style="height: 1px;"></div>
                    <!-- BEGIN vendor_global -->
					<div class="filter_size">Производитель:
						<div class="filter_vendors">
							<!-- BEGIN filter-vendors -->
							<div class="filter_vendor_item" id="filter_vendor_item_{FILTER_VENDOR_ITEM_NUM}" style="{FILTER_VENDOR_ITEM_SELECTED}"><a href="javascript:void(0)" onClick="FiltersSelectVendor('{FILTER_VENDOR_ITEM_ID}', 'filter_vendor_item_{FILTER_VENDOR_ITEM_NUM}')">{FILTER_VENDOR_ITEM_NAME}</a></div>
							<!-- END filter-vendors -->
						</div>
					</div>
                    <!-- BEGIN vendor_global -->
                    <!-- END vendor_global -->
				</div>
