<div id="ajax_products_place" style="padding-left: 2px;">
    <div class="products_title">
        <div class="title_h1"><h1>{CATALOG_TITLE}</h1></div>
    </div>
    <!-- BEGIN found_products -->
    <div class="product_cell">
        <div class="product_num">{ITEM_NUM}.</div>
        <div><a href="{=url_product}/c.-{CATALOG_URL}/{PRODUCT_URL}" title="{PRODUCT_NAME}"><img id="product_main_photo" src="{=url_product_image}/width.-213/height.-213/{PRODUCT_URL}" width="213" height="213" border="0" alt="{PRODUCT_NAME}" title="{PRODUCT_NAME}"></a></div>
        <span>{PRODUCT_VENDOR_NAME}</span>
        <strong><a href="{=url_product}/c.-{CATALOG_URL}/{PRODUCT_URL}" title="{PRODUCT_NAME}">{PRODUCT_NAME}</a></strong>
        <div class="art_rating">
            <div class="code">арт. {PRODUCT_CODE}</div>
            <div class="crating"><span class="star"><span style="width:{PRODUCT_RATING}%"></span></span></div>
        </div>
        <div class="sizes_price">
            <div class="sizes"><div style="line-height: 13px;">В наличии:<br><a href="javascript:void(0);" onClick="ShowAvSizes('{PRODUCT_URL}', '<!-- BEGIN av_sizes -->{AV_SIZE_NAME} {AV_SIZE_POINT}<!-- END av_sizes -->')">{PRODUCT_SIZES} размеров</a></div></div>
            <div class="product_price  {PRICE_OLD_STYLE}" style="padding: 0px;" ><span class="oldPriceThrow"><b>{PRODUCT_OLD_PRICE}{=money_rur}</b></span><span class='priceMain'><em>{PRODUCT_PRICE}{=money_rur}</em></span> </div>
            <!--<div class="product_price  {PRICE_OLD_STYLE}" style="padding: 0px; min-width:150px; text-align:right;"><span class='priceMain'><em>{PRODUCT_PRICE}</em><i>&thinsp;{=money_rur}</i></span><b>{PRODUCT_OLD_PRICE}{=money_rur}</b></div>-->
        </div>
        <div class="clear"></div>
        <div class="button_line">
            <div class="button_over" style="{PRODUCT_BUY_HIDDEN}">
            <a href="javascript:void(0);" OnClick="ButtonAdd2Basket('{PRODUCT_URL}', '{PRODUCT_COLOR}');">Купить</a>
            </div>
        </div>
    </div>
    <!-- END found_products -->
    <!-- BEGIN notfound_products -->
    <div style="text-align: center;">
        <img src="/{IMAGE_DIR}/img/notfound.jpg" width="400" height="300" border="0" alt="ничего не найдено">
        <h1 style="line-height: 100px;">По выбранным параметрам не найдено ни одного товара</h1>
    </div>
    <!-- END notfound_products -->
    <div class="already_set_color" style="display: none;"></div>
</div>