<!-- BEGIN index_general -->
{OVERALL_HEADER}

<script type="text/javascript">
    var size_array = Array();
    $(document).ready(function() {

    	document.onmousemove = function(e) {
    		var mCur = mousePageXY(e);
    		MouseX = mCur.x;
    		MouseY = mCur.y;
    	};

        // open menu's item what select
        var openItemMenu = {MAIN_CAT_ID_MENU};
        $(".main_cats_main_title b").each(function(){
            if ($(this).attr('cat') == openItemMenu)
                $(this).next().css("display","block");
        });
        // //open
    });
</script>

<div style="margin-right:8px; margin-left: 8px;">
	<div class="page">
		<div class="main_right_side">
			<div class="main_right_side_in" id="ajax_load_div" style="padding: 0 0 0 227px;">
				<div id="ajax_products_place" style="padding-left: 2px;">
				<div class="products_title">
					<div class="title_h1"><h1>{CATALOG_TITLE}</h1></div>
				</div>
				<!-- BEGIN found_products -->
				<div class="product_cell">
					<div class="product_num">{ITEM_NUM}.</div>
					<div><a href="{=url_product}/c.-{CATALOG_URL}/{PRODUCT_URL}" title="{PRODUCT_NAME}"><img id="product_main_photo" src="{=url_product_image}/width.-213/height.-213/{PRODUCT_URL}" width="213" height="213" border="0" alt="{PRODUCT_NAME}" title="{PRODUCT_NAME}"></a></div>
					<span>{PRODUCT_VENDOR_NAME}</span>
					<strong><a href="{=url_product}/c.-{CATALOG_URL}/{PRODUCT_URL}" title="{PRODUCT_NAME}">{PRODUCT_NAME}</a></strong>
					<div class="art_rating">
						<div class="code">арт. {PRODUCT_CODE}</div>
						<div class="crating"><span class="star"><span style="width:{PRODUCT_RATING}%"></span></span></div>
					</div>
					<div class="sizes_price">
						<div class="sizes"><div style="line-height: 13px;">В наличии:<br><a href="javascript:void(0);" onClick="ShowAvSizes('{PRODUCT_URL}', '<!-- BEGIN av_sizes -->{AV_SIZE_NAME} {AV_SIZE_POINT}<!-- END av_sizes -->')">{PRODUCT_SIZES} размеров</a></div></div>
                        <div class="product_price  {PRICE_OLD_STYLE}" style="padding: 0px;" ><span class="oldPriceThrow"><b>{PRODUCT_OLD_PRICE}{=money_rur}</b></span><span class='priceMain'><em>{PRODUCT_PRICE}{=money_rur}</em></span> </div>
                        <!--<div class="product_price  {PRICE_OLD_STYLE}" style="padding: 0px; min-width:150px; text-align:right;"><span class='priceMain'><em>{PRODUCT_PRICE}</em><i>&thinsp;{=money_rur}</i></span><b>{PRODUCT_OLD_PRICE}{=money_rur}</b></div>-->
					</div>
					<div class="clear"></div>
					<div class="button_line">
						<div class="button_over" style="{PRODUCT_BUY_HIDDEN}">
						<a href="javascript:void(0);" OnClick="ButtonAdd2Basket('{PRODUCT_URL}', '{PRODUCT_COLOR}');">Купить</a>
						</div>
					</div>
				</div>
				<!-- END found_products -->
				<!-- BEGIN notfound_products -->
				<div style="text-align: center;">
					<img src="/{IMAGE_DIR}/img/notfound.jpg" width="400" height="300" border="0" alt="ничего не найдено">
					<h1 style="line-height: 100px;">По выбранным параметрам не найдено ни одного товара</h1>
				</div>
				<!-- END notfound_products -->
				<div class="already_set_color" style="display: none;"></div>
				</div>
			</div>
		</div>
		<div class="main_left_side">
			<div class="main_left_side_col">
				{BLOCK_MAIN_CATS_DROP}

				<!--<ul id="left_side_tree">-->
				<!--<li>-->
					<!--<h2>{CAT_LEVEL0_NAME}</h2>-->
					<!--<ul>-->
					<!--&lt;!&ndash; BEGIN cat_level1 &ndash;&gt;-->
					<!--<li>-->
						<!--<a href="{=url_cat}/{CAT_LEVEL1_URL}">{CAT_LEVEL1_NAME}</a>-->
						<!--<ul>-->
							<!--&lt;!&ndash; BEGIN cat_level2 &ndash;&gt;-->
							<!--<li>-->
							<!--<a href="{=url_cat}/{CAT_LEVEL2_URL}" class="{CAT_LEVEL2_OPEN}">{CAT_LEVEL2_NAME}</a>-->
							<!--<ul class="minus">-->
								<!--&lt;!&ndash; BEGIN cat_level3 &ndash;&gt;-->
								<!--<li>-<a href="{=url_cat}/{CAT_LEVEL3_URL}" class="{CAT_LEVEL3_OPEN}">{CAT_LEVEL3_NAME}</a></li>-->
								<!--&lt;!&ndash; END cat_level3 &ndash;&gt;-->
							<!--</ul>-->
							<!--</li>-->
							<!--&lt;!&ndash; END cat_level2 &ndash;&gt;-->
						<!--</ul>-->
					<!--</li>-->
					<!--&lt;!&ndash; END cat_level1 &ndash;&gt;-->
					<!--</ul>-->
				<!--</li>-->
				<!--</ul>-->


				{BLOCK_FILTERS_ROW}
			</div>
		</div>
	</div>
</div>

<div id="dialog-sizes" title="Доступные размеры">
</div>
<script type="text/javascript">
$(function() {
	$( "#dialog:ui-dialog" ).dialog( "destroy" );
	$( "#dialog-sizes" ).dialog({
		autoOpen: false,
		height: 126,
		width: 277,
		modal: true,
		resizable: false
	});
	$( "#price-range" ).slider({
			range: true,
			min: {FILTER_PRICE_MIN_VALUE},
			max: {FILTER_PRICE_MAX_VALUE},
			values: [ {FILTER_PRICE_MIN_VALUE0}, {FILTER_PRICE_MAX_VALUE0} ],
			slide: function( event, ui ) {
				$( "#filter_price_from" ).html(Number_Format(ui.values[ 0 ]));
				$( "#filter_price_to" ).html(Number_Format(ui.values[ 1 ]));
			},
			change: FiltersSelectPrice
		});
});
var	script_find			=	'{SCRIPT_FIND}';
var	script_price_min	=	'{SCRIPT_PRICE_MIN}';
var	script_price_max	=	'{SCRIPT_PRICE_MAX}';
var	script_size			=	'{SCRIPT_SIZE}';
var	script_color		=	'{SCRIPT_COLOR}';
var	script_vendor		=	'{SCRIPT_VENDOR}';
var script_url			=	'{SCRIPT_URL}';
//    if (typeof(size_array) == undefined)    {
//    size_array.push('{SCRIPT_SIZE}');        }
</script>

{OVERALL_FOOTER}
<!-- END index_general -->