        <script type='text/javascript'>
            function doneChoice(){
                var radioThis = $("#add_to_basket_form input:radio").filter(":checked").val();
                if (typeof(radioThis) == 'undefined'){
                    alert ("Выберите одно из значений");
                    return false;
                }
                if (radioThis == 'firstValue'){
                    window.location.href = "/t/kontakty";
                    return false;
                }
                if (radioThis == 'secondValue'){
                    $("#add_to_basket_form").submit();
                    return false;
                }
            }
        </script>
        <div class="how_to_buy ui-corner-top">
			<div class="scene">Способ доставки</div>
		</div>
		<div class="htb-main">
			<form id="add_to_basket_form" action="/o" method="post">
                <div class="radioCss"><input type="radio" name="howbuy" value="firstValue" /> Самовывоз</div>
                <div class="radioCss"><input type="radio" name="howbuy" value="secondValue" /> Курьером</div>
                <div class="basket-buttons">
                    <a onclick="HowToBuyClose();" href="javascript:void(0);"><img width="72" height="20" border="0" title="Отмена" alt="Отмена" src="/{IMAGE_DIR}/img/btn_cancel.gif"></a>
                    <a href="javascript:void(0);" onClick="doneChoice();" class="marg-top"><img src="/{IMAGE_DIR}/img/btn_ok.gif" width="72" height="20" border="0" alt="OK" title="OK"></a>
                </div>
			</form>
		</div>