<!-- BEGIN index_general -->
{OVERALL_HEADER}
<!--<h2><a href="http://twitter.com/tehnolog">@SportFormShop</a></h2>-->
<!--<ul id="twitter_update_list">-->
<!--</ul>-->
<!--<script src="http://twitter.com/javascripts/blogger.js" type="text/javascript"></script>-->
<!--<script src="http://twitter.com/statuses/user_timeline/SportFormShop.json?callback=twitterCallback2&count=3" type="text/javascript">-->
<!--</script>-->



<script type="text/javascript">
//    var userName = 'romani4';
    var count = 5;

    $.getJSON("http://api.twitter.com/1/statuses/user_timeline.json?screen_name=SportFormShop&count=5&include_entities=1&include_rts=1&callback=?",{},
            showTweets,
            'jsonp');

    function showTweets(tweets)
    {
//        console.log(tweets);
        var months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
        var str = '<ul>';
//        str+= '<h2>Recent Tweets from ' + userName +'</h2>';
        var i = 0;
        $.each(tweets, function(index,value)
        {
            if(i == count)  return;
            var dt = new Date(value.created_at);
            str+= '<div class="blogitem">';
            str+= '<div class="dateblog">';
            str+= dt.getDate() + '-' + months[dt.getMonth()] + '-' + dt.getFullYear();
            str+= '</div>';
            str+= '<div class="prevblog">';
            str+= '<a href="http://twitter.com/SportFormShop/status/'+value.id_str+'" target="_blank">';
            str+= value.text;
            str+= '</a>';
            str+= '</div>';
            str+= '</div>';
            i++;
        });
        str+= '</ul>';
        $('#twitter').html(str);
//        $('#tweets > ul > li:odd').addClass('odd');
//        $('#tweets > ul > li:even').addClass('even');
    }


(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ru_RU/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
$(document).ready(function() {
    $("#twitter").append("<div style='margin-left:120px'><img src='{IMAGE_DIR}/img/ajax-loader.gif' title='Загрузка твиттов'/></div>");
	document.onmousemove = function(e) {
		var mCur = mousePageXY(e);
		MouseX = mCur.x;
		MouseY = mCur.y;
	};

    jQuery('#mycarousel').jcarousel({
              visible : 5,
              scroll : 1
            });
    $('#foo0').carouFredSel({
    					prev: '#prev2',
    					next: '#next2',
    					pagination: "#pager2"

    				});

    $('#mycrsim').jcarousel({
        visible : 4,
        scroll : 1

    });

//    $('#foo1').jcarousel({

//                      visible : 3,
//                      scroll : 1

//        				});


});



</script>

<div style="margin-right:8px; margin-left: 8px;">
	<div class="page">
		<div class="main_right_side">
            <div class="main_right_side_in">

                <div class="banner_image">
                    <div class="m-auto">
                        <div id="foo0">
                            <img src="{IMAGE_DIR}/img/b1.jpg" width="720" height="289" />
                            <img src="{IMAGE_DIR}/img/b2.jpg" width="720" height="289" />
                            <img src="{IMAGE_DIR}/img/b3.jpg" width="720" height="289" />
                            <!--<img src="templates/defaultSchema/img/Banner01.png" width="964" height="291" />-->
                            <!--<img src="templates/defaultSchema/img/Banner02.png" width="964" height="291" />-->
                            <!--<img src="templates/defaultSchema/img/Banner03.png" width="964" height="291" />-->
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="hpSlideshowControls">
                                                                                    <a title="" href="#" class="ui-buttonPrevSlide ui-buttonFit-l" id="prev2"><div class="icon i-slidePrev hiddenText">next</div></a>
                                                                                    <a title="" href="#" class="ui-buttonNextSlide ui-buttonFit-r" id="next2"><div class="icon i-slideNext hiddenText">prev</div></a>
                    </div>
                    <!--<div id="pager2" class="pager"></div>-->
                </div>
                
                <div class="most_popular" id="most_popular-j">

                    <div class="head_doubleline">НАИБОЛЕЕ ПОПУЛЯРНЫЕ ТОВАРЫ</div>

                    <ul id="mycrsim" class="content_box_left jcarousel-skin-tango2">

                        <li>
                            <div class="image">
                                <a href="{=url_product}/{PRODUCT_URL_0}">
                                    <img src="{=url_product_image}/width.-213/height.-213/{PRODUCT_URL_0}" width=213 height=213 />
                                </a>
                            </div>
                            <div>

                                <div class="vendor_main">{PRODUCT_VENDOR_0}</div>
                                <div class="name"><a href="{=url_product}/{PRODUCT_URL_0}">{PRODUCT_NAME_0}</a></div>
                                <div class="product_rating">
                                    <strong>арт: {PRODUCT_CODE_0}</strong>
                                    <span class="star"><span style="width:{PRODUCT_RATING_0}%"></span></span>
                                </div>
                                <div class="sizes_price">
                                    <div class="sizes"><div style="line-height: 13px;">В наличии:<br><a href="javascript:void(0);" onClick="ShowAvSizes('{PRODUCT_URL_0}', '<!-- BEGIN av_sizes_0 -->{AV_SIZE_NAME_0} {AV_SIZE_POINT_0}<!-- END av_sizes_0 -->')">{PRODUCT_SIZE_0} размеров</a></div></div>

                                    <div class="product_price  {PRICE_OLD_STYLE_0}" style="padding: 0px;" ><span class="oldPriceThrow"><b>{PRODUCT_OLD_PRICE_0}{=money_rur}</b></span><span class='priceMain'><em>{PRODUCT_PRICE_0}{=money_rur}</em></span> </div>

                                </div>

                            </div>
                            <div class="clear"></div>
                            <div class="button_line">
                                <div class="button_over" style="{PRODUCT_BUY_HIDDEN}">
                                <a href="javascript:void(0);" OnClick="ButtonAdd2Basket('{PRODUCT_URL_0}', '{PRODUCT_COLOR_0}');">Купить</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="image">
                            <a href="{=url_product}/{PRODUCT_URL_1}">
                                <img src="{=url_product_image}/width.-213/height.-213/{PRODUCT_URL_1}" width=213 height=213 />
                            </a>
                            </div>
                            <div>
                                <div class="vendor_main">{PRODUCT_VENDOR_1}</div>
                                <div class="name"><a href="{=url_product}/{PRODUCT_URL_1}">{PRODUCT_NAME_1}</a></div>
                                <div class="product_rating">
                                    <strong>арт: {PRODUCT_CODE_1}</strong>
                                    <span class="star"><span style="width:{PRODUCT_RATING_1}%"></span></span>
                                </div>
                                <div class="sizes_price">
                                    <div class="sizes"><div style="line-height: 13px;">В наличии:<br><a href="javascript:void(0);" onClick="ShowAvSizes('{PRODUCT_URL_0}', '<!-- BEGIN av_sizes_1 -->{AV_SIZE_NAME_1} {AV_SIZE_POINT_1}<!-- END av_sizes_1 -->')">{PRODUCT_SIZE_1} размеров</a></div></div>

                                    <div class="product_price  {PRICE_OLD_STYLE_1}" style="padding: 0px;" ><span class="oldPriceThrow"><b>{PRODUCT_OLD_PRICE_1}{=money_rur}</b></span><span class='priceMain'><em>{PRODUCT_PRICE_1}{=money_rur}</em></span> </div>

                                </div>
                            </div>
                            <div class="clear"></div>
                            <div class="button_line">
                                <div class="button_over" style="{PRODUCT_BUY_HIDDEN}">
                                <a href="javascript:void(0);" OnClick="ButtonAdd2Basket('{PRODUCT_URL_1}', '{PRODUCT_COLOR_1}');">Купить</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="image">
                            <a href="{=url_product}/{PRODUCT_URL_2}">
                                <img src="{=url_product_image}/width.-213/height.-213/{PRODUCT_URL_2}" width=213 height=213 />
                            </a>
                            </div>
                            <div>
                                <div class="vendor_main">{PRODUCT_VENDOR_2}</div>
                                <div class="name"><a href="{=url_product}/{PRODUCT_URL_2}">{PRODUCT_NAME_2}</a></div>
                            </div>
                            <div class="product_rating">
                                    <strong>арт: {PRODUCT_CODE_2}</strong>
                                    <span class="star"><span style="width:{PRODUCT_RATING_2}%"></span></span>
                            </div>
                            <div class="sizes_price">
                                    <div class="sizes"><div style="line-height: 13px;">В наличии:<br><a href="javascript:void(0);" onClick="ShowAvSizes('{PRODUCT_URL}', '<!-- BEGIN av_sizes_2 -->{AV_SIZE_NAME_2} {AV_SIZE_POINT_2}<!-- END av_sizes_2 -->')">{PRODUCT_SIZE_2} размеров</a></div></div>

                                <div class="product_price  {PRICE_OLD_STYLE_2}" style="padding: 0px;" ><span class="oldPriceThrow"><b>{PRODUCT_OLD_PRICE_2}{=money_rur}</b></span><span class='priceMain'><em>{PRODUCT_PRICE_2}{=money_rur}</em></span> </div>

                            </div>
                            <div class="clear"></div>
                            <div class="button_line">
                                <div class="button_over" style="{PRODUCT_BUY_HIDDEN}">
                                <a href="javascript:void(0);" OnClick="ButtonAdd2Basket('{PRODUCT_URL_2}', '{PRODUCT_COLOR_2}');">Купить</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="image">
                            <a href="{=url_product}/{PRODUCT_URL_3}">
                                <img src="{=url_product_image}/width.-213/height.-213/{PRODUCT_URL_3}" width=213 height=213 />
                            </a>
                            </div>
                            <div>
                                <div class="vendor_main">{PRODUCT_VENDOR_3}</div>
                                <div class="name"><a href="{=url_product}/{PRODUCT_URL_3}">{PRODUCT_NAME_3}</a></div>
                            </div>
                            <div class="product_rating">
                                    <strong>арт: {PRODUCT_CODE_3}</strong>
                                    <span class="star"><span style="width:{PRODUCT_RATING_3}%"></span></span>
                            </div>
                            <div class="sizes_price">
                                    <div class="sizes"><div style="line-height: 13px;">В наличии:<br><a href="javascript:void(0);" onClick="ShowAvSizes('{PRODUCT_URL}', '<!-- BEGIN av_sizes_3 -->{AV_SIZE_NAME_3} {AV_SIZE_POINT_3}<!-- END av_sizes_3 -->')">{PRODUCT_SIZE_3} размеров</a></div></div>

                                <div class="product_price  {PRICE_OLD_STYLE_3}" style="padding: 0px;" ><span class="oldPriceThrow"><b>{PRODUCT_OLD_PRICE_3}{=money_rur}</b></span><span class='priceMain'><em>{PRODUCT_PRICE_3}{=money_rur}</em></span> </div>

                            </div>
                            <div class="clear"></div>
                            <div class="button_line">
                                <div class="button_over" style="{PRODUCT_BUY_HIDDEN}">
                                <a href="javascript:void(0);" OnClick="ButtonAdd2Basket('{PRODUCT_URL_3}', '{PRODUCT_COLOR_3}');">Купить</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="image">
                            <a href="{=url_product}/{PRODUCT_URL_4}">
                                <img src="{=url_product_image}/width.-213/height.-213/{PRODUCT_URL_4}" width=213 height=213 />
                            </a>
                            </div>
                            <div>
                                <div class="vendor_main">{PRODUCT_VENDOR_4}</div>
                                <div class="name"><a href="{=url_product}/{PRODUCT_URL_4}">{PRODUCT_NAME_4}</a></div>
                                <div class="product_rating">
                                    <strong>арт: {PRODUCT_CODE_4}</strong>
                                    <span class="star"><span style="width:{PRODUCT_RATING_4}%"></span></span>
                                </div>
                                <div class="sizes_price">
                                    <div class="sizes"><div style="line-height: 13px;">В наличии:<br><a href="javascript:void(0);" onClick="ShowAvSizes('{PRODUCT_URL}', '<!-- BEGIN av_sizes_4 -->{AV_SIZE_NAME_4} {AV_SIZE_POINT_4}<!-- END av_sizes_4 -->')">{PRODUCT_SIZE_4} размеров</a></div></div>

                                    <div class="product_price  {PRICE_OLD_STYLE_4}" style="padding: 0px;" ><span class="oldPriceThrow"><b>{PRODUCT_OLD_PRICE_4}{=money_rur}</b></span><span class='priceMain'><em>{PRODUCT_PRICE_4}{=money_rur}</em></span> </div>

                                </div>
                            </div>
                            <div class="clear"></div>
                            <div class="button_line">
                                <div class="button_over" style="{PRODUCT_BUY_HIDDEN}">
                                <a href="javascript:void(0);" OnClick="ButtonAdd2Basket('{PRODUCT_URL_4}', '{PRODUCT_COLOR_4}');">Купить</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="image">
                            <a href="{=url_product}/{PRODUCT_URL_5}">
                                <img src="{=url_product_image}/width.-213/height.-213/{PRODUCT_URL_5}" width=213 height=213 />
                            </a>
                            </div>
                            <div>
                                <div class="vendor_main">{PRODUCT_VENDOR_5}</div>
                                <div class="name"><a href="{=url_product}/{PRODUCT_URL_5}">{PRODUCT_NAME_5}</a></div>
                                <div class="product_rating">
                                    <strong>арт: {PRODUCT_CODE_5}</strong>
                                    <span class="star"><span style="width:{PRODUCT_RATING_5}%"></span></span>
                                </div>
                                <div class="sizes_price">
                                    <div class="sizes"><div style="line-height: 13px;">В наличии:<br><a href="javascript:void(0);" onClick="ShowAvSizes('{PRODUCT_URL}', '<!-- BEGIN av_sizes_5 -->{AV_SIZE_NAME_5} {AV_SIZE_POINT_5}<!-- END av_sizes_5 -->')">{PRODUCT_SIZE_5} размеров</a></div></div>

                                    <div class="product_price  {PRICE_OLD_STYLE_5}" style="padding: 0px;" ><span class="oldPriceThrow"><b>{PRODUCT_OLD_PRICE_5}{=money_rur}</b></span><span class='priceMain'><em>{PRODUCT_PRICE_5}{=money_rur}</em></span> </div>

                                </div>
                            </div>
                            <div class="clear"></div>
                            <div class="button_line">
                                <div class="button_over" style="{PRODUCT_BUY_HIDDEN}">
                                <a href="javascript:void(0);" OnClick="ButtonAdd2Basket('{PRODUCT_URL_5}', '{PRODUCT_COLOR_5}');">Купить</a>
                                </div>
                            </div>
                        </li>

                     </ul>

                </div>
                <!-- BEGIN not_found_seen -->
                <div class="early_see">

                    <div class="head_doubleline">РАНЕЕ ВЫ СМОТРЕЛИ</div>
                    <!-- BEGIN found_seenearly -->
                        <div class="seen_early">
                            <div class="item">{SEEN_ITEM}.</div>
                            <a href="{=url_product}/{SEEN_URL}"><img src="{=url_product_image}/width.-213/height.-213/{SEEN_URL}" width=213 height=213 /></a>
                            <div class="wrap_name">
                                <div class="height_name">
                                    <div class="vendor">{SEEN_VENDOR}</div>
                                    <div class="name"><a href="{=url_product}/{SEEN_URL}">{SEEN_NAME}</a></div>
                                </div>
                                <div class="price">{SEEN_PRICE}</div>
                            </div>
                        </div>
                    <!-- END found_seenearly -->

                </div>
                <!-- END not_found_seen -->
                <div class="clear"></div>
                <div class="wework">
                    <div class="head_doubleline">КАК МЫ РАБОТАЕМ</div>
                    <ul id="mycarousel" class="jcarousel-skin-tango">
                        <!--<li>-->
                            <!--<a href="/c/what.-puma"><img src="{IMAGE_DIR}/images/puma.gif" width="75" height="50" alt="" /></a>-->
                        <!--</li>-->
                        <!--<li>-->
                             <!--<a href="/c/what.-adidas"><img src="{IMAGE_DIR}/images/adidas.gif" width="75" height="50" alt="" /></a>-->
                        <!--</li>-->
                        <li>
                             <a href="/c/what.-asics"><img src="{IMAGE_DIR}/images/oasics.gif" width="75" height="50" alt="" /></a>
                        </li>
                        <li>
                             <a href="/c/what.-umbro"><img src="{IMAGE_DIR}/images/umbro.gif" width="75" height="50" alt="" /></a>
                        </li>
                        <li>
                             <a href="/c/what.-speedo"><img src="{IMAGE_DIR}/images/speedo.gif" width="75" height="50" alt="" /></a>
                        </li>
                        <li>
                             <a href="/c/what.-celect"><img src="{IMAGE_DIR}/images/celect.gif" width="75" height="50" alt="" /></a>
                        </li>
                        <li>
                             <a href="/c/what.-mizuno"><img src="{IMAGE_DIR}/images/mizuno.gif" width="75" height="50" alt="" /></a>
                        </li>
                        <!--<li>-->
                             <!--<a href="/c/what.-lacoste"><img src="{IMAGE_DIR}/images/lacoste.gif" width="75" height="50" alt="" /></a>-->
                        <!--</li>-->
                        <!--<li>-->
                             <!--<a href="/c/what.-nike"><img src="{IMAGE_DIR}/images/nike.gif" width="75" height="50" alt="" /></a>-->
                        <!--</li>-->
                    </ul>
                </div>
                <div class="info_3columns">
                    <div class="content">
                        Данный сайт является интернет магазином, а так же мы осуществляем комплексную экипировку команд и организаций.Оптовым покупателям мы всегда готовы предложить выгодные финансовые условия.
                        Наш центр занимается всем спектром экипировки для футбола, волейбола, легкой атлетики и бега, а так же других видов спорта.Сайт рассчитан как на любителей, так и на профессионалов. Мы представляем продукцию таких брендов как UMBRO, SELECT, ASICS, а так
                    </div>
                    <div class="content">
                                            Данный сайт является интернет магазином, а так же мы осуществляем комплексную экипировку команд и организаций.Оптовым покупателям мы всегда готовы предложить выгодные финансовые условия.
                                            Наш центр занимается всем спектром экипировки для футбола, волейбола, легкой атлетики и бега, а так же других видов спорта.Сайт рассчитан как на любителей, так и на профессионалов. Мы представляем продукцию таких брендов как UMBRO, SELECT, ASICS, а так
                    </div>
                    <div class="content">
                                            Данный сайт является интернет магазином, а так же мы осуществляем комплексную экипировку команд и организаций.Оптовым покупателям мы всегда готовы предложить выгодные финансовые условия.
                                            Наш центр занимается всем спектром экипировки для футбола, волейбола, легкой атлетики и бега, а так же других видов спорта.Сайт рассчитан как на любителей, так и на профессионалов. Мы представляем продукцию таких брендов как UMBRO, SELECT, ASICS, а так
                    </div>
                </div>
            </div>
        </div>
        <div class="main_left_side">
            <div class="main_left_side_col">
                <div class="rec_wrap">
                    {BLOCK_MAIN_CATS_DROP}
                    <!--<ul id="left_side_tree">-->
                    <!--<li>-->
                        <!--<h2>{CAT_LEVEL0_NAME}</h2>-->
                        <!--<ul>-->
                        <!--&lt;!&ndash; BEGIN cat_level1 &ndash;&gt;-->
                        <!--<li>-->
                            <!--<a href="{=url_cat}/{CAT_LEVEL1_URL}">{CAT_LEVEL1_NAME}</a>-->
                            <!--<ul>-->
                                <!--&lt;!&ndash; BEGIN cat_level2 &ndash;&gt;-->
                                <!--<li>-->
                                <!--<a href="{=url_cat}/{CAT_LEVEL2_URL}" class="{CAT_LEVEL2_OPEN}">{CAT_LEVEL2_NAME}</a>-->
                                <!--<ul class="minus">-->
                                    <!--&lt;!&ndash; BEGIN cat_level3 &ndash;&gt;-->
                                    <!--<li>-<a href="{=url_cat}/{CAT_LEVEL3_URL}" class="{CAT_LEVEL3_OPEN}">{CAT_LEVEL3_NAME}</a></li>-->
                                    <!--&lt;!&ndash; END cat_level3 &ndash;&gt;-->
                                <!--</ul>-->
                                <!--</li>-->
                                <!--&lt;!&ndash; END cat_level2 &ndash;&gt;-->
                            <!--</ul>-->
                        <!--</li>-->
                        <!--&lt;!&ndash; END cat_level1 &ndash;&gt;-->
                        <!--</ul>-->
                    <!--</li>-->
                    <!--</ul>-->
                </div>
                <div>
                    <div class="head_blog_h"><p>Наш спортивный блог</p></div>
                </div>
                <div id='twitter' class='blogbody'>

                </div>
               <!--{BLOG_BODY}-->
               <div class="soc_set">
                   <div class="fb-like" data-layout="box_count" data-href="http://test2.jetmix.su" data-send="true" data-width="187px" data-show-faces="true" data-font="tahoma"></div>
                   <!--<img src="{IMAGE_DIR}/img/soc_set.jpg" />-->
                   <!--<div class="fb-like" data-href="http://www.test2.jetmix.su" data-send="true" data-width="187" data-show-faces="true" data-font="arial"></div>-->
               </div>

			</div>
        </div>
    </div>
</div>


<div id="dialog-sizes" title="Доступные размеры">
</div>
<script type="text/javascript">
$(function() {
	$( "#dialog:ui-dialog" ).dialog( "destroy" );
	$( "#dialog-sizes" ).dialog({
		autoOpen: false,
		height: 126,
		width: 277,
		modal: true,
		resizable: false
	});

});

</script>

{OVERALL_FOOTER}
<!-- END index_general -->

