﻿<!-- BEGIN index_general -->
{OVERALL_HEADER}
<script src="{IMAGE_DIR}/plugins/jquery.maskedinput.js" type="text/javascript"></script>
<script type="text/javascript">

$(document).ready(function() {


    //////////////////////////////////////
    //////////   $_cookies
    //////////

    $("#BillingAddressForm_first_name").val(getCookie("def_name"));
    $("#BillingAddressForm_last_name").val(getCookie("def_lastname"));
    $("#phone").val(getCookie("def_phone"));
    $("#RegisterForm_email").val(getCookie("def_email"));
    $("#BillingAddressForm_postcode").val(getCookie("def_postcode"));
    $("#BillingAddressForm_city").val(getCookie("def_city"));
    $("#RegisterForm_street").val(getCookie("def_street"));
    $("#Billing_home").val(getCookie("def_home"));
    $("#Billing_stroenie").val(getCookie("def_stroenie"));
    $("#Billing_korpus").val(getCookie("def_korpus"));
    $("#Billing_podezd").val(getCookie("def_podezd"));
    $("#Billing_code").val(getCookie("def_code"));
    $("#Billing_floor").val(getCookie("def_floor"));
    $("#Billing_flat").val(getCookie("def_flat"));
    $("#metro_id").val(getCookie("def_metro"));
    $("#Billing_note").val(getCookie("def_note"));

    //////////////////////////////////////
    //////////   // $_cookies
    //////////

    function validateEmail(elementValue) {
        var emailPattern = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/;
        return emailPattern.test(elementValue);
    }

    var array_input = [];// массив всех input со страницы ввода адресса и личных данных

    var check_send = false;

    function checkName(str) {
        var phone2 = /^[^' " < >]+$/;
        if (str.match(phone2)) {
            return true;
        } else {
            return false;
        }
    }
    var click_3_void = function(){

        $(".registration-3-wrap").hide();
        $(".registration").hide();
        $(".registration-2-wrap").show();
    }

    var click_3 = function(){
        return click_3_void;
                        }
    var click_4 = function(){
        return function(){
            $(".registration-3-wrap").show();
            $(".registration").hide();
            $(".registration-2-wrap").hide();
        }
    };

    var show_hide2 = function() {

        $("#reg-2").removeClass("green");
        $("#reg-3").addClass("green");
        $(".registration-2-wrap").hide();
        $(".registration-3-wrap").show();
        $("#reg-2").wrap("<span  id='aThird' style='color:green;cursor:pointer;'></span>");
        $("#reg-3").wrap("<span  id='aFour' style='color:green;cursor:pointer;'></span>");
        $("#aThird").click(click_3());
        $("#aFour").click(click_4());
        if (check_send != true){
            $.post("/autocomplete.php",{'array_input':array_input,what:'order'}, function (data){
                check_send = true;
                var data_set = data;
                $(".registration-3-wrap").html(data);
                $(".dont-show").parent().hide();
                $(".registration-3-wrap").append("<div class='button_over-2'><a id='groove' href='javascript:void(0);'><span>Заказать</span></a></div>");
                $("#groove").click(
                    function(){
                        $.post(
                            "/autocomplete.php",
                            {'status':'1','what':'deliv_access','array_input':array_input},
                            function(data){
                                $(".header_top_basket").hide();
                                $(".step-line").hide();
                                //setCookie("basket", '', {expires: 630720000, path: "/"});
                                $(".registration-3-wrap").html("<div style='margin:20px 0 0 0;'><strong>Спасибо за покупку!</strong><p>Номер вашего заказа:" + data + "</p><p>Вы получите письмо на ваш адрес электронной почты (email) с подробной информацией о заказе и ссылкой на страницу, на которой можно проверить текущий статус заказа.</p></div><div style='margin:30px 0 0 0;'><a title='' class='butt buy' href='/'>На главную<span></span></a></div>");
                             }
                        );

                    }
                );
            });
        }

    }

    $("#phone").mask("(999) 999-9999");
    $("#BillingAddressForm_postcode").mask("999-999");



    $("#buttonCheckoutSecond").click(function() {

        if ($("#BillingAddressForm_first_name").val() != '') setCookie("def_name", $('#BillingAddressForm_first_name').val(), {expires: 630720000, path: "/"});
        if ($("#BillingAddressForm_last_name").val()!= '') setCookie("def_lastname", $('#BillingAddressForm_last_name').val(), {expires: 630720000, path: "/"});
        if ($("#phone").val() != '') setCookie("def_phone", $('#phone').val(), {expires: 630720000, path: "/"});
        if ($("#RegisterForm_email").val() != '') setCookie("def_email", $('#RegisterForm_email').val(), {expires: 630720000, path: "/"});
        if ($("#BillingAddressForm_postcode").val() != '') setCookie("def_postcode", $('#BillingAddressForm_postcode').val(), {expires: 630720000, path: "/"});
        if ($("#BillingAddressForm_city").val() != '') setCookie("def_city", $('#BillingAddressForm_city').val(), {expires: 630720000, path: "/"});
        if ($("#RegisterForm_street").val() != '') setCookie("def_street", $('#RegisterForm_street').val(), {expires: 630720000, path: "/"});
        if ($("#Billing_home").val() != '') setCookie("def_home", $('#Billing_home').val(), {expires: 630720000, path: "/"});
        if ($("#Billing_stroenie").val() != '') setCookie("def_stroenie", $('#Billing_stroenie').val(), {expires: 630720000, path: "/"});
        if ($("#Billing_korpus").val() != '') setCookie("def_korpus", $('#Billing_korpus').val(), {expires: 630720000, path: "/"});
        if ($("#Billing_podezd").val() != '') setCookie("def_podezd", $('#Billing_podezd').val(), {expires: 630720000, path: "/"});
        if ($("#Billing_code").val() != '') setCookie("def_code", $('#Billing_code').val(), {expires: 630720000, path: "/"});
        if ($("#Billing_floor").val() != '') setCookie("def_floor", $('#Billing_floor').val(), {expires: 630720000, path: "/"});
        if ($("#Billing_flat").val() != '') setCookie("def_flat", $('#Billing_flat').val(), {expires: 630720000, path: "/"});
        if ($("#metro_id").val() != '') setCookie("def_metro", $('#metro_id').val(), {expires: 630720000, path: "/"});
        if ($("#Billing_note").val() != '') setCookie("def_note", $('#Billing_note').val(), {expires: 630720000, path: "/"});

        var email = $("#RegisterForm_email").val(); // значения поле емэил
        var arr = new Array();  //массив всех обязательных Input - (*)
        var error = false; //знак, показывающий выполнены ли все условия на корректность ввода данных

        $(".r_in").each(function() {
            arr[arr.length] = $(this);
            //check this for empty if not then error
        });

        if(validateEmail(email) == false){
                    var current_mail = $("#RegisterForm_email");
                    current_mail.next().text("Введите корректный email");
                    current_mail.css("border", "1px solid red");
                    error = true;
//            alert("emeail dont rigth");
                }
                else{
                    var current_mail = $("#RegisterForm_email");
                    current_mail.css("border", "1px solid #999999");
                    error = false;
//            /alert("email right");
                }

        for (var i = 0; i < arr.length; i++) {
            var current = $("#" + arr[i].attr("id"));

            if (checkName($("#" + arr[i].attr("id")).val()) == false) {

                current.next().text("Это поле нужно заполнить");
                current.css("border", "1px solid red");
                error = true;

            }
            else
            {
                current.css("border","1px solid #999999");
                current.css("outline", "none");
//                console.log(current);

            }
        }

        if($("#phone").val() == '')
        {
            $("#phone").css("border", "1px solid red");
            error = true;
        }
        else
            $("#phone").css("border", "1px solid #999999");

        if($("#BillingAddressForm_postcode").val() == '')
        {
            $("#BillingAddressForm_postcode").css("border", "1px solid red");
            error = true;
        }
        else
            $("#BillingAddressForm_postcode").css("border", "1px solid #999999");

       

        if (error == true) {


        }
        else{
            //сбор данных из input'ов
            $.each($(".registration input"),function(key, value){
                      array_input[array_input.length] = {'id':value.id, 'value':value.value};
//                    array_input[value.id] = value.value;
                    });
            // /сбор
            var metro_id = $("#metro_id").val();
            var note = $("#Billing_note").val();
            array_input.push({'id':'metro','value':metro_id});
            array_input.push({'id':'note','value':note});
//            console.log(array_input);
            $(".registration").hide();
            $("#reg-1").removeClass("green");
            $("#reg-1").wrap("<span id='aSecond' style='cursor:pointer;color:green;'></span>")
            $("#reg-2").addClass("green");
            $(".registration-2-wrap").show();

            $("#aSecond").click(function(){
                    $("#reg-2").removeClass("green");
                    $(".registration-2-wrap").hide();
                    $(".registration-3-wrap").hide();
                    $(".registration").show();
                });


        }
        
    });

    $("#buttonCheckoutThird").click(show_hide2);
    //$("#aThird").click(click_3);

});

</script>
<div style="margin-right:8px; margin-left: 8px;">
	<div class="page">
		<div class="main_right_side">
			<div class="main_right_side_in">
                <div class="order-main">
                    <div class="h1">
                        <h1>Оформление заказа</h1>
                    </div>
                    <div class="step-line">
                        <span id="reg-1" class="green">1 Доставка<span> > </span></span><span id="reg-2">2 Оплата<span> > </span></span><span id="reg-3">3 Подтверждение</span>
                    </div>

                    <div class="registration">
                    <div class="form1">
                    <div class="title">
                        <h2>
                            <i class="iconSprite"></i>Информация о покупателе </h2>
                    </div>
                    <ul class="fullRegistrationForm">
                    <li>
                        <div class="key">
                            <label for="BillingAddressForm_first_name" class="required">Имя <span class="required">*</span></label></div>
                        <div class="value">
                            <input name="BillingAddressForm[first_name]" class="r_in" id="BillingAddressForm_first_name" type="text"> <span
                                class="validationAdvice"></span>
                        </div>
                    </li>
                    <li>
                        <div class="key">
                            <label for="BillingAddressForm_last_name" class="required">Фамилия <span class="required">*</span></label></div>
                        <div class="value">
                            <input name="BillingAddressForm[last_name]" class="r_in" id="BillingAddressForm_last_name" type="text"> <span
                                class="validationAdvice"></span>
                        </div>
                    </li>
                    <li>
                        <div class="key">
                            <label for="phone" class="required">Телефон <span class="required">*</span></label></div>
                        <div class="value">
                            <input name="BillingAddressForm[phone]" class="" id="phone" type="text"><span
                                class="validationAdvice"></span>

                        </div>
                    </li>

                    <li>
                        <div class="key">
                            <label for="RegisterForm_email" class="required">Email <span class="required">*</span></label></div>
                        <div class="value">
                            <input name="RegisterForm[email]" id="RegisterForm_email" class="" type="text"> <span
                                class="validationAdvice"></span>
                        </div>
                    </li>

                    <!--<li class="legend wrapper">-->
                    <!--    <p>Пожалуйста, введите свой город, чтобы выбрать возможные варианты доставки</p>-->
                    <!--</li>-->
                    <li>
                        <div class="key">
                            <label for="BillingAddressForm_postcode">Почтовый индекс*</label></div>
                        <div class="value postcode">
                            <input name="BillingAddressForm[postcode]" class="postcode " id="BillingAddressForm_postcode"
                                   type="text"> <span
                                class="validationAdvice"></span>
                        </div>
                        <div class="key cityKey">
                            <label for="BillingAddressForm_postcode">Город*</label></div>
                        <div class="value cityValue">
                            <input name="BillingAddressForm[postcode]" class="postcode r_in" id="BillingAddressForm_city"
                                   type="text"> <span
                                class="validationAdvice"></span>
                        </div>
                    </li>

                    <li>
                        <div class="key">
                            <label for="RegisterForm_street" class="required">Улица <span class="required">*</span></label></div>
                        <div class="value">
                            <input name="RegisterForm[street]" id="RegisterForm_street" class="r_in" type="text"> <span
                                class="validationAdvice"></span>
                        </div>
                    </li>
                    <li>
                        <div class="forfreeFirst forfree">
                            <div class="keyFirst">
                                <label for="Billing_home">Дом*</label>
                            </div>
                            <div class="value">
                                <input id="Billing_home" class="r_in" type="text">
                            </div>
                        </div>
                        <div class="forfree forfreeSecond">
                            <div class="key  keyLong">
                                <label for="Billing_stroenie">Строение</label>
                            </div>
                            <div class="value">
                                <input id="Billing_stroenie" type="text">
                            </div>
                        </div>
                        <div class="forfree">
                            <div class="key">
                                <label for="Billing_korpus">Корпус</label>
                            </div>
                            <div class="value">
                                <input id="Billing_korpus" type="text">
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="forfreeFirst forfree">
                            <div class="keyFirst">
                                <label for="Billing_podezd">Подъезд*</label>
                            </div>
                            <div class="value">
                                <input id="Billing_podezd" class="r_in" type="text">
                            </div>
                        </div>
                        <div class="forfree forfreeSecond">
                            <div class="key  keyLong">
                                <label for="Billing_home">Код</label>
                            </div>
                            <div class="value">
                                <input id="Billing_code" type="text">
                            </div>
                        </div>
                        <div class="forfree">
                            <div class="key">
                                <label for="">Этаж*</label>
                            </div>
                            <div class="value">
                                <input id="Billing_floor" class="r_in" type="text">
                            </div>
                        </div>
                    </li>

                    <li>
                        <div class="key">
                            <label for="">Квартира или офис*</label>
                        </div>
                        <div class="value">
                            <input id="Billing_flat" class="r_in" type="text">
                            <span class="validationAdvice"></span>
                        </div>
                    </li>
                    <li>
                        <div class="key">
                            <label for="" class="required">Метро<span
                                    class="required">*</span></label></div>
                        <div class="value">
                            <div class="metro"><select id="metro_id" name="metro_id">
                                <option value="">-- Станция метро --</option>

                                <option value="Авиамоторная">Авиамоторная</option>
                                <option value="Автозаводская">Автозаводская</option>
                                <option value="Академическая">Академическая</option>
                                <option сад="" value="Александровский">Александровский сад</option>
                                <option value="Алексеевская">Алексеевская</option>
                                <option value="Алтуфьево">Алтуфьево</option>
                                <option value="Аннино">Аннино</option>
                                <option value="Арбатская">Арбатская</option>
                                <option value="Аэропорт">Аэропорт</option>
                                <option value="Бабушкинская">Бабушкинская</option>
                                <option value="Багратионовская">Багратионовская</option>
                                <option value="Баррикадная">Баррикадная</option>
                                <option value="Бауманская">Бауманская</option>
                                <option value="Беговая">Беговая</option>
                                <option value="Белорусская">Белорусская</option>
                                <option value="Беляево">Беляево</option>
                                <option value="Бибирево">Бибирево</option>
                                <option Ленина="" им.="" value="Библиотека">Библиотека им. Ленина</option>
                                <option value="Борисово">Борисово</option>
                                <option value="Боровицкая">Боровицкая</option>
                                <option сад="" value="Ботанический">Ботанический сад</option>
                                <option value="Братиславская">Братиславская</option>
                                <option Ушакова="" адмирала="" value="Бульвар">Бульвар адмирала Ушакова</option>
                                <option Донского="" Дмитрия="" value="Бульвар">Бульвар Дмитрия Донского</option>
                                <option аллея="" value="Бунинская">Бунинская аллея</option>
                                <option value="Варшавская">Варшавская</option>
                                <option value="ВДНХ">ВДНХ</option>
                                <option value="Владыкино">Владыкино</option>
                                <option стадион="" value="Водный">Водный стадион</option>
                                <option value="Войковская">Войковская</option>
                                <option проспект="" value="Волгоградский">Волгоградский проспект</option>
                                <option value="Волжская">Волжская</option>
                                <option value="Волоколамская">Волоколамская</option>
                                <option Горы="" value="Воробьевы">Воробьевы Горы</option>
                                <option value="Выставочная">Выставочная</option>
                                <option value="Выхино">Выхино</option>
                                <option value="Динамо">Динамо</option>
                                <option value="Дмитровская">Дмитровская</option>
                                <option value="Добрынинская">Добрынинская</option>
                                <option value="Домодедовская">Домодедовская</option>
                                <option value="Достоевская">Достоевская</option>
                                <option value="Дубровка">Дубровка</option>
                                <option value="Зябликово">Зябликово</option>
                                <option value="Измайловская">Измайловская</option>
                                <option value="Калужская">Калужская</option>
                                <option value="Кантемировская">Кантемировская</option>
                                <option value="Каховская">Каховская</option>
                                <option value="Каширская">Каширская</option>
                                <option value="Киевская">Киевская</option>
                                <option value="Китай-город">Китай-город</option>
                                <option value="Кожуховская">Кожуховская</option>
                                <option value="Коломенская">Коломенская</option>
                                <option value="Комсомольская">Комсомольская</option>
                                <option value="Коньково">Коньково</option>
                                <option value="Красногвардейская">Красногвардейская</option>
                                <option value="Краснопресненская">Краснопресненская</option>
                                <option value="Красносельская">Красносельская</option>
                                <option ворота="" value="Красные">Красные ворота</option>
                                <option застава="" value="Крестьянская">Крестьянская застава</option>
                                <option value="Кропоткинская">Кропоткинская</option>
                                <option value="Крылатское">Крылатское</option>
                                <option мост="" value="Кузнецкий">Кузнецкий мост</option>
                                <option value="Кузьминки">Кузьминки</option>
                                <option value="Кунцевская">Кунцевская</option>
                                <option value="Курская">Курская</option>
                                <option value="Кутузовская">Кутузовская</option>
                                <option проспект="" value="Ленинский">Ленинский проспект</option>
                                <option value="Лубянка">Лубянка</option>
                                <option value="Люблино">Люблино</option>
                                <option value="Марксистская">Марксистская</option>
                                <option Роща="" value="Марьина">Марьина Роща</option>
                                <option value="Марьино">Марьино</option>
                                <option value="Маяковская">Маяковская</option>
                                <option value="Медведково">Медведково</option>
                                <option value="Международная">Международная</option>
                                <option value="Менделеевская">Менделеевская</option>
                                <option value="Митино">Митино</option>
                                <option value="Молодежная">Молодежная</option>
                                <option value="Мякинино">Мякинино</option>
                                <option value="Нагатинская">Нагатинская</option>
                                <option value="Нагорная">Нагорная</option>
                                <option проспект="" value="Нахимовский">Нахимовский проспект</option>
                                <option value="Новогиреево">Новогиреево</option>
                                <option value="Новокузнецкая">Новокузнецкая</option>
                                <option value="Новослободская">Новослободская</option>
                                <option value="Новоясеневская">Новоясеневская</option>
                                <option черемушки="" value="Новые">Новые черемушки</option>
                                <option value="Октябрьская">Октябрьская</option>
                                <option поле="" value="Октябрьское">Октябрьское поле</option>
                                <option value="Орехово">Орехово</option>
                                <option value="Отрадное">Отрадное</option>
                                <option ряд="" value="Охотный">Охотный ряд</option>
                                <option value="Павелецкая">Павелецкая</option>
                                <option культуры="" value="Парк">Парк культуры</option>
                                <option Победы="" value="Парк">Парк Победы</option>
                                <option value="Партизанская">Партизанская</option>
                                <option value="Первомайская">Первомайская</option>
                                <option value="Перово">Перово</option>
                                <option value="Петровско-Разумовская">Петровско-Разумовская</option>
                                <option value="Печатники">Печатники</option>
                                <option value="Пионерская">Пионерская</option>
                                <option value="Планерная">Планерная</option>
                                <option Ильича="" value="Площадь">Площадь Ильича</option>
                                <option революции="" value="Площадь">Площадь революции</option>
                                <option value="Полежаевская">Полежаевская</option>
                                <option value="Полянка">Полянка</option>
                                <option value="Пражская">Пражская</option>
                                <option площадь="" value="Преображенская">Преображенская площадь</option>
                                <option value="Пролетарская">Пролетарская</option>
                                <option Вернадского="" value="Проспект">Проспект Вернадского</option>
                                <option Мира="" value="Проспект">Проспект Мира</option>
                                <option value="Профсоюзная">Профсоюзная</option>
                                <option value="Пушкинская">Пушкинская</option>
                                <option вокзал="" value="Речной">Речной вокзал</option>
                                <option value="Рижская">Рижская</option>
                                <option value="Римская">Римская</option>
                                <option проспект="" value="Рязанский">Рязанский проспект</option>
                                <option value="Савеловская">Савеловская</option>
                                <option value="Свиблово">Свиблово</option>
                                <option value="Севастопольская">Севастопольская</option>
                                <option value="Семеновская">Семеновская</option>
                                <option value="Серпуховская">Серпуховская</option>
                                <option бульвар="" value="Славянский">Славянский бульвар</option>
                                <option value="Смоленская">Смоленская</option>
                                <option value="Сокол">Сокол</option>
                                <option value="Сокольники">Сокольники</option>
                                <option value="Спортивная">Спортивная</option>
                                <option бульвар="" value="Сретенский">Сретенский бульвар</option>
                                <option value="Строгино">Строгино</option>
                                <option value="Студенческая">Студенческая</option>
                                <option value="Сухаревская">Сухаревская</option>
                                <option value="Сходненская">Сходненская</option>
                                <option value="Таганская">Таганская</option>
                                <option value="Тверская">Тверская</option>
                                <option value="Театральная">Театральная</option>
                                <option value="Текстильщики">Текстильщики</option>
                                <option стан="" value="Теплый">Теплый стан</option>
                                <option value="Тимирязевская">Тимирязевская</option>
                                <option value="Третьяковская">Третьяковская</option>
                                <option value="Трубная">Трубная</option>
                                <option value="Тульская">Тульская</option>
                                <option value="Тургеневская">Тургеневская</option>
                                <option value="Тушинская">Тушинская</option>
                                <option года="" 1905="" value="Улица">Улица 1905 года</option>
                                <option Янгеля="" академика="" value="Улица">Улица академика Янгеля</option>
                                <option Горчакова="" value="Улица">Улица Горчакова</option>
                                <option Подбельского="" value="Улица">Улица Подбельского</option>
                                <option Скобелевская="" value="Улица">Улица Скобелевская</option>
                                <option Старокачаловская="" value="Улица">Улица Старокачаловская</option>
                                <option value="Университет">Университет</option>
                                <option парк="" value="Филевский">Филевский парк</option>
                                <option value="Фили">Фили</option>
                                <option value="Фрунзенская">Фрунзенская</option>
                                <option value="Царицыно">Царицыно</option>
                                <option бульвар="" value="Цветной">Цветной бульвар</option>
                                <option value="Черкизовская">Черкизовская</option>
                                <option value="Чертановская">Чертановская</option>
                                <option value="Чеховская">Чеховская</option>
                                <option пруды="" value="Чистые">Чистые пруды</option>
                                <option value="Чкаловская">Чкаловская</option>
                                <option value="Шаболовская">Шаболовская</option>
                                <option value="Шипиловская">Шипиловская</option>
                                <option энтузиастов="" value="Шоссе">Шоссе энтузиастов</option>
                                <option value="Щелковская">Щелковская</option>
                                <option value="Щукинская">Щукинская</option>
                                <option value="Электрозаводская">Электрозаводская</option>
                                <option value="Юго-Западная">Юго-Западная</option>
                                <option value="Южная">Южная</option>
                                <option value="Ясенево">Ясенево</option>
                            </select></div>
                            <div>
                    </li>
                    <li>
                        <div class="key">
                            <label for="">Примечание</label>
                        </div>
                        <div class="value">
                            <textarea id="Billing_note" rows="4"></textarea>
                        </div>
                    </li>

                    </ul>
                    <ul class="fullRegistrationForm">
                        <li class="checkline">
                            <input id="shippingAddressDifferent" checked="checked" class="checkbox" name="shippingAddressDifferent"
                                   value="1" type="hidden">
                            <!--                <label for="shippingAddressDifferent">Доставить по тому же адресу</label>-->
                        </li>
                        <li id="checkout-shipping-content">
                        </li>
                    </ul>

                    <ul class="fullRegistrationForm last" style="display:none;">
                        <input name="ShippingMethod[empty]" value="1" type="hidden">
                        <li class="radioline">
                            <input id="free" class="shipping-method-option radiobox" value="" checked="checked"
                                   name="ShippingMethodForm[shipping_method]" type="radio"> <label for="free">Бесплатная доставка</label>

                        </li>
                        <li class="radioline">
                            <input id="express" class="radiobox shipping-method-option" value="express"
                                   name="ShippingMethodForm[shipping_method]" type="radio"> <label for="express">Express Shipping</label>

                        </li>
                    </ul>
                    </div>
                    <div style="" class="button_over-2">
                        <a onclick="" id="buttonCheckoutSecond" href="javascript:void(0);"><span>К оплате</span></a>
                    </div>
                    <!--<div class="buttonBox">-->
                    <!--    <a href="#checkout" class="button right nextCheckout checkoutBtn" id="buttonCheckoutSecond">-->
                    <!--        <span>Оформить заказ</span>-->
                    <!--    </a>-->
                    <!--</div>-->

                    </div>
                </div>




                <div class="registration-2-wrap">
                    <div class="form2">
                    <ul class="fullRegistrationForm paymentMethods registration-2">
                            <li>
                                <div class="key-pay">Способ оплаты:</div>
                            </li>
                            <li class="radioline cash">
                    <label for="postpayment"><i class="iconSprite"></i><input type="radio" checked="checked" value="Postpayment" class="payment-method-option radiobox" name="PaymentMethodForm[payment_method]" id="postpayment">Наличные курьеру</label>
                    </li>        <li class="radioline card innactive">
                    <label for="payonline"><i style="background-position: 0 -17px;" class="iconSprite"></i><input type="radio" disabled="disabled" value="Payonline" class="payment-method-option radiobox" name="PaymentMethodForm[payment_method]" id="payonline">Кредитная карта</label>
                    </li>                <li class="radioline yandexmoney innactive">
                    <label for="payonline"><i style="background-position: 0 -35px;" class="iconSprite"></i><input type="radio" value="" class="payment-method-option radiobox" name="PaymentMethodForm[payment_method]" id="payonline" disabled="disabled">Яндекс деньги</label>
                    </li>
                    <li class="radioline webmoney innactive">
                    <label for="payonline"><i style="background-position: 0 -52px;"  class="iconSprite"></i><input type="radio" value="" class="payment-method-option radiobox" name="PaymentMethodForm[payment_method]" id="payonline" disabled="disabled">Кредитная карта</label>
                    </li>
                    <li class="radioline qiwi wrapper innactive">
                    <label for="payonline"><i style="background-position: 0 -70px;" class="iconSprite"></i><input type="radio" value="" class="payment-method-option radiobox" name="PaymentMethodForm[payment_method]" id="payonline" disabled="disabled">Кредитная карта</label>
                    </li>
                    </ul>
                    </div>
                    <div style="" class="button_over-2">
                                            <a onclick="" id="buttonCheckoutThird" style="padding:0.4em 0 0 0.6em" href="javascript:void(0);"><span style="font: 12px/20px CricketBold,sans-serif;">Подтвердить</span></a>
                    </div>
                </div>
                <div class="registration-3-wrap">

                </div>



			</div>
		</div>
		<div class="main_left_side">
			<div class="main_left_side_col">
				{BLOCK_MAIN_CATS_DROP}
		</div>
	</div>
</div>

<script type="text/javascript">

</script>

{OVERALL_FOOTER}
<!-- END index_general -->