<script type="text/javascript">

	$(function() {
		$("#add_to_basket").draggable();
	});
	CheckForHash();
</script>

<div class="clear"></div>
<div>
	<div class="page">
		<div class="footer">
		<!--<div>-->
			<div class="img-wrap">
                <img src="/{IMAGE_DIR}/img/bottom_left_logo.gif" width="136" height="98" border="0" alt="{=shop_name}" title="{=shop_name}">
            </div>
		<!--</div>-->
		<div>
			<div class="footer_links"><a href="{=url_text}/o_magazine">О магазине</a> • <a href="{=url_text}/vozvrat_tovara">Возврат товара</a> • <a href="{=url_text}/pravovaya_informaciya">Правовая информация</a></div>
			<div class="footer_copyright">© Sportform, 2012.</div>
		</div>
		</div>
	</div>
</div>


<div id="add_to_basket" class="ui-corner-top" style="">
	<div class="add_to_basket_page ui-corner-top">
		<div id="loading">
			<img src="/{IMAGE_DIR}/img/loading.gif" width="235" height="235" border="0" style="padding-top: 18px;" alt="загрузка">
		</div>
	</div>
	<div class="add_to_basket_page_shadow1">*</div>
	<!--
	<div class="add_to_basket_page_shadow">
		<img src="{IMAGE_DIR}/img/2basket_shadow_top.gif" width="301" height="17" border="0" style="display: block;">
		<img src="{IMAGE_DIR}/img/2basket_shadow_bottom.gif" width="301" height="13" border="0" style="display: block; padding-top: 265px;">
	</div>
	-->
</div>
<div class="add_to_basket_page_all_shadow"></div>


<div style="position:absolute;top:-1000px;left:-1000px;" class="add_to_basket_page_ok"></div>

</body>
</html>