<!-- BEGIN index_general -->
{OVERALL_HEADER}

<link rel="stylesheet" href="/{IMAGE_DIR}/piro.css" />
<script type="text/javascript" src="/{IMAGE_DIR}/pirobox.js"></script>

<script type="text/javascript">
$(document).ready(function() {

    $('.piro_overlay,.pirobox_content').remove();

    $().piroBox({
        my_speed: 400, //animation speed
        bg_alpha: 0.5, //background opacity
        slideShow : false, // true == slideshow on, false == slideshow off
        slideSpeed : 4, //slideshow duration in seconds(3 to 6 Recommended)
        close_all : '.piro_close,.piro_overlay'// add class .piro_overlay(with comma)if you want overlay click close piroBox
    });

    $( "#dialog-sizes" ).dialog({
    		autoOpen: false,
    		height: 126,
    		width: 277,
    		modal: true,
    		resizable: false
    	});

    $("#review_text").val(getCookie("def_review"));

	$("#set_rating").bind('mousemove', function(e){
		var dcb		=	getOffsetRect( document.getElementById("set_rating") );
		var mouse_x	=	(e.pageX - dcb.left);
		var stars	=	Math.round((mouse_x/15)+0.5);
		$("#rating_value").val(stars);
		var stars_width	=	stars*15;
		$("#set_rating_sel").width(stars_width);
	});

	$('input[name=selected_color]').change(function() {
		/*OnColorChange('{PRODUCT_URL}');*/
	});

	$('#review_name').val(getCookie("def_name"));
	$('#review_email').val(getCookie("def_email"));
	$('input[name=selected_color]').val({PRODUCT_COLOR});
	if ({PRODUCT_COLOR} != 0) {		OnColorChange('{PRODUCT_URL}');	}
});

function refreshKap(ses_name, ses_id){
    if($("#review_text").val() != '') setCookie("def_review", $('#review_text').val(), {expires: 630720000, path: "/"});
    window.location.reload(true);

}

function SendReview() {

	if ($('#review_name').val() != '') setCookie("def_name", $('#review_name').val(), {expires: 630720000, path: "/"});
	if ($('#review_email').val() != '') setCookie("def_email", $('#review_email').val(), {expires: 630720000, path: "/"});
    var pid = {PRODUCT_ID};

    var text = $('#review_text').val();
    var name = $('#review_name').val();
    var rating = $("#set_rating_sel").css("width");
    var review_capcha = $('#review_capcha').val();
    //alert(rating);
	$.post("/send_review.php",
		{
			name: name,
			email: $('#review_email').val(),
			text:text,
			rating: $('#rating_value').val(),
            pid: pid,
            capcha: review_capcha
		},
		function(data_json){
            var data = JSON.parse(data_json);

            if (data.cap == 1) {alert("Вы неверно ввели код с картинки"); return false;}
            if(data.sign == true){
                alert(" Вы уже оставляли отзыв о данном товаре ");
            }
            else{

                    $("#non_review").html('Ваш отзыв добавлен');

            $('#reviews_inner').append("<div class='date'>"+data.date+"</div><div style='display:inline; float:left;'><span class='star'><span style='width:"+rating+"'></span></span></div><div style='margin-left:10px;display:inline;'>"+name+"</div><div class='clear'></div><div class='text'>"+text+"</div>");
            }

	});
}
</script>
<div style="margin-right:8px; margin-left: 8px;">
	<div class="page">
		<div class="main_right_side">
			<div class="main_right_side_in">
				<div class="product_image">
					<a href="{=url_product_image}/size.-original/color.-{COLOR_THIS}/{PRODUCT_URL}"  class="pirobox_gal1" title="{PRODUCT_NAME}"><img id="product_main_photo" src="{=url_product_image}/width.-360/height.-360/color.-{COLOR_THIS}/{PRODUCT_URL}" width="360" height="360" border="0" alt="{PRODUCT_NAME}" title="{PRODUCT_NAME}" style="margin-bottom: 0px;"></a>
				</div>
				<div class="product_description">
					<div class="product_vendor"><a href="{=url_aboutvendor}/{PRODUCT_VENDOR_NAME}">{PRODUCT_VENDOR_NAME}</a></div>
					<h1>{PRODUCT_NAME}</h1>
					<div class="product_rating">
						<strong>арт: {PRODUCT_CODE}</strong>
						<span class="star"><span style="width:{PRODUCT_RATING}%"></span></span>
					</div>

				<div style="width: 344px;">
					<div class="product_color">
					<strong>Цвет:</strong>
					<span>
						<!-- BEGIN available-colors -->
						<label class="label">
						<input id="selected_color" type="radio" name="selected_color" value="{COLOR_ID}">
						<i id="i_selected_color_{COLOR_ID}" title="{COLOR_NAME}" onclick="SelectColor('selected_color', {COLOR_ID}, '{PRODUCT_URL}', {PRODUCT_ID});"><u class="ui-corner-all" style="background-color: {COLOR_COLOR};"></u></i>
						</label>
						<!-- END available-colors -->
					</span>
					</div>
                    <!-- BEGIN av-col-ad -->
                    <div class="product_color" id="adtnl">
                    <strong>Гамма:</strong>
                    <span>
                        <!-- BEGIN available-colors_ad -->
                        <label class="label">
                        <input id="selected_color_ad" type="radio" name="selected_color" value="{COLOR_ID_AD}">
                        <i id="i_selected_color_{COLOR_ID_AD}" title="{COLOR_NAME_AD}" onclick="SelectColor('selected_color', {COLOR_ID_AD}, '{PRODUCT_URL}', {PRODUCT_ID});"><u class="ui-corner-all" style="background-color: {COLOR_COLOR_AD};"><img src="{=url_product_image}/width.-33/height.-33/color.-{COLOR_ID_AD}/{PRODUCT_URL}" height="33" width="33" /></u></i>
                        </label>
                        <!-- END available-colors_ad -->
                    </span>
                    </div>
                    <!-- END av-col-ad -->
					<div class="product_size">
					<strong>Размер:</strong>
					<div class="already_set_color">
					<select id="selected_size" name="selected_size">
						<option value="0">- выберите -</option>
						<!-- BEGIN available-sizes -->
						<option value="{SIZE_ID}" class="avail_sizes">{SIZE_NAME}</option>
						<!-- END available-sizes -->
					</select>
					<a href="javascript:void(0);" onClick="ShowAvSizes('{PRODUCT_URL}', '<!-- BEGIN av_sizes -->{AV_SIZE_NAME} {AV_SIZE_POINT}<!-- END av_sizes -->')" class="size_chart">Таблица размеров</a>
					</div>
                        <!--<div>{TEST_FROM_SERVER}</div>-->
					<div class="unselect_color ui-corner-all">
					необходимо выбрать цвет
					</div>
					</div>
				</div>

				<br>

                 <div class="price-product">
                    <strong>Цена:</strong>

                <div class="product_price  {PRICE_OLD_STYLE}" style="padding: 0px; display:inline-block;" ><span class="oldPriceThrow"><b>{PRODUCT_OLD_PRICE}{=money_rur}</b></span><span class='priceMain'><em>{PRODUCT_PRICE}{=money_rur}</em></span> </div>
                <a href="javascript:void(0);" OnClick="ButtonAdd2BasketProduct('{PRODUCT_URL}','{PRODUCT_ID}');" class="butt buy" title="Купить {PRODUCT_NAME}">Купить<span></span></a>
                </div>

				<div class="additional_photos">

				<!-- BEGIN add_photo -->
				<a href="{=url_product_image}/size.-original/color.-{COLOR_THIS}/mask.-{IMAGE_ID}/{PRODUCT_URL}" class="pirobox_gal1" title="{PRODUCT_NAME} - фото {IMAGE_I}"><img src="{=url_product_image}/width.-50/height.-50/color.-{COLOR_THIS}/mask.-{IMAGE_ID}/{PRODUCT_URL}" width="50" height="50" border="0" alt="{PRODUCT_NAME} - фото {IMAGE_I}" title="{PRODUCT_NAME} - фото {IMAGE_I}" style="border: 1px solid #aaaaaa;"></a>
				<!-- END add_photo -->

                </div>

				<div style="height: 1px;"></div>

				<div style="padding-top: 0px; padding-bottom: 0px; left: -6px; position: relative;">
				<!--<script type="text/javascript" src="//yandex.st/share/share.js" charset="utf-8"></script>-->
				<div class="yashare-auto-init" data-yashareL10n="ru" data-yashareType="button" data-yashareQuickServices="yaru,vkontakte,facebook,twitter,odnoklassniki,moimir"></div>
				</div>

				</div>
				<div class="clear"></div>


				<div class="product_description_div">
					<div class="product_description_h2"><h2>Описание</h2></div>
					<div class="product_description_table asdf">
						<div class="product_description_cell">
						<p>{PRODUCT_FULL_DESCRIPTION_PART1}</p>
						</div>
						<div class="product_description_cell_mid"><img src="/{IMAGE_DIR}/img/d.gif" width="39" height="1" border="0"></div>
						<div class="product_description_cell">
						<p>{PRODUCT_FULL_DESCRIPTION_PART2}</p>
						</div>
					</div>
					<div class="product_description_table asd">
						<!-- BEGIN is_propertys -->
						<div class="product_description_cell">
						<div class="product_description_h2"><h2>Характеристики</h2></div>
						<table cellpadding="5" cellspacing="0">
						<tbody>
						<!-- BEGIN propertys -->
						<tr style="background-color: {PROPERTY_BACKGROUND};">
						<td style="padding-left: 3px; padding-right: 3px;" width="100%">{PROPERTY_NAME}</td>
						<td style="padding-left: 3px; padding-right: 3px;" nowrap>{PROPERTY_VALUE}</td>
						</tr>
						<!-- END propertys -->
						</tbody></table>
						</div>
						<div class="product_description_cell_mid"><img src="/{IMAGE_DIR}/img/d.gif" width="39" height="1" border="0"></div>
						<!-- END is_propertys -->
						<!-- BEGIN is_tags -->
						<div class="product_description_cell">
						<div class="product_description_h2"><h2>Метки</h2></div>
						<div style="margin-top: 9px;">
						<!-- BEGIN tags -->
						<a href="{=url_search}/{P_TAG_URL}">{P_TAG}</a>{P_TAG_POINT}
						<!-- END tags -->
						</div>
						<!-- END is_tags -->
						</div>
					</div>
					<div class="product_description_table">
						<div class="product_description_cell">
							<div class="product_description_h2"><h2>Отзывы об этом товаре</h2></div>
							<div id="reviews_inner">
								<div id="reviews_div">
									<!-- BEGIN no_reviews -->
									<div style="margin-top: 9px;" id="non_review"><b>{PRODUCT_NAME}</b> пока не имеет отзывов.</div>
									<!-- END no_reviews -->
									<!-- BEGIN have_reviews -->
									<div class="review_div" style="margin-top: 9px;">
										<!-- BEGIN review-list -->
										<div class="date">{REVIEW_DATE}</div>
										<div style="display:inline;float:left;"><span class="star"><span style="width:{REVIEW_RATING}%"></span></span></div><div style="margin-left:10px;display:inline;">{REVIEW_NAME}</div>
										<div class="clear"></div>
										<div class="text">{REVIEW_TEXT}</div>
										<!-- END review-list -->
									</div>
									<!-- END have_reviews -->
								</div>
							</div>
						</div>
						<div class="product_description_cell_mid"><img src="/{IMAGE_DIR}/img/d.gif" width="39" height="1" border="0"></div>
						<div class="product_description_cell">
							<div class="product_description_h2"><h2>Написать свой отзыв</h2></div>
							<div id="product_reviews_new">
								<div>
								<input id="rating_value" name="rating" type="hidden" value="0">
								<label>Ваша оценка:</label>
								<span id="set_rating" class="star"><span id="set_rating_sel"></span></span><br>
								<label>Ваше имя:</label>
								<input id="review_name" name="review_name" type="text" class="text ui-widget-content ui-corner-all">
								<label>Ваш email:</label>
								<input id="review_email" name="review_email" type="text" class="text ui-widget-content ui-corner-all">
								<label>Ваш отзыв:</label>
								<textarea id="review_text" name="review_text" rows="5" cols="20" class="text ui-widget-content ui-corner-all"></textarea><br>
                                <div class="clear"></div>
								<div class="captcha-product">
                                    <label>Код с картинки:</label>
                                    <input id="review_capcha" name="review_capcha" type="text" class="text ui-widget-content ui-corner-all" style="width: 134px;">                           <div class="clear"></div>

                                    <div id="new_img"></div>
                                    <a onclick="refreshKap('{SES_NAME}','{SES_ID}')" href="javascript:void(0);">Обновить</a>
                                    <img id="kap_sp" src="/kcaptcha/?{SES_NAME}={SES_ID}" border= "0" />
                                </div>

								<div class="clear"></div>
								<img class="button_send" src="/{IMAGE_DIR}/img/send.png" alt="Отправить" onClick="SendReview();">
								</div>
							</div>
						</div>
					</div>
				</div>

				<br><br>


			</div>
		</div>
		<div class="main_left_side">
			<div class="main_left_side_col">
				{BLOCK_MAIN_CATS_DROP}
				<ul id="left_side_tree">
				<li>
					<h2>{CAT_LEVEL0_NAME}</h2>
					<ul>
					<!-- BEGIN cat_level1 -->
					<li>
						<a href="{=url_cat}/{CAT_LEVEL1_URL}">{CAT_LEVEL1_NAME}</a>
						<ul>
							<!-- BEGIN cat_level2 -->
							<li>
							<a href="{=url_cat}/{CAT_LEVEL2_URL}" class="{CAT_LEVEL2_OPEN}">{CAT_LEVEL2_NAME}</a>
							<ul class="minus">
								<!-- BEGIN cat_level3 -->
								<li>-<a href="{=url_cat}/{CAT_LEVEL3_URL}" class="{CAT_LEVEL3_OPEN}">{CAT_LEVEL3_NAME}</a></li>
								<!-- END cat_level3 -->
							</ul>
							</li>
							<!-- END cat_level2 -->
						</ul>
					</li>
					<!-- END cat_level1 -->
					</ul>
				</li>
				</ul>
				<!-- BEGIN is_parts -->
				<div class="left_col_recomend">
					<div class="left_col_recomend_title">Наши рекомендации</div>
					<!-- BEGIN recomended-products -->
					<div class="left_col_recomend_product">
						<a href="{=url_product}/{REC_URL}"><img src="{=url_product_image}/width.-172/height.-172/{REC_URL}" width="172" height="172" border="0" alt="{REC_NAME}" title="{REC_NAME}" border="0"></a>
					</div>
					<div class="left_col_recomend_descr">
						<span class="star" style="margin-left: 73px; margin-bottom: 5px;"><span style="width:{REC_RATING}%"></span></span>
						<a href="{=url_product}/{REC_URL}">{REC_NAME}</a>
						<strong>{REC_PRICE} {=money_rur}</strong>
					</div>
                    <!-- END recomended-products -->
				</div>
				<!-- END is_parts -->
			</div>

		</div>
	</div>
</div>

<div id="dialog-sizes" title="Доступные размеры">
</div>
<script type="text/javascript">
$(function() {
	$( "#dialog:ui-dialog" ).dialog( "destroy" );
	$( "#dialog-sizes" ).dialog({
		autoOpen: false,
		height: 126,
		width: 277,
		modal: true,
		resizable: false
	});

});

</script>

{OVERALL_FOOTER}

<!-- END index_general -->

<!-- BEGIN index_product_images -->
	<a href="{=url_product_image}/size.-original/color.-{COLOR_ID}/{PRODUCT_URL}"  class="pirobox_gal1" title="{PRODUCT_NAME}"><img id="product_main_photo" src="{=url_product_image}/width.-360/height.-360/color.-{COLOR_ID}/{PRODUCT_URL}" width="360" height="360" border="0" alt="{PRODUCT_NAME}" title="{PRODUCT_NAME}" style="margin-bottom: 0px;"></a>
<!-- END index_product_images -->

<!-- BEGIN index_add_product_images -->
	<!-- BEGIN add_photo -->
	<a href="{=url_product_image}/size.-original/color.-{COLOR_ID}/mask.-{IMAGE_ID}/{PRODUCT_URL}" class="pirobox_gal1" title="{PRODUCT_NAME} - фото {IMAGE_I}"><img src="{=url_product_image}/width.-50/height.-50/color.-{COLOR_ID}/mask.-{IMAGE_ID}/{PRODUCT_URL}" width="50" height="50" border="0" alt="{PRODUCT_NAME} - фото {IMAGE_I}" title="{PRODUCT_NAME} - фото {IMAGE_I}" style="border: 1px solid #aaaaaa;"></a>
	<!-- END add_photo -->
	<div style="height: 15px;"></div>
<!-- END index_add_product_images -->


<!-- BEGIN index_sizes_for_selected_color -->
<select id="selected_size" name="selected_size">
<option value="0">- выберите -</option>
<!-- BEGIN available-sizes -->
<option value="{SIZE_ID}">{SIZE_NAME}</option>
<!-- END available-sizes -->
</select>
<a class="size_chart">Таблица размеров</a>
<!-- END index_sizes_for_selected_color -->
