<!-- BEGIN index_general -->
{OVERALL_HEADER}

<div style="margin-right:8px; margin-left: 8px;">
	<div class="page">
		<div class="main_right_side">
			<div class="main_right_side_in" id="ajax_load_div" style="padding: 0 0 0 227px;">
				<div id="ajax_products_place" style="padding-left: 2px;">
				<div class="products_title">
					<div class="title_h1"><h1>{SCRIPT_FIND}</h1></div>
				</div>
				<!-- BEGIN found_products -->
				<div class="product_cell">
					<div class="product_num">{ITEM_NUM}.</div>
					<div><a href="{=url_product}/{PRODUCT_URL}" title="{PRODUCT_NAME}"><img id="product_main_photo" src="{=url_product_image}/width.-213/height.-213/{PRODUCT_URL}" width="213" height="213" border="0" alt="{PRODUCT_NAME}" title="{PRODUCT_NAME}"></a></div>
					<span>{PRODUCT_VENDOR_NAME}</span>
					<strong><a href="{=url_product}/{PRODUCT_URL}" title="{PRODUCT_NAME}">{PRODUCT_NAME}</a></strong>
					<div class="art_rating">
						<div class="code">арт. {PRODUCT_CODE}</div>
						<div class="crating"><span class="star"><span style="width:{PRODUCT_RATING}%"></span></span></div>
					</div>
					<div class="sizes_price">
						<div class="sizes"><div style="line-height: 13px;">В наличии:<br><a href="javascript:void(0);" onClick="ShowAvSizes('{PRODUCT_URL}', '<!-- BEGIN av_sizes -->{AV_SIZE_NAME} {AV_SIZE_POINT}<!-- END av_sizes -->')">{PRODUCT_SIZES} размеров</a></div></div>
						<div class="product_price" style="padding: 0px;"><em>{PRODUCT_PRICE}</em><i>&thinsp;{=money_rur}</i></div>
					</div>
					<div class="clear"></div>
					<div class="button_line">
						<div class="button_over" style="{PRODUCT_BUY_HIDDEN}">
						<a href="javascript:void(0);" OnClick="ButtonAdd2Basket('{PRODUCT_URL}', '{PRODUCT_COLOR}');">Купить</a>
						</div>
					</div>
				</div>
				<!-- END found_products -->
				<!-- BEGIN notfound_products -->
				<div style="text-align: center;">
					<img src="/{IMAGE_DIR}/img/notfound.jpg" width="400" height="300" border="0" alt="ничего не найдено">
					<h1 style="line-height: 100px;">По выбранным параметрам не найдено ни одного товара</h1>
				</div>
				<!-- END notfound_products -->
				<div class="already_set_color" style="display: none;"></div>
				</div>
			</div>
		</div>
		<div class="main_left_side">
			<div class="main_left_side_col">
				{BLOCK_MAIN_CATS_DROP}
				{BLOCK_FILTERS_ROW}
			</div>
		</div>
	</div>
</div>

<div id="dialog-sizes" title="Доступные размеры">
</div>
<script type="text/javascript">
$(function() {
	$( "#dialog:ui-dialog" ).dialog( "destroy" );
	$( "#dialog-sizes" ).dialog({
		autoOpen: false,
		height: 126,
		width: 277,
		modal: true,
		resizable: false
	});
	$( "#price-range" ).slider({
			range: true,
			min: {FILTER_PRICE_MIN_VALUE},
			max: {FILTER_PRICE_MAX_VALUE},
			values: [ {FILTER_PRICE_MIN_VALUE0}, {FILTER_PRICE_MAX_VALUE0} ],
			slide: function( event, ui ) {
				$( "#filter_price_from" ).html(Number_Format(ui.values[ 0 ]));
				$( "#filter_price_to" ).html(Number_Format(ui.values[ 1 ]));
			},
			change: FiltersSelectPrice
		});
});
var	script_find			=	'{SCRIPT_FIND}';
var	script_price_min	=	'{SCRIPT_PRICE_MIN}';
var	script_price_max	=	'{SCRIPT_PRICE_MAX}';
var	script_size			=	'{SCRIPT_SIZE}';
var	script_color		=	'{SCRIPT_COLOR}';
var	script_vendor		=	'{SCRIPT_VENDOR}';
var script_url			=	'{SCRIPT_URL}';
</script>

{OVERALL_FOOTER}
<!-- END index_general -->