<!-- BEGIN index_general -->
{OVERALL_HEADER}

<script>

</script>
<div style="margin-right:8px; margin-left: 8px;">
	<div class="page">
		<div class="main_right_side">
			<div class="main_right_side_in">

				<div class="text_pages">{TEXT_TEXT}</div>

			</div>
		</div>
		<div class="main_left_side">
			<div class="main_left_side_col">
				{BLOCK_MAIN_CATS_DROP}

				<ul id="left_side_tree">
				<!-- BEGIN news-list -->
				<li>
					<a href="{=url_text}/{NEWS_URL}"><h2>{NEWS_NAME}</h2></a>
				</li>
				<!-- END news-list -->
				</ul>
		</div>
	</div>
</div>

{OVERALL_FOOTER}
<!-- END index_general -->