{OVERALL_HEADER}


<!-- BEGIN index_general -->
<br>

<div id="c_window_red" align="center" style="display: {SHOW_ERRORS};">
<table cellspacing="0" cellpadding="5">
<thead>
<tr><th colspan="2">Ошибка</th></tr>
</thead>
<tbody>
<tr>
<td>{ERROR_MESSAGE}</td>
</tr>
</tbody>
</table>
</div>


<div id="c_window_silver" align="center">
<form action="{URL_BO_CHANGEPASSWORD}" method="post">
<input name="what" type="hidden" value="change">
<table cellspacing="0" cellpadding="5">
<tbody>
<tr>
<td>Новый пароль</td>
<td><input name="password" type="password" value="" size="35"></td>
</tr>
<tr>
<td>Пароль еще раз</td>
<td><input name="password1" type="password" value="" size="35"></td>
</tr>
<tr>
<td colspan="2" align="center"><input type="submit" value="изменить"></td>
</tr>
</tbody>
</table>
</form>
</div>

<br>
<br>
<!-- END index_general -->


{OVERALL_FOOTER}