{OVERALL_HEADER}


<!-- BEGIN index_general -->
<br>

<div class="ui-widget-content ui-corner-all">
<h3 class="ui-widget-header1 ui-corner-all">Список разделов</h3>
<p>
<form action="{URL_BO_SECTIONS}" method="post" id="form_big_size">
<input type="hidden" name="what" value="save_sections">
<input type="hidden" name="pid" value="{P_ID}">
<table width="100%" border="0" cellspacing="5" cellpadding="0">
<!-- BEGIN sections_list -->
<tr>
<!-- BEGIN drop_down -->
<td><a href="{URL_BO_SECTIONS}?pid={SECTION_ID}"><img src="{IMAGE_DIR}/img/folder.gif" width="15" height="16" border="0"></a></td>
<!-- END drop_down -->
<td width="50%"><input type="text" name="names[{SECTION_I}]" value="{SECTION_NAME}" size="40" style="width: 99%;"></td>
<td width="50%"><input type="text" name="urls[{SECTION_I}]" value="{SECTION_URL}" size="40" style="width: 99%;"></td>
<td><input type="checkbox" value="1" name="enabled[{SECTION_I}]" {SECTION_CHECKED}><input type="hidden" name="ids[{SECTION_I}]" value="{SECTION_ID}"></td>
</tr>
<!-- END sections_list -->
<tr>
<td colspan="4" align="center"><br>
<input type="submit" value="запомнить" class="submit"></td>
</tr>
</table>
</form>
</p>
</div>


<br>

<div class="ui-widget-content ui-corner-all">
<h3 class="ui-widget-header1 ui-corner-all">Добавить раздел</h3>
<p>
<form action="{URL_BO_SECTIONS}" method="post" id="form_big_size">
<input type="hidden" name="what" value="add_section">
<input type="hidden" name="pid" value="{P_ID}">
<table width="100%" border="0" cellspacing="5" cellpadding="0">
<tr>
<td width="50%"><input type="text" name="new_name" value="" size="40" style="width: 99%;"></td>
<td width="50%"><input type="text" name="new_url" value="" size="40" style="width: 99%;"></td>
</tr>
<tr>
<td colspan="2" align="center"><br>
<input type="submit" value="добавить" class="submit">
</td>
</tr>
</table>
</form>
</p>
</div>

<br>
<!-- END index_general -->


{OVERALL_FOOTER}