{OVERALL_HEADER}


<!-- BEGIN index_general -->
<br>

<div class="ui-widget-content ui-corner-all">
<h3 class="ui-widget-header1 ui-corner-all">Список пользователей</h3>
<p>
<form action="{URL_BO_USERS}" method="post" id="form_big_size">
<input type="hidden" name="what" value="save_status">
<table width="100%" border="0" cellspacing="5" cellpadding="0">
<!-- BEGIN users_list -->
<tr>
<td><a href="{URL_BO_USERS}?what=sections&user_id={USER_ID}">{USER_NAME}</a></td>
<td><input type="text" name="fio[{USER_I}]" value="{USER_FIO}" size="40" style="width: 99%;"></td>
<td><input type="checkbox" value="1" name="enabled[{USER_I}]" {USER_CHECKED}><input type="hidden" name="ids[{USER_I}]" value="{USER_ID}"></td>
</tr>
<!-- END users_list -->
<tr>
<td colspan="3" align="center"><br>
<input type="submit" value="запомнить" class="submit"></td>
</tr>
</table>
</form>
</p>
</div>

<br>

<div class="ui-widget-content ui-corner-all" style="width: 550px;">
<h3 class="ui-widget-header1 ui-corner-all">Добавить пользователя</h3>
<p>
<form action="{URL_BO_USERS}" method="post" id="form_big_size">
<input type="hidden" name="what" value="add_user">
<table width="100%" border="0" cellspacing="5" cellpadding="0">
<tr>
<td>Логин</td>
<td><input type="text" name="login" value="" style="width: 99%;"></td>
</tr>
<tr>
<td>Имя</td>
<td><input type="text" name="name" value="" style="width: 99%;"></td>
</tr>
<tr>
<td>Пароль</td>
<td><input type="password" name="password" style="width: 99%;"></td>
</tr>
<tr>
<tr>
<td colspan="3" align="center"><br>
<input type="submit" value="добавить" class="submit"></td>
</tr>
</table>
</form>
</p>
</div>

<br>
<!-- END index_general -->

<!-- BEGIN index_sections -->
<br>

<div class="ui-widget-content ui-corner-all">
<h3 class="ui-widget-header1 ui-corner-all">Управление доступом для пользователя [{USER_NAME}] [{USER_FIO}]</h3>
<p>
<form action="{URL_BO_USERS}" method="post" id="form_big_size">
<input type="hidden" name="what" value="save_sections">
<input type="hidden" name="user_id" value="{USER_ID}">
<table width="100%" border="0" cellspacing="5" cellpadding="0">
<!-- BEGIN sections_list -->
<tr>
<td>{TAB}<input type="checkbox" value="1" name="enabled[{SECTION_I}]" {SECTION_CHECKED}><input type="hidden" name="ids[{SECTION_I}]" value="{SECTION_ID}"></td>
<td width="100%">{SECTION_NAME}</td>
</tr>
<!-- END sections_list -->
<tr>
<td colspan="2" align="center"><br>
<input type="submit" value="запомнить" class="submit"></td>
</tr>
</table>
</form>
</p>
</div>

<br>
<br>
<!-- END index_sections -->


{OVERALL_FOOTER}