{OVERALL_HEADER}


<!-- BEGIN index_general -->
<br>

<div class="ui-widget-content ui-corner-all">
<h3 class="ui-widget-header1 ui-corner-all">СПИСОК НЕАВТОРИЗОВАННЫХ КЛИЕНТОВ</h3>
<p>
<table width="100%" border="0" cellspacing="1" cellpadding="3">
<tr>
<td>Статус</td>
<td>Логин</td>
<td>Организация</td>
<td>Город</td>
<td>Контакт</td>
<td>Телефон</td>
<td>Email</td>
<td>Регистрация</td>
<td align="center">&nbsp;</td>
</tr>
<!-- BEGIN users_list -->
<tr bgcolor="{BGCOLOR}">
<td align="center"><div style="color: {USER_STATUS_COLOR};">███</div></td>
<td><a href="{URL_CL_USERS}?what=edit&uid={USER_ID}&return=cl_nonauth.php">{USER_LOGIN}</a></td>
<td>{USER_COMPANY}</td>
<td>{USER_CITY}</td>
<td>{USER_USER}</td>
<td>{USER_PHONE}</td>
<td>{USER_EMAIL}</td>
<td>{USER_TIME}</td>
<td align="center"><a href="{URL_CL_USERS}?what=del&uid={USER_ID}&return=cl_nonauth.php"><img src="{IMAGE_DIR}/img/del_16_16.gif" width="16" height="16" border="0"></a></td>
</tr>
<!-- END users_list -->
</table>
</p>
</div>

<br>
<br>
<br>
<!-- END index_general -->

{OVERALL_FOOTER}