{OVERALL_HEADER}


<!-- BEGIN index_general -->
<br>

<div class="ui-widget-content ui-corner-all">
<h3 class="ui-widget-header1 ui-corner-all">СПИСОК КЛИЕНТОВ (авторизованных: {USERS_AUTH}, неавторизованных: {USERS_NONAUTH})</h3>
<p>
<table width="100%" border="0" cellspacing="1" cellpadding="3">
<tr>
<td>Статус</td>
<td>Логин</td>
<!--
###
<td>Организация</td>
###
-->
<td>Город</td>
<td>Контакт</td>
<td>Телефон</td>
<td>Email</td>
<td>Регистрация</td>
<td align="center">Последний вход</td>
</tr>
<!-- BEGIN users_list -->
<tr bgcolor="{BGCOLOR}">
<td align="center"><div style="color: {USER_STATUS_COLOR};">███</div></td>
<td><a href="{URL_CL_USERS}?what=edit&uid={USER_ID}">{USER_LOGIN}</a></td>
<!--
###
<td>{USER_COMPANY}</td>
###
-->
<td>{USER_CITY}</td>
<td>{USER_USER}</td>
<td>{USER_PHONE}</td>
<td>{USER_EMAIL}</td>
<td>{USER_TIME}</td>
<td>{USER_LAST_LOGIN}</td>
</tr>
<!-- END users_list -->
</table>
</p>
</div>

<br>
<br>
<br>
<!-- END index_general -->

<!-- BEGIN index_edit -->
<br>
&laquo; <a href="{RETURN_URL}" class="link_black">Вернуться к списку клиентов</a><br>
<br>

<div class="ui-widget-content ui-corner-all">
<h3 class="ui-widget-header1 ui-corner-all">РЕДАКТИРОВАНИЕ КЛИЕНТА</h3>
<p>
<form action="{URL_CL_USERS}" method="post" id="form_big_size">
<input type="hidden" name="what" value="save">
<input type="hidden" name="uid" value="{USER_ID}">
<input type="hidden" name="return" value="{RETURN_URL}">
<table width="100%" border="0" cellspacing="1" cellpadding="3">
<tr>
<td nowrap>Логин</td>
<td width="100%"><input name="login" type="text" value="{USER_LOGIN}" size="50" style="width: 98%;"></td>
</tr>
<tr>
<td nowrap>Пароль</td>
<td width="100%"><input name="password" type="text" value="{USER_PASSWORD}" size="50" style="width: 98%;"></td>
</tr>
<!--
###<tr>-->
<!--<td nowrap>Компания</td>-->
<!--<td width="100%"><input name="company" type="text" value="{USER_COMPANY}" size="50" style="width: 98%;"></td>-->
<!--</tr>
###-->
<tr>
<td nowrap>Город</td>
<td width="100%"><input name="city" type="text" value="{USER_CITY}" size="50" style="width: 98%;"></td>
</tr>
<tr>
<td nowrap>Адрес</td>
<td width="100%">
    <!--<textarea name="address" rows="3" cols="50" style="width: 98%;">-->
    {USER_ADDRESS}
<!--</textarea>-->
</td>
</tr>
<tr>
<td nowrap>Почтовый адрес</td>
<td width="100%"><textarea name="post_address" rows="3" cols="50" style="width: 98%;">{USER_POST_ADDRESS}</textarea></td>
</tr>
<tr>
<td nowrap>Телефон</td>
<td width="100%"><input name="phone" type="text" value="{USER_PHONE}" size="50" style="width: 98%;"></td>
</tr>
<!--
###<tr>-->
<!--<td nowrap>Факс</td>-->
<!--<td width="100%"><input name="fax" type="text" value="{USER_FAX}" size="50" style="width: 98%;"></td>-->
<!--</tr>
###-->
<tr>
<td nowrap>Email</td>
<td width="100%"><input name="email" type="text" value="{USER_EMAIL}" size="50" style="width: 98%;"></td>
</tr>
<!--
###<tr>-->
<!--<td nowrap>ICQ</td>-->
<!--<td width="100%"><input name="icq" type="text" value="{USER_ICQ}" size="50" style="width: 98%;"></td>-->
<!--</tr>

<tr>
<td nowrap>Skype</td>
<td width="100%"><input name="skype" type="text" value="{USER_SKYPE}" size="50" style="width: 98%;"></td>
</tr>
<tr>
<td nowrap>WWW</td>
<td width="100%"><input name="site" type="text" value="{USER_SITE}" size="50" style="width: 98%;"></td>
</tr>
<tr>
<td nowrap>Контактное лицо</td>
<td width="100%"><textarea name="user_" rows="3" cols="50" style="width: 98%;">{USER_USER}</textarea></td>
</tr>
<tr>
<td nowrap>Руководитель</td>
<td width="100%"><textarea name="user_boss" rows="3" cols="50" style="width: 98%;">{USER_USER_BOSS}</textarea></td>
</tr>
<tr>
<td nowrap>Бухгалтерия</td>
<td width="100%"><textarea name="user_fin" rows="3" cols="50" style="width: 98%;">{USER_USER_FIN}</textarea></td>
</tr>
<tr>
<td nowrap>Деятельность</td>
<td width="100%"><textarea name="whois" rows="2" cols="50" style="width: 98%;">{USER_WHOIS}</textarea></td>
</tr>
<tr>
<td nowrap>Организации</td>
<td width="100%"><textarea name="organization" rows="2" cols="50" style="width: 98%;">{USER_ORGANIZATION}</textarea></td>
</tr>  ###-->
<!--
###<tr>-->
<!--<td nowrap>Альфа/ВТБ</td>-->
<!--<td width="100%"><input name="cash_payment" type="checkbox" value="1" {USER_CASHPAYMENT}></td>-->
<!--</tr>

<tr>
<td nowrap>Получать рассылку</td>
<td width="100%"><input name="newsletter" type="checkbox" value="1" {USER_NEWSLETTER}></td>
</tr>
###-->
<tr>
<td nowrap>Статус</td>
<td width="100%"><input name="status" type="checkbox" value="1" {USER_STATUS}></td>
</tr>
<tr>
<td nowrap>REFERER</td>
<td width="100%">{USER_REFERER}</td>
</tr>
<tr>
<td colspan="2" align="center"><br><input type="submit" value="сохранить" class="submit"></td>
</tr>
</table>
</form>
</p>
</div>
<!-- END index_edit -->


{OVERALL_FOOTER}