{OVERALL_HEADER}


<!-- BEGIN index_general -->
<br>
<br>


<div id="c_window_red" align="center" style="display: {SHOW_ERRORS};">
<table cellspacing="0" cellpadding="5">
<thead>
<tr><th colspan="2">Ошибка</th></tr>
</thead>
<tbody>
<tr>
<td>{ERROR_MESSAGE}</td>
</tr>
</tbody>
</table>
</div>

<div id="c_window_cb" align="center">
<form action="{URL_INDEX}" method="post">
<input name="what" type="hidden" value="identify">
<input name="url" type="hidden" value="{URL}">
<table cellspacing="0" cellpadding="5">
<thead>
<tr><th colspan="2">Вход</th></tr>
</thead>
<tbody>
<tr>
<td>Логин</td>
<td><input name="login" type="text" value="" size="35"></td>
</tr>
<tr>
<td>Пароль</td>
<td><input name="password" type="password" value="" size="35"></td>
</tr>
<tr>
<td colspan="2" align="center"><input type="submit" value="отправить"></td>
</tr>
</tbody>
</table>
</form>
</div>
<!-- END index_general -->

<!-- BEGIN index_ok -->
<!-- END index_ok -->


{OVERALL_FOOTER}