{OVERALL_HEADER}


<!-- BEGIN index_general -->
<br>


<div class="ui-widget-content ui-corner-all">
<h3 class="ui-widget-header1 ui-corner-all">СПИСОК ТЕКСТОВОГО КОНТЕНТА</h3>
<p>
<form action="{URL_NS_NEWS}" method="post">
<input type="hidden" name="what" value="save">
<input type="hidden" name="page" value="{PAGE}">
<table width="100%" border="0" cellspacing="1" cellpadding="3">
<tr>
<td align="center">Тип</td>
<td align="center">Дата публикации</td>
<td>Заголовок</td>
<td align="center">Редактирование</td>
<td align="center">Публиковать</td>
</tr>
<!-- BEGIN list -->
<tr bgcolor="{BGCOLOR}">
<td align="center" nowrap>{TYPE}</td>
<td align="center" nowrap>{DATE}</td>
<td width="100%"><input type="text" name="names[{I}]" value="{NAME}" size="150" style="width: 99%;"></td>
<td align="center" nowrap><a href="{URL_NS_NEWS}?what=edit&page={PAGE}&id={ID}"><img src="{IMAGE_DIR}/img/edit_15_16.gif" width="15" height="16" border="0"></a></td>
<td align="center" nowrap><input type="checkbox" value="1" name="enabled[{I}]" {CHECKED}><input type="hidden" name="ids[{I}]" value="{ID}"></td>
</tr>
<!-- END list -->
</table>
</form>
</p>
</div>

<br>

<span class="small">
<b>Страницы: </b>
<!-- BEGIN news_pages -->
<a href="{URL_NS_NEWS}?page={NEWS_PAGE}">{NEWS_PAGE_NAME}</a><span>  </span>
<!-- END news_pages -->
</span>

<br>
<br>

<div class="ui-widget-content ui-corner-all">
<h3 class="ui-widget-header1 ui-corner-all">ДОБАВИТЬ ТЕКСТОВУЮ СТАТЬЮ</h3>
<p>
<form action="{URL_NS_NEWS}" method="post">
<input type="hidden" name="what" value="add">
<table width="100%" border="0" cellspacing="1" cellpadding="3">
<tr>
<td>Наименование статьи</td>
<td><input type="text" class="xsmall" name="new_name" value="" size="100" style="width: 98%;"></td>
<td><input type="checkbox" value="1" name="new_enabled"></td>
</tr>
<tr>
<td colspan="3" align="center"><br><input type="submit" class="xsmall" value="добавить"></td>
</tr>
</table>
</form>
</p>
</div>

<br>
<br>
<!-- END index_general -->


<!-- BEGIN index_edit -->
<link rel="stylesheet" type="text/css" href="{IMAGE_DIR}/jquery.cleditor.css" />
<script type="text/javascript" src="{IMAGE_DIR}/jquery.cleditor.js"></script>
<script type="text/javascript">
	$(document).ready(function() {
		$("#full").cleditor({
			width: 800
		});
	});
</script>

<br>
<div class="ui-widget-content ui-corner-all">
<h3 class="ui-widget-header1 ui-corner-all">РЕДАКТИРОВАТЬ СТАТЬЮ</h3>
<p>
<form action="{URL_NS_NEWS}" method="post">
<input type="hidden" name="what" value="save_edit">
<input type="hidden" name="page" value="{PAGE}">
<input type="hidden" name="id" value="{ID}">
<table width="100%" border="0" cellspacing="1" cellpadding="3">
<tr>
<td nowrap>Заголовок</td>
<td width="100%"><input type="text" name="name" value="{NAME}" size="100" style="width: 98%;"></td>
</tr>
<tr>
<td nowrap>Ссылка</td>
<td width="100%"><input type="text" name="url" value="{URL}" size="100" style="width: 98%;"></td>
</tr>
<tr>
<td nowrap>Категория</td>
<td><select name="cat">
<!-- BEGIN cat -->
<option value="{CAT}" {CAT_SELECTED}>{CAT_NAME}</option>
<!-- END cat -->
</select></td>
</tr>
<tr>
<td nowrap>Дата публикации</td>
<td>
<select name="day">
<!-- BEGIN day -->
<option value="{DAY}" {DAY_SELECTED}>{DAY}</option>
<!-- END day -->
</select>
&nbsp;/&nbsp;
<select name="month">
<!-- BEGIN month -->
<option value="{MONTH}" {MONTH_SELECTED}>{MONTH}</option>
<!-- END month -->
</select>
&nbsp;/&nbsp;
<select name="year">
<!-- BEGIN year -->
<option value="{YEAR}" {YEAR_SELECTED}>{YEAR}</option>
<!-- END year -->
</select>
</td>
</tr>
<!--
<tr>
<td nowrap>Кратко</td>
<td><textarea cols="100" rows="5" name="short" style="width: 98%;">{SHORT}</textarea></td>
</tr>
-->
<tr>
<td nowrap>Полный текст</td>
<td><textarea cols="100" rows="10" name="full" id="full" style="width: 98%;">{FULL}</textarea></td>
</tr>
<tr>
<td nowrap>Публиковать?&nbsp;</td>
<td><input type="checkbox" value="1" name="enabled" {CHECKED}></td>
</tr>
<tr>
<td colspan="2" align="center"><br>
<input type="submit" class="xsmall" value="сохранить"></td>
</tr>
</table>
</form>
</p>
</div>


<br>

<div class="ui-widget-content ui-corner-all">
<h3 class="ui-widget-header1 ui-corner-all">ДОБАВИТЬ КАРТИНКУ</h3>
<p>
<form action="{URL_NS_NEWS}" method="post" enctype="multipart/form-data">
<input type="hidden" name="what" value="add_img">
<input type="hidden" name="page" value="{PAGE}">
<input type="hidden" name="id" value="{ID}">
<table width="100%" border="0" cellspacing="3" cellpadding="3">
<tr>
<td nowrap>Выберите картинку</td>
<td><input type="file" name="new_img" size="40"></td>
<td width="100%"><input type="submit" class="xsmall" value="добавить"></td>
</tr>
</table>
</form>
</p>
</div>

<br>

<div class="ui-widget-content ui-corner-all">
<h3 class="ui-widget-header1 ui-corner-all">СПИСОК КАРТИНОК</h3>
<p>
<table width="100%" border="0" cellspacing="1" cellpadding="0">
<!-- BEGIN img_list -->
<tr>
<td class="xsmall" nowrap>{IMG_URL}&nbsp;</td>
<td class="xsmall">&nbsp;<img src="{IMG_URL}" border="0">&nbsp;</td>
<td class="xsmall">&nbsp;<a href="{URL_NS_NEWS}?page={PAGE}&id={ID}&what=del_img&img={IMG_NAME}"><img src="{IMAGE_DIR}/img/del_16_16.gif" width="16" height="16" border="0"></a>&nbsp;</td>
</tr>
<!-- END img_list -->
</table>
</p>
</div>
<!-- END index_edit -->


{OVERALL_FOOTER}