<!-- BEGIN index_info -->
<h3>{USER_COMPANY}, {USER_CITY}</h3>
<table width="100%" border="0" cellspacing="1" cellpadding="3" style="font-size: 10px;">
<tr>
<td width="100%">Наименование</td>
<td align="center" nowrap>Кол-во</td>
<td align="center" nowrap>Цена</td>
<td align="center" nowrap>Склад</td>
<td align="center" nowrap>Дата</td>
</tr>
<!-- BEGIN basket -->
<tr bgcolor="{BGCOLOR}">
<td width="100%">{PR_NAME}</td>
<td align="center" nowrap>{PR_COUNT}</td>
<td align="right" nowrap>{PR_PRICE} руб.</td>
<td align="center" nowrap>{PR_WAREHOUSE}</td>
<td align="center" nowrap>{PR_TIME}</td>
</tr>
<!-- END basket -->
</table>
<!-- END index_info -->

<!-- BEGIN index_general -->
{OVERALL_HEADER}

<br>

<div class="ui-widget-content ui-corner-all">
<h3 class="ui-widget-header1 ui-corner-all">КОРЗИНЫ ПОКУПАТЕЛЕЙ</h3>
<p>
<table width="100%" border="0" cellspacing="1" cellpadding="3">
<tr>
<td nowrap>Покупатель</td>
<td nowrap>Кол-во позиций в корзине</td>
<td nowrap>Сумма товаров в корзине</td>
<td nowrap>Время последнего обновления</td>
<td align="center">&nbsp;</td>
</tr>
<!-- BEGIN basket -->
<tr bgcolor="{BGCOLOR}">
<td style="cursor: pointer;" onClick="ShowBasket('{BS_USER_ID}')" title="{BS_USER}" nowrap>{BS_USER}</td>
<td align="center" nowrap>{BS_COUNT}</td>
<td align="right" nowrap>{BS_SUM} руб.</td>
<td align="center" nowrap>{BS_TIME}</td>
<td width="100%">&nbsp;</td>
</tr>
<!-- END basket -->
</table>
</p>
</div>

<script type="text/javascript">
$(document).ready(function() {
	$( "#dialog-basket" ).dialog({
			height: 500,
			width: 800,
			modal: true,
			autoOpen: false
		});
});

function ShowBasket(uid) {	$( "#dialog-basket" ).html("");	$( "#dialog-basket" ).load("./or_basket.php?what=info&uid=" + uid);	$( "#dialog-basket" ).dialog( "open" );}
</script>


<div id="dialog-basket" title="Товары в корзине">1</div>


<br>
<br>
<br>

{OVERALL_FOOTER}
<!-- END index_general -->