<!-- BEGIN index_general -->
{OVERALL_HEADER}
<br>

<div>
    <b>Страницы: </b>
    <!-- BEGIN orders_pages -->
    <a href="{URL_ORDERS}?find={FIND}&customer={CUSTOMER_ID}&page={ORDERS_PAGE}"
       class="link_black">{ORDERS_PAGE_NAME}</a>&nbsp;
    <!-- END orders_pages -->
</div>
<br>

<div class="ui-widget-content ui-corner-all">
    <h3 class="ui-widget-header1 ui-corner-all">СПИСОК ЗАКАЗОВ</h3>

    <p>
    <table width="100%" border="0" cellspacing="1" cellpadding="4">
        <tr style="background: #ffffff url(images/ui-bg_fine-grain_15_ffffff_60x60.png) 50% 50% repeat;">
            <td align="center" nowrap>Статус</td>
            <td align="center" nowrap># заказа</td>
            <!--<td align="center" nowrap># счета</td>-->
            <td align="center" nowrap>Дата</td>
            <td align="center" width="100%">Заказчик</td>
            <td align="center" nowrap>Город</td>
            <td align="center" nowrap>Телефон</td>
            <td align="center" nowrap>Сумма заказа</td>
            <td align="center" nowrap>Оплата</td>
            <!--<td align="center" nowrap>Отгрузка</td>-->
        </tr>
        <!-- BEGIN orders_list -->
        <tr bgcolor="{BGCOLOR}">
            <td nowrap>
                {ORDER_STATUS}
                <!--<br>-->

                <!--<div class="small_silver">{ORDER_MANAGER_NAME} {ORDER_MANAGER_TIME}</div>-->
            </td>
            <td align="right" nowrap><a href="{URL_ORDERS}?what=edit&page={PAGE}&oid={ORDER_ID}">{ORDER_ID}</a></td>
            <!--<td class="small_silver" align="right" nowrap>{ORDER_INVOICE}</td>-->
            <td class="small_silver" nowrap>{ORDER_DATE}</td>
            <td width="100%"><a href="{URL_ORDERS}?what=edit&page={PAGE}&oid={ORDER_ID}">{ORDER_CUSTOMER_NAME}</a></td>
            <td class="small_silver" align="center" nowrap>{ORDER_CUSTOMER_CITY}</td>
            <td class="small_silver" align="center" nowrap>{ORDER_CUSTOMER_PHONE}</td>
            <td align="right" nowrap>{ORDER_TOTAL} руб.</td>
            <td class="small_silver" nowrap>{ORDER_PAYMENT}</td>
            <!--<td class="small_silver" nowrap>{ORDER_DELIVERY}</td>-->
        </tr>
        <!-- END orders_list -->
    </table>
    </p>
</div>

<br>
<div>
    <b>Страницы: </b>
    <!-- BEGIN orders_pages -->
    <a href="{URL_ORDERS}?find={FIND}&customer={CUSTOMER_ID}&page={ORDERS_PAGE}"
       class="link_black">{ORDERS_PAGE_NAME}</a>&nbsp;
    <!-- END orders_pages -->
</div>

<br>
<br>
{OVERALL_FOOTER}
<!-- END index_general -->

<!-- BEGIN index_edit -->
{OVERALL_HEADER}
<script type="text/javascript" src="{IMAGE_DIR}/jquery.printElement.js"></script>
<script>
    $(function () {
        $(".print_button, .save, .save_and_exit, .dontsave", ".save_buttons").button();

        $(".print_button").click(function () {

            var wind = open('./or_orders.php?what=print&page=&oid={ORDER_ID}', 'Печать', 'width=500,height=500,status=no,toolbar=no,menubar=no,location=no,scrollbar=0,resizable=yes');
            /*
             wind .document.writeln(
             $("#products-list").html()
             );
             */
            //wind .document.close();
            wind.focus();
            //wind .print();
            //wind .close();
        });


        $(".dontsave", ".save_buttons").click(function () {
            $('#what').val('exit');
            $('.save_info').submit();
        });
        $(".save", ".save_buttons").click(function () {
            $('#exit').val('0');
            $('.save_info').submit();
        });
        $(".save_and_exit", ".save_buttons").click(function () {
            $('#exit').val('1');
            $('.save_info').submit();
        });

        $(".work, .done", ".status_buttons").button();
        $(".work", ".status_buttons").click(function () {
            $('#exit').val('0');
            $('#order_status').val('2');
            $('.save_info').submit();
        });

        $(".done", ".status_buttons").click(function () {
            $('#exit').val('0');
            $('#order_status').val('3');
            $('.save_info').submit();
        });
    });
</script>
<br>
&laquo; <a href="{URL_ORDERS}?page={PAGE}" class="link_black">Вернуться к списку заказов</a><br>
<br>

<table width="100%" border="0" cellspacing="1" cellpadding="1">
    <tr>
        <td width="50%" valign="top">
            <!-- ######################################################## ЛЕВЫЙ СТОЛБЕЦ ##################################### -->
            <div class="ui-widget-content ui-corner-all" style="background: {ORDER_STATUS_COLOR};">
                <h3 class="ui-widget-header1 ui-corner-all">ИНФОРМАЦИЯ О ЗАКАЗЕ</h3>

                <p>

                <form action="{URL_ORDERS}" method="post" id="form_big_size" class="save_info">
                    <input type="hidden" id="what" name="what" value="save">
                    <input type="hidden" name="oid" value="{ORDER_ID}">
                    <input type="hidden" name="page" value="{PAGE}">
                    <input type="hidden" name="find" value="{FIND}">
                    <input type="hidden" id="exit" name="exit" value="0">
                    <input type="hidden" name="customer" value="{CUSTOMER_ID}">
                    <table width="100%" border="0" cellspacing="1" cellpadding="4">
                        <tr>
                            <td nowrap>Заказ</td>
                            <td width="100%">{ORDER_ID}</td>
                        </tr>
                        <tr>
                            <td nowrap>Дата заказа</td>
                            <td width="100%">{ORDER_TIME}</td>
                        </tr>
                        <!--<tr>-->
                        <!--<td nowrap>Счет</td>-->
                        <!--<td width="100%"><input name="invoice" type="text" value="{ORDER_INVOICE}" size="30" style="width: 98%;"></td>-->
                        <!--</tr>-->
                        <tr>
                            <td nowrap>Статус</td>
                            <td width="100%">
                                <select size="1" name="status" id="order_status">
                                    <option value="value1">---</option>
                                    <!-- BEGIN status-list -->
                                    <option value="{STATUS_ID}"
                                    {STATUS_SELECTED}>{STATUS_NAME}</option>
                                    <!-- END status-list -->
                                </select>

                                <div class="status_buttons" style="display:inline;">
                                    <!-- BEGIN status-work -->
                                    <a href="#" class="work">Я обрабатываю!</a>
                                    <!-- END status-work -->
                                    <!-- BEGIN status-done -->
                                    <a href="#" class="done">Я обработал!</a>
                                    <!-- END status-done -->
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td nowrap>Оплата</td>
                            <td width="100%">{ORDER_PAYMENT}</td>
                        </tr>
                        <!--
                        ####
                        <tr>-->
                        <!--<td nowrap>Отгрузка</td>-->
                        <!--<td width="100%">{ORDER_DELIVERY}</td>-->
                        <!--</tr>
                        ###-->
                        <tr>
                            <td nowrap>Менеджер</td>
                            <td width="100%">{ORDER_MANAGER_NAME}</td>
                        </tr>
                        <tr>
                            <td nowrap>Обновлен</td>
                            <td width="100%">{ORDER_MANAGER_TIME}</td>
                        </tr>
                        <tr>
                            <td colspan="2" align="center">
                                <div class="save_buttons">
                                    <a href="#" class="print_button">Распечатать</a>
                                    <!--<a href="#" class="dontsave">Не сохранять и выйти</a>-->
                                    <a href="#" class="save">Сохранить</a>
                                    <!--<a href="#" class="save_and_exit">Сохранить и выйти</a>-->
                                </div>
                            </td>
                        </tr>
                    </table>
                </form>
                </p>
            </div>
            <!-- ######################################################## // ЛЕВЫЙ СТОЛБЕЦ ##################################### -->
        </td>
        <td width="50%" valign="top">
            <!-- ######################################################## ПРАВЫЙ СТОЛБЕЦ ##################################### -->
            <div class="ui-widget-content ui-corner-all">
                <h3 class="ui-widget-header1 ui-corner-all">ИНФОРМАЦИЯ О ПОКУПАТЕЛЕ</h3>

                <p>

                <form action="{URL_ORDERS}" method="get" id="form_big_size">
                    <table width="100%" border="0" cellspacing="1" cellpadding="4">
                        <tr>
                            <td nowrap>Имя</td>
                            <td width="100%">{USER_NAME}</td>
                        </tr>
                        <tr>
                            <td nowrap>Фамилия</td>
                            <td width="100%">{USER_FAMILY}</td>
                        </tr>
                        <tr>
                            <td nowrap>Адрес</td>
                            <td width="100%">{USER_COMPANY}</td>
                        </tr>
                        <!--
                        ###
                        <tr>-->
                        <!--<td nowrap>Город</td>-->
                        <!--<td width="100%">{USER_CITY}</td>-->
                        <!--</tr>
                        ###
                        -->
                        <tr>
                            <td nowrap>Телефон</td>
                            <td width="100%">{USER_PHONE}</td>
                        </tr>
                        <tr>
                            <td nowrap>Email</td>
                            <td width="100%">{USER_EMAIL}</td>
                        </tr>
                        <!--
                        ###<tr>-->
                        <!--<td nowrap>Контакт</td>-->
                        <!--<td width="100%">{USER_USER_}</td>-->
                        <!--</tr>-->
                        <!--<tr>
                        -->
                        <!--<td nowrap>Организации</td>-->
                        <!--<td width="100%">{USER_ORGANIZATION}</td>-->
                        <!--</tr>
                        ###-->
                        <tr>
                            <td nowrap>Количество заказов</td>
                            <td width="100%">{USER_ORDERS_COUNT} (вместе с этим заказом)</td>
                        </tr>
                    </table>
                </form>
                </p>
            </div>

            <br>

            <div class="ui-widget-content ui-corner-all" style="background: {ORDER_STATUS_COLOR};">
                <h3 class="ui-widget-header1 ui-corner-all">КОММЕНТАРИЙ К ЗАКАЗУ</h3>

                <p style="padding: 5px 5px 5px 5px;">{ORDER_ADDITIONAL}</p>
            </div>
            <!-- ######################################################## // ПРАВЫЙ СТОЛБЕЦ ##################################### -->
        </td>
    </tr>
</table>


<BR>

<div class="ui-widget-content ui-corner-all" id="products-list">
    <h3 class="ui-widget-header1 ui-corner-all">СПИСОК ЗАКАЗАННЫХ ТОВАРОВ</h3>

    <p>
    <table border="0" cellspacing="1" cellpadding="4">
        <tr style="background: #ffffff url(images/ui-bg_fine-grain_15_ffffff_60x60.png) 50% 50% repeat;">
            <td align="center" nowrap>Код товара</td>
            <td align="center" nowrap>Артикул</td>
            <td align="center" width="100%">Наименование</td>
            <td align="center" nowrap>Наличие</td>
            <td align="center" nowrap>Кол-во</td>
            <td align="center" nowrap>Цена</td>
            <td align="center" nowrap>Сумма</td>
        </tr>
        <!-- BEGIN items_list -->
        <tr bgcolor="{BGCOLOR}" onmouseover="setPointer(this, {I}, 'over', '{BGCOLOR}', '#CCFFCC', '#FFCC99');"
            onmouseout="setPointer(this, {I}, 'out', '{BGCOLOR}', '#CCFFCC', '#FFCC99');"
            onmousedown="setPointer(this, {I}, 'click', '{BGCOLOR}', '#CCFFCC', '#FFCC99');">
            <td nowrap><a href="{URL_PR_PRODUCTS}?what=edit_product&pid={ITEMS_ID}" target="_blank" class="link_black">{ITEMS_PRCODE}</a>
            </td>
            <td nowrap><a href="{URL_PR_PRODUCTS}?what=edit_product&pid={ITEMS_ID}" target="_blank" class="link_black">{ITEMS_CODE}</a>
            </td>
            <td width="100%">{ITEMS_NAME}</td>
            <td nowrap>{ITEMS_WAREHOUSE}</td>
            <td align="right" nowrap>{ITEMS_COUNT}</td>
            <td align="right" nowrap>{ITEMS_PRICE} руб.</td>
            <td align="right" nowrap>{ITEMS_SUM} руб.</td>
        </tr>
        <!-- END items_list -->
        <tr style="background: #ffffff url(images/ui-bg_fine-grain_15_ffffff_60x60.png) 50% 50% repeat;">
            <td align="right" colspan="6">ИТОГО</td>
            <td align="right" nowrap>{ORDER_TOTAL} руб.</td>
        </tr>
    </table>
    </p>
</div>

<br>
<br>
{OVERALL_FOOTER}
<!-- END index_edit -->

<!-- BEGIN index_print -->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>{=site_title}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <LINK REL="SHORTCUT ICON" href="./favicon.ico">
    <link rel="stylesheet" href="{CSS_FILE_LINK}">
    <link rel="stylesheet" href="{IMAGE_DIR}/jquery-ui.css">
    <script src="{IMAGE_DIR}/functions.js" type="text/javascript" language="javascript"></script>

</head>
<body topmargin=0 onload="window.print(); window.close();">

ИНФОРМАЦИЯ О ПОКУПАТЕЛЕ
<table border="0" cellspacing="1" cellpadding="1" style="font-weight: 300; border: 1px solid #000000;">
    <tr>
        <td nowrap>Имя</td>
        <td width="100%">{USER_NAME}</td>
    </tr>
    <tr>
        <td nowrap>Фамилия</td>
        <td width="100%">{USER_FAMILY}</td>
    </tr>
    <tr>
        <td nowrap>Адрес</td>
        <td width="100%">{USER_COMPANY}</td>
    </tr>
    <!--
    ###
    <tr>-->
    <!--<td nowrap>Город</td>-->
    <!--<td width="100%">{USER_CITY}</td>-->
    <!--</tr>
    ###
    -->
    <tr>
        <td nowrap>Телефон</td>
        <td width="100%">{USER_PHONE}</td>
    </tr>
    <tr>
        <td nowrap>Email</td>
        <td width="100%">{USER_EMAIL}</td>
    </tr>
    <!--
    ###<tr>-->
    <!--<td nowrap>Контакт</td>-->
    <!--<td width="100%">{USER_USER_}</td>-->
    <!--</tr>-->
    <!--<tr>
    -->
    <!--<td nowrap>Организации</td>-->
    <!--<td width="100%">{USER_ORGANIZATION}</td>-->
    <!--</tr>
    ###-->
    <tr>
        <td nowrap>Количество заказов</td>
        <td width="100%">{USER_ORDERS_COUNT} (вместе с этим заказом)</td>
    </tr>
</table>

<br>

ИНФОРМАЦИЯ О ЗАКАЗЕ
<table border="0" cellspacing="1" cellpadding="1" style="font-weight: 300; border: 1px solid #000000;">
    <tr>
        <td nowrap>Заказ</td>
        <td width="100%">{ORDER_ID}</td>
    </tr>
    <tr>
        <td nowrap>Дата заказа</td>
        <td width="100%">{ORDER_TIME}</td>
    </tr>
<!--
###
<tr>-->
    <!--<td nowrap>Счет</td>-->
    <!--<td width="100%">{ORDER_INVOICE}</td>-->
<!--</tr>
###
-->
    <tr>
        <td nowrap>Оплата</td>
        <td width="100%">{ORDER_PAYMENT}</td>
    </tr>
<!--
###
<tr>-->
    <!--<td nowrap>Отгрузка</td>-->
    <!--<td width="100%">{ORDER_DELIVERY}</td>-->
<!--</tr>
###-->
</table>

<br>
КОММЕНТАРИЙ К ЗАКАЗУ
<table border="0" cellspacing="1" cellpadding="1" style="font-weight: 300; border: 1px solid #000000;">
    <tr>
        <td>{ORDER_ADDITIONAL}</td>
    </tr>
</table>

<br>

СПИСОК ЗАКАЗАННЫХ ТОВАРОВ
<table border="0" cellspacing="1" cellpadding="1" style="font-weight: 300; border: 1px solid #000000;">
    <tr>
        <td align="center" nowrap>Код товара</td>
        <td align="center" nowrap>Артикул</td>
        <td align="center" width="100%">Наименование</td>
        <td align="center" nowrap>Наличие</td>
        <td align="center" nowrap>Кол-во</td>
        <td align="center" nowrap>Цена</td>
        <td align="center" nowrap>Сумма</td>
    </tr>
    <!-- BEGIN items_list -->
    <tr>
        <td style="padding: 3px; border-bottom: 1px dotted #000000;" nowrap>{ITEMS_PRCODE}</td>
        <td style="padding: 3px; border-bottom: 1px dotted #000000;" nowrap>{ITEMS_CODE}</td>
        <td style="padding: 3px; border-bottom: 1px dotted #000000;" width="100%">{ITEMS_NAME}</td>
        <td style="padding: 3px; border-bottom: 1px dotted #000000;" nowrap>{ITEMS_WAREHOUSE}</td>
        <td style="padding: 3px; border-bottom: 1px dotted #000000;" align="right" nowrap>{ITEMS_COUNT}</td>
        <td style="padding: 3px; border-bottom: 1px dotted #000000;" align="right" nowrap>{ITEMS_PRICE} руб.</td>
        <td style="padding: 3px; border-bottom: 1px dotted #000000;" align="right" nowrap>{ITEMS_SUM} руб.</td>
    </tr>
    <!-- END items_list -->
    <tr>
        <td align="right" colspan="6"><b>ИТОГО</b></td>
        <td align="right" nowrap><b>{ORDER_TOTAL} руб.</b></td>
    </tr>
</table>


</body>
</html>
<!-- END index_print -->