{OVERALL_HEADER}

<br>

<!-- BEGIN path -->
<div class="ui-widget-content ui-corner-all">
<h3 class="ui-widget-header1 ui-corner-all"><a href="{URL_PR_CATS}" class="blLinkpu">Корневая</a> &raquo;
<!-- BEGIN path_rows -->
 <a href="{URL_PR_CATS}?cid={PATH_CID}" class="blLinkpu">{PATH_NAME}</a> &raquo;
<!-- END path_rows --></h3>
</div>
<br>
<!-- END path -->


<!-- BEGIN index_general -->

<!-- BEGIN cats -->

<div class="ui-widget-content ui-corner-all">
<h3 class="ui-widget-header1 ui-corner-all">КАТЕГОРИИ</h3>
<p>
<table width="100%" border="0" cellspacing="5" cellpadding="0" id="form_big_size">
<!-- BEGIN cats_list -->
<tr>
<td><a href="{URL_PR_CATS}?what=edit&pid={CUR_CID}&cid={CID}"><img src="{IMAGE_DIR}/img/folder_closed{CAT_ENABLED}.png" width="16" height="16" border="0"></a></td>
<td><a href="{URL_PR_CATS}?cid={CUR_CID}&pid={CID}&what=up"><img src="{IMAGE_DIR}/img/up_16_16.gif" width="16" height="16" border="0"></a></td>
<td><a href="{URL_PR_CATS}?cid={CUR_CID}&pid={CID}&what=down"><img src="{IMAGE_DIR}/img/down_16_16.gif" width="16" height="16" border="0"></a></td>
<td nowrap><a href="{URL_PR_CATS}?cid={CID}" class="blLinkpu">{CAT_NAME}</a></td>
<td nowrap><a href="{URL_PR_CATS}?cid={CID}" class="blLinkpu">{CAT_SHORT_NAME}</a></td>
<td width="100%"><a href="{URL_PR_CATS}?cid={CID}" class="blLinkpu">{CAT_URL}</a></td>
</tr>
<!-- END cats_list -->
</table>
</p>
</div>

<br>

<div class="ui-widget-content ui-corner-all">
<h3 class="ui-widget-header1 ui-corner-all">ДОБАВИТЬ КАТЕГОРИЮ</h3>
<p>
<form action="{URL_PR_CATS}" method="post" id="form_big_size">
<input type="hidden" name="what" value="add_cat">
<input type="hidden" name="cid" value="{CUR_CID}">
<input type="hidden" name="page" value="{PAGE}">
<table width="100%" border="0" cellspacing="5" cellpadding="0">
<tr>
<td nowrap>Короткое название категории:</td>
<td width="100%"><input type="text" name="new_shortname" value="" size="50" style="width: 99%;"></td>
</tr>
<tr>
<td nowrap>Полное название категории:</td>
<td width="100%"><input type="text" name="new_name" value="" size="50" style="width: 99%;"></td>
</tr>
<tr>
<td nowrap>Название ссылки:</td>
<td width="100%"><input type="text" name="new_url" value="" size="50" style="width: 99%;"></td>
</tr>
<tr>
<td colspan="2" align="center"><br><input type="submit" value="добавить" class="submit"></td>
</tr>
</table>
</form>
</p>
</div>
<!-- END index_general -->

<!-- BEGIN index_edit -->
<div class="ui-widget-content ui-corner-all">
<h3 class="ui-widget-header1 ui-corner-all">РЕДАКТИРОВАНИЕ КАТЕГОРИИ</h3>
<p>
<form action="{URL_PR_CATS}" method="post" id="form_big_size">
<input type="hidden" name="what" value="save">
<input type="hidden" name="cid" value="{CID}">
<input type="hidden" name="pid" value="{PID}">
<input type="hidden" name="page" value="{PAGE}">
<input type="hidden" name="url" value="{URL}">
<table width="100%" border="0" cellspacing="5" cellpadding="0">
<tr>
<td nowrap>Короткое название категории:</td>
<td width="100%"><input type="text" name="short_name" value="{CAT_SHORT_NAME}" size="50" style="width: 99%;"></td>
</tr>
<tr>
<td nowrap>Полное название категории:</td>
<td width="100%"><input type="text" name="name" value="{CAT_NAME}" size="50" style="width: 99%;"></td>
</tr>
<tr>
<td nowrap>Название ссылки:</td>
<td width="100%"><input type="text" name="url" value="{CAT_URL}" size="50" style="width: 99%;"></td>
</tr>
<tr>
<td nowrap>Описание:</td>
<td width="100%"><input type="text" name="_desc" value="{CAT_DESC}" size="50" style="width: 99%;"></td>
</tr>
<tr>
<td nowrap>Ключевые слова:</td>
<td width="100%"><input type="text" name="_keywords" value="{CAT_KEYWORDS}" size="50" style="width: 99%;"></td>
</tr>
<tr>
<td nowrap>Статус</td>
<td width="100%"><input type="checkbox" name="enabled" value="1" {CAT_ENABLED}></td>
</tr>
<tr>
<td colspan="2" align="center"><br><input type="submit" value="сохранить" class="submit"></td>
</tr>
</table>
</form>
</p>
</div>

<br>
<br>
<!-- END index_edit -->


{OVERALL_FOOTER}