{OVERALL_HEADER}


<!-- BEGIN index_general -->
<br>

<div class="ui-widget-content ui-corner-all">
<h3 class="ui-widget-header1 ui-corner-all">ЦВЕТА ТОВАРОВ</h3>
<p>

<button id="add_color">Добавить цвет</button>

<div id="ajax">

<div id="color_table">

<table width="100%" border="0" cellspacing="1" cellpadding="3">
<tr>
<td align="center" nowrap>Наименование</td>
<td align="center" nowrap>Цвет</td>
<td width="100%">&nbsp;</td>
</tr>
<!-- BEGIN colors -->
<tr bgcolor="{PR_COLOR}" style="cursor: pointer;" onClick="javascript:OpenColor('{PR_ID}', '{PR_NAME}', '{PR_COLOR}');">
<td style="padding: 5px;" nowrap>{PR_NAME}</td>
<td style="padding: 5px;" align="center" nowrap>{PR_COLOR}</td>
<td width="100%">&nbsp;</td>
</tr>
<!-- END colors -->
<tr>
    <td colspan="3" height="40" style="padding:0 0 0 20px;"> Дополнительные цвета </td>
</tr>
    <!-- BEGIN colors_add -->
<tr bgcolor="#ccadcc" style="cursor: pointer;" onClick="javascript:OpenColor('{PR_ID_ADD}', '{PR_NAME_ADD}', '{PR_COLOR_ADD}');">
<td style="padding: 5px;" nowrap>{PR_NAME_ADD}</td>
<td style="padding: 5px;" align="center" nowrap>{PR_COLOR_ADD}</td>
<td width="100%">&nbsp;</td>
</tr>
<!-- END colors_add -->
</table>

</div>

</div>

</p>
</div>

<div id="dialog-add" title="Цвет товара">
<input name="color_id" id="color_id" type="hidden" value="0">
<table width="100%" border="0" cellspacing="1" cellpadding="3">
<tr>
<td>Наименование</td>
<td><input name="color_name" id="color_name" type="text" value="" style="width: 100%;"></td>
</tr>
<tr>
<td>Цвет</td>
<td><input name="color_color" id="color_color" type="text" value="" style="width: 100%;"></td>
</tr>
</table>
</div>


<script type="text/javascript">
	var p2p	=	"";
	var current_pid	=	"0";

	function OpenColor(id, name, color) {
		$("#color_id").val(id);
		$("#color_name").val(name);
		$("#color_color").val(color);
		$( "#dialog-add" ).dialog( "open" );
	}

	$(document).ready(function() {
		$( "#add_color" ).button().click(function() {
			OpenColor(0, "", "");
		});

		$( "#dialog:ui-dialog" ).dialog( "destroy" );

		$( "#dialog-add" ).dialog({
			height: 200,
			width: 600,
			modal: true,
			resizable: false,
			autoOpen: false,
			buttons: {
				"Отмена": function() {
					$( this ).dialog("close");
				},
				"OK": function() {
					$.post("./pr_colors.php", { what: "save", id: $("#color_id").val(), name: $("#color_name").val(), color: $("#color_color").val() },
							function(data){
								$('#ajax').load('./pr_colors.php #color_table');
								$("#dialog-add").dialog("close");
							}
					);
				}
			}
		});

	});
</script>

<br>
<br>
<br>
<!-- END index_general -->


{OVERALL_FOOTER}