{OVERALL_HEADER}


<!-- BEGIN index_general -->
<br>

<div class="ui-widget-content ui-corner-all">
<h3 class="ui-widget-header1 ui-corner-all">ПОСТУПЛЕНИЯ ТОВАРОВ</h3>
<p>

<button id="add_income">Добавить товар в приход</button>

<table width="100%" border="0" cellspacing="1" cellpadding="3">
<tr>
<td align="center" nowrap>Дата</td>
<td align="center" nowrap>Наименование</td>
<td align="center" nowrap>Наличие</td>
<td align="center" nowrap>Цена</td>
<td width="100%">&nbsp;</td>
</tr>
<!-- BEGIN income -->
<tr bgcolor="{BGCOLOR}">
<td align="center" nowrap>{INCOME_DATE}</td>
<td  nowrap>{INCOME_NAME}</td>
<td align="center" nowrap>{INCOME_WAREHOUSE}</td>
<td align="right" nowrap>{INCOME_PRICE} руб.</td>
<td width="100%">&nbsp;</td>
</tr>
<!-- END income -->
</table>
</p>
</div>

<div id="dialog-add" title="Добавить товар в приход">1</div>

<div id="p2p-list" title=""></div>

<script type="text/javascript">
	var p2p	=	"";
	var current_pid	=	"0";

	function P2PChangeDir(dir) {
		$( "#dialog-add" ).load("./pr_add_product.php?cid="+dir);
	}

	function PickupProduct(pid) {		$( "#p2p-list" ).load("./pr_add_product.php?what=income_add&pid1="+current_pid+"&pid2="+pid);
		$( "#dialog-add" ).dialog( "close" );
	}

	$(document).ready(function() {
		$( "#add_income" ).button().click(function() {
			p2p	=	"add_income";
			if ($( "#dialog-add" ).html() == "1") {
				$( "#dialog-add" ).load("./pr_add_product.php");
			}
			$( "#dialog-add" ).dialog( "open" );
		});

		$( "#dialog:ui-dialog" ).dialog( "destroy" );

		$( "#dialog-add" ).dialog({
			height: 500,
			width: 700,
			modal: true,
			autoOpen: false
		});

	});
</script>

<br>
<br>
<br>
<!-- END index_general -->


{OVERALL_FOOTER}