{OVERALL_HEADER}

<br>
<!-- BEGIN index_general -->
<div class="ui-widget-content ui-corner-all">
<h3 class="ui-widget-header1 ui-corner-all">ОБНОВЛЕНИЕ ПРАЙС-ЛИСТА</h3>
<p>
<form action="{URL_PR_PRICELIST}" method="post" enctype="multipart/form-data" name="form_big_size" id="form_big_size">
<input type="hidden" name="what" value="upload">
<table width="100%" border="0" cellspacing="5" cellpadding="0">
<tr>
<td nowrap>Дата последнего обновления:</td>
<td width="100%">{PRICELIST_DATE}</td>
</tr>
<tr>
<td nowrap>Размер файла:</td>
<td width="100%">{PRICELIST_SIZE} килобайт</td>
</tr>
<tr>
<td nowrap>Закачать новый прайс-лист:</td>
<td width="100%"><input type="file" name="new_price" size="50" style="width: 99%;"></td>
</tr>
<tr>
<td colspan="2" align="center"><br><input type="submit" value="закачать" class="submit"></td>
</tr>
</table>
</form>
</p>
</div>
<!-- END index_general -->


{OVERALL_FOOTER}