{OVERALL_HEADER}


<!-- BEGIN index_general -->
<br>

<script type="text/javascript">
function MoveThis(path, pid, cid) {
    $("#products-list").load("./pr_add_product.php?what=move_product&path="+path+"&pid="+pid+"&cid="+cid);

        //$("#warehouse-sizes-colors").load("./pr_add_product.php?what=warehouse-sizes-colors&pid="+current_pid);
    }
//$(document).ready(function(){
//    var cat = {CAT_ID};
//    console.log(cat);
//    $("#products-list").load("./pr_add_product.php?what=products_list&pid="+{CAT_ID});
//});
</script>
<!-- BEGIN path -->
<div class="ui-widget-content ui-corner-all">
<h3 class="ui-widget-header1 ui-corner-all"><a href="{URL_PR_PRODUCTS}" class="blLinkpu">Корневая</a> &raquo;
<!-- BEGIN path_rows -->
 <a href="{URL_PR_PRODUCTS}?cid={PATH_CID}" class="blLinkpu">{PATH_NAME}</a> &raquo;
<!-- END path_rows --></h3>
</div>
<!-- END path -->

<!-- BEGIN cats -->
<div class="ui-widget-content ui-corner-all">
<p>
<table width="100%" border="0" cellspacing="5" cellpadding="0">
<!-- BEGIN cats_list -->
<tr>
<td nowrap><a href="{URL_PR_PRODUCTS}?cid={CAT_ID}"><img src="{IMAGE_DIR}/img/folder_closed{CAT_ENABLED}.png" width="16" height="16" border="0"></a></td>
<td width="100%"><a href="{URL_PR_PRODUCTS}?cid={CAT_ID}" class="blLinkpu">{CAT_NAME}</a></td>
</tr>
<!-- END cats_list -->
</table>
</p>
</div>
<br>
<!-- END cats -->

<!-- BEGIN products -->
<br>
<b>Страницы: </b>
<!-- BEGIN news_pages -->
<a href="{URL_PR_PRODUCTS}?cid={CID}&page={PR_PAGE}" class="link_black">{PR_PAGE_NAME}</a>&nbsp;
<!-- END news_pages -->
<br>
<br>


<div class="ui-widget-content ui-corner-all">
<h3 class="ui-widget-header1 ui-corner-all">Товары</h3>
<p>
<form action="{URL_PR_PRODUCTS}" method="post" id="form_big_size">
<input type="hidden" name="what" value="save_products">
<input type="hidden" name="cid" value="{CID}">
<input type="hidden" name="page" value="{PAGE}">

    <div id="products-list">
<table width="100%" border="0" cellspacing="5" cellpadding="0">
<tr>
<td align="center" nowrap>&nbsp;</td>
<td align="center" nowrap>&nbsp;</td>
<td align="center" nowrap>&nbsp;</td>
<td align="center" nowrap>Наименование</td>
<td align="center" nowrap>Производитель</td>
<td align="center" nowrap>Цена</td>
<!--
<td align="center" nowrap>Спец. цена</td>
<td align="center" nowrap>Наличие</td>
<td align="center" nowrap>Сортировка</td>
-->
<td align="center" nowrap>&nbsp;</td>
</tr>

<!-- BEGIN pr_list -->

<tr bgcolor="{COLOR}">
<td align="center" nowrap bgcolor="{PR_COLOR}"><img src="{IMAGE_DIR}/img/d.gif" width="16" height="16" border="0"></td>

<td align="center" nowrap>&nbsp;<a href="javascript:void(0);" onclick="MoveThis('up','{PR_ID}','{CID}');"><img src="{IMAGE_DIR}/img/btn_up.gif" width="12" height="12" border="0"></a>&nbsp;</td>
<td align="center" nowrap>&nbsp;<a href="javascript:void(0);" onclick="MoveThis('down','{PR_ID}','{CID}');"><img src="{IMAGE_DIR}/img/btn_down.gif" width="12" height="12" border="0"></a>&nbsp;</td>

<td width="100%"><a href="{URL_PR_PRODUCTS}?what=edit_product&cid={CID}&page={PAGE}&pid={PR_ID}" class="blLinkpu">{PR_NAME}</a></td>
<td align="center" nowrap>{PR_VENDOR_NAME}</td>
<td align="center" nowrap><input type="text" name="price[{I}]" value="{PR_PRICE}" size="8" class="small" style="text-align: right;"></td>
<input type="hidden" name="seq[{I}]" value="{PR_SEQ}">
<!--
<td align="center" nowrap><input type="text" name="price2[{I}]" value="{PR_PRICE2}" size="8" class="small" style="text-align: right;"></td>
<td align="center" nowrap><input type="text" name="warehouse[{I}]" value="{PR_WAREHOUSE}" size="15" class="small" style="text-align: center;"></td>
<td align="center" nowrap><input type="text" name="seq[{I}]" value="{PR_SEQ}" size="5" class="small" style="text-align: center;"></td>
-->
<td align="center" nowrap><input type="checkbox" value="1" name="enabled[{I}]" {PR_ENABLED}><input type="hidden" name="ids[{I}]" value="{PR_ID}"></td>
</tr>

<!-- END pr_list -->

<tr>
<td colspan="7" align="center"><br>
<input type="submit" value="запомнить" class="submit"></td>
</tr>
</table>
</div>
</form>
</p>
</div>

<br>
<b>Страницы: </b>
<!-- BEGIN news_pages -->
<a href="{URL_PR_PRODUCTS}?cid={CID}&page={PR_PAGE}" class="link_black">{PR_PAGE_NAME}</a>&nbsp;
<!-- END news_pages -->
<br>
<!-- END products -->
<br>


<div class="ui-widget-content ui-corner-all">
<h3 class="ui-widget-header1 ui-corner-all">ДОБАВИТЬ ТОВАР</h3>
<p>
<form action="{URL_PR_PRODUCTS}" method="post" id="form_big_size">
<input type="hidden" name="what" value="add_product">
<input type="hidden" name="cid" value="{CID}">
<input type="hidden" name="page" value="{PAGE}">
<table width="100%" border="0" cellspacing="1" cellpadding="0">
<tr>
<td align="center" nowrap>Наименование товара:</td>
<td width="100%"><input type="text" name="new_name" value="" size="80" style="width: 99%;"></td>
</tr>
<tr>
<td colspan="2" align="center"><br><input type="submit" value="добавить" class="submit"></td>
</tr>
</table>
</form>
</p>
</div>
<!-- END index_general -->

<!-- BEGIN index_edit_product -->
<div id="ajax" style="display: none;"></div>
<script type="text/javascript" src="{IMAGE_DIR}/jquery.wysiwyg.js"></script>
<script type="text/javascript" src="{IMAGE_DIR}/controls/wysiwyg.table.js"></script>
<script type="text/javascript" src="{IMAGE_DIR}/controls/wysiwyg.colorpicker.js"></script>
<script type="text/javascript" src="{IMAGE_DIR}/controls/wysiwyg.image.js"></script>
<script type="text/javascript" src="{IMAGE_DIR}/controls/wysiwyg.link.js"></script>
<script type="text/javascript" src="{IMAGE_DIR}/plugins/wysiwyg.i18n.js"></script>
<script type="text/javascript" src="{IMAGE_DIR}/plugins/wysiwyg.rmFormat.js"></script>
<link rel="stylesheet" type="text/css" href="{IMAGE_DIR}/jquery.wysiwyg.css" />
<script type="text/javascript" src="{IMAGE_DIR}/ajaxfileupload.js"></script>
<!--
<link rel="stylesheet" type="text/css" href="{IMAGE_DIR}/jquery.cleditor.css" />
<script type="text/javascript" src="{IMAGE_DIR}/jquery.cleditor.js"></script>
-->
<br>
&laquo; <a href="{URL_PR_PRODUCTS}?cid={CID}&page={PAGE}" class="link_black">Вернуться к списку товаров</a><br>
<br>

<!-- BEGIN path -->
<div class="ui-widget-content ui-corner-all">
<h3 class="ui-widget-header1 ui-corner-all"><a href="{URL_PR_PRODUCTS}" class="blLinkpu">Корневая</a> &raquo;
<!-- BEGIN path_rows -->
 <a href="{URL_PR_PRODUCTS}?cid={PATH_CID}" class="blLinkpu">{PATH_NAME}</a> &raquo;
<!-- END path_rows --></h3>
</div>
<br>
<!-- END path -->
<table width="100%" border="0" cellspacing="3" cellpadding="0">
<td width="50%" valign="top">
<!-- ############################ ЛЕВЫЙ СТОЛБЕЦ #################################### -->

<script type="text/javascript">
<!--
function ChangeSizeChart() {
	$("#input_url").val("{CURRENT_PAGE_URL}");
	document.general_info_form.submit();
}
-->
</script>

<div class="ui-widget-content ui-corner-all">
<h3 class="ui-widget-header1 ui-corner-all">ТОВАР</h3>
<p>
<form action="{URL_PR_PRODUCTS}" method="post" id="form_small_size" name="general_info_form">
<input type="hidden" name="what" value="save">
<input type="hidden" name="cid" value="{CID}">
<input type="hidden" name="page" value="{PAGE}">
<input type="hidden" name="pid" value="{PID}">
<input type="hidden" id="input_url" name="url" value="{URL}">
<table width="100%" border="0" cellspacing="1" cellpadding="0">
<tr>
<td nowrap>Наименование</td>
<td width="100%"><input type="text" name="name" value="{PR_NAME}" size="50" style="width: 98%;"></td>
</tr>
<tr>
<td nowrap>Ссылка</td>
<td width="100%"><input type="text" name="purl" value="{PR_URL}" size="50" style="width: 98%;"></td>
</tr>
<tr>
<td nowrap>Производитель</td>
<td width="100%"><select name="vendor">
<option value="0">---</option>
<!-- BEGIN vendors_list -->
<option value="{VENDOR_ID}" {VENDOR_SELECTED}>{VENDOR_NAME}</option>
<!-- END vendors_list -->
</select></td>
</tr>
    <!--
<tr>

<td nowrap>Базовый цвет</td>
<td width="100%"><select name="color">
<option value="0">---</option>

<option style="color: {P_COLOR_TEXT};background-color: {P_COLOR_CODE};" value="{P_COLOR_ID}" {P_COLOR_SELECTED}>{P_COLOR_NAME}</option>

</select></td>
</tr>

<tr>
    <td colspan="2" height="20">
        <a href="#" onClick="OpenPhotos('{PID}', '{COLOR_ID}')">{COLOR_NAME}</a>
        Фото для базового цвета
    </td>
</tr>   -->
<tr>
<td nowrap>Таблица размеров</td>
<td width="100%"><select name="size_chart" onChange="javascript:ChangeSizeChart();">
<option value="0">---</option>
<!-- BEGIN size_list -->
<option value="{SIZE_LINE_ID}" {SIZE_LINE_SELECTED}>{SIZE_LINE_NAME}</option>
<!-- END size_list -->
</select></td>
</tr>
<tr>
<td nowrap>Артикул</td>
<td width="100%"><input type="text" name="code" value="{PR_CODE}" size="20"></td>
</tr>
<tr>
<td nowrap>Код товара</td>
<td width="100%"><input type="text" name="prcode" value="{PR_PRCODE}" size="20"></td>
</tr>
<tr>
<td nowrap>Цена</td>
<td width="100%"><input type="text" name="price" value="{PR_PRICE}" size="9" style="text-align: right;"> за
<input type="text" name="for_unit" value="{PR_FOR_UNIT}" size="9" style="text-align: right;">
<select name="units">
<option value="0">---</option>
<!-- BEGIN units_list -->
<option value="{UNIT_ID}" {UNIT_SELECTED}>{UNIT_NAME}&nbsp;&nbsp;</option>
<!-- END units_list -->
</select>
</td>
</tr>

<tr>
<td nowrap>Спец. цена</td>
<td width="100%"><input type="text" name="price2" value="{PR_PRICE2}" size="9" style="text-align: right;"> от
<input type="text" name="for_unit2" value="{PR_FOR_UNIT2}" size="9" style="text-align: right;">
</td>
</tr>
<tr>
<td nowrap>Старая цена</td>
<td width="100%"><input type="text" name="special" value="{PR_SPECIAL}" size="9" style="text-align: right;"></td>
</tr>

<tr>
<td nowrap>Статус</td>
<td width="100%"><input type="checkbox" name="enabled" value="1" {PR_ENABLED}></td>
</tr>
<!--
<tr>
<td nowrap>Флаг "новинка"</td>
<td width="100%"><input type="checkbox" name="f_new" value="1" {PR_F_NEW}></td>
</tr>
<tr>
<td nowrap>Флаг "горячий"</td>
<td width="100%"><input type="checkbox" name="f_hot" value="1" {PR_F_HOT}></td>
</tr>
<tr>
<td nowrap>Флаг "популярный"</td>
<td width="100%"><input type="checkbox" name="f_popular" value="1" {PR_F_POPULAR}></td>
</tr>
-->
<tr>
<td nowrap>Краткое описание</td>
<td width="100%"><textarea cols="80" rows="5" id="descr" name="descr" style="width: 98%;">{PR_DESCR}</textarea></td>
</tr>
<tr>
<td nowrap>Полное описание</td>
<td width="100%"><textarea cols="80" rows="7" id="full_descr" name="full_descr" style="width: 98%;">{PR_FULL_DESCR}</textarea></td>
</tr>
<!--
<tr>
<td nowrap>YouTube</td>
<td width="100%"><textarea cols="80" rows="4" name="youtube" style="width: 98%;">{PR_YOUTUBE}</textarea></td>
</tr>
-->
<tr>
<td nowrap>Описание страницы</td>
<td width="100%"><textarea cols="80" rows="3" name="page_descr" style="width: 98%;">{PR_PAGE_DESCR}</textarea></td>
</tr>
<tr>
<td nowrap>Ключевые слова</td>
<td width="100%"><textarea cols="80" rows="3" name="page_keywords" style="width: 98%;">{PR_PAGE_KEYWORDS}</textarea></td>
</tr>
<tr>
<td colspan="2" align="center"><br><input type="submit" value="сохранить" class="submit"></td>
</tr>
</table>
</form>
</p>
</div>
<!-- ############################ // ЛЕВЫЙ СТОЛБЕЦ #################################### -->
</td>
<td width="50%" valign="top">
<!-- ############################ ПРАВЫЙ СТОЛБЕЦ #################################### -->
<div class="ui-widget-content ui-corner-all">
<h3 class="ui-widget-header1 ui-corner-all">СВОЙСТВА</h3>
<p>
<form action="{URL_PR_PRODUCTS}" method="post" id="form_small_size">
<input type="hidden" name="what" value="save_prop2prod">
<input type="hidden" name="cid" value="{CID}">
<input type="hidden" name="page" value="{PAGE}">
<input type="hidden" name="pid" value="{PID}">
<input type="hidden" name="url" value="{URL}">
<table width="100%" border="0" cellspacing="1" cellpadding="0">

<tr>
<td align="center" nowrap>&nbsp;</td>
<td align="center" nowrap>&nbsp;</td>
<td align="center" nowrap>&nbsp;<b>Наименование</b>&nbsp;</td>
<td align="center" nowrap>&nbsp;<b>Значение</b>&nbsp;</td>
<td align="center" nowrap>&nbsp;</td>
</tr>

<tr>
<td align="center" nowrap>&nbsp;</td>
<td align="center" nowrap>&nbsp;</td>
<td>&nbsp;<select name="add_prop">
<option value="">---</option>
<option value="new_property">... Добавить новое свойство ...</option>
<!-- BEGIN properties_list -->
<option value="{PROPERTY_ID}">{PROPERTY_NAME}</option>
<!-- END properties_list -->
</select>&nbsp;</td>
<td width="100%" align="center"><input type="text" name="add_value" value="" size="40" style="width: 99%;"></td>
<td align="center" nowrap>&nbsp;</td>
</tr>

<!-- BEGIN prop2prod_list -->
<tr>
<td align="center" nowrap>&nbsp;<a href="{URL_PR_PRODUCTS}?what=up&cid={CID}&page={PAGE}&pid={PID}&prop={PROPERTY_ID}&url={URL}" class="blLinkpu"><img src="{IMAGE_DIR}/img/btn_up.gif" width="12" height="12" border="0"></a>&nbsp;</td>
<td align="center" nowrap>&nbsp;<a href="{URL_PR_PRODUCTS}?what=down&cid={CID}&page={PAGE}&pid={PID}&prop={PROPERTY_ID}&url={URL}" class="blLinkpu"><img src="{IMAGE_DIR}/img/btn_down.gif" width="12" height="12" border="0"></a>&nbsp;</td>
<td height="17"  nowrap>&nbsp;{PROPERTY_NAME}&nbsp;<input type="hidden" name="ids[{I}]" value="{PROPERTY_ID}"></td>
<td width="100%" align="center" nowrap>&nbsp;<input type="text" name="prop_value[{I}]" value="{PROPERTY_VALUE}" size="40" style="width: 99%;">&nbsp;</td>
<td align="center" nowrap>&nbsp;<a href="{URL_PR_PRODUCTS}?what=del_prop2prod&cid={CID}&page={PAGE}&pid={PID}&delp2p={PROPERTY_ID}&url={URL}" class="blLinkpu"><img src="{IMAGE_DIR}/img/stop.png" width="22" height="22" border="0"></a>&nbsp;</td>
</tr>
<!-- END prop2prod_list -->

<tr>
<td colspan="5" align="center">&nbsp;<input type="submit" value="сохранить" class="submit"></td>
</tr>

</table>

</form>
</p>
</div>

<!-- #####################################	ЦВЕТА ДАННОГО ТОВАРА #########################-->
<br>

<div class="ui-widget-content ui-corner-all">
<h3 class="ui-widget-header1 ui-corner-all">ЦВЕТОВАЯ ГАММА ТОВАРА</h3>
<div id="colors-list">
<table width="100%" border="0" cellspacing="2" cellpadding="1">

<tr>
<td align="center" nowrap>&nbsp;<b></b>&nbsp;</td>
<td align="center" nowrap>&nbsp;<b></b>&nbsp;</td>
<td align="center" nowrap>&nbsp;<b>Наименование</b>&nbsp;</td>
<td align="center" nowrap>&nbsp;<b></b>&nbsp;</td>
<td align="center" nowrap>&nbsp;<b></b>&nbsp;</td>
</tr>

<!-- BEGIN colors_list -->
<tr bgcolor="{COLOR}">
<td align="center" nowrap>&nbsp;<a href="javascript:void(0);"><img src="{IMAGE_DIR}/img/btn_up.gif" width="12" height="12" border="0"></a>&nbsp;</td>
<td align="center" nowrap>&nbsp;<a href="javascript:void(0);"><img src="{IMAGE_DIR}/img/btn_down.gif" width="12" height="12" border="0"></a>&nbsp;</td>
<td width="100%" height="17">&nbsp;<a href="#" onClick="OpenPhotos('{PID}', '{COLOR_ID}')">{COLOR_NAME}</a>&nbsp;</td>
<td style="background-color: {COLOR_COLOR};" nowrap>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
<td align="center" nowrap>&nbsp;<a href="{URL_IT_ITEMS}?what=del_color&cid={CID}&page={PAGE}&pid={PID}&delcolor={COLOR_ID}&url={URL}"><img src="{IMAGE_DIR}/img/stop.png" width="22" height="22" border="0"></a>&nbsp;</td>
</tr>
<!-- END color_list -->
</table>
</div>

<div>
<br>

&nbsp;&nbsp;<button id="add_color">Добавить цвет к списку</button>

<br>

</div>
</div>
<!-- #####################################	//	ЦВЕТА ДАННОГО ТОВАРА #########################-->


<!-- #####################################	ДОПОЛНИТЕЛЬНЫЕ ЦВЕТА #########################-->
<!--<br>-->

<!--<div class="ui-widget-content ui-corner-all">-->
<!--<h3 class="ui-widget-header1 ui-corner-all">ДОПОЛНИТЕЛЬНЫЕ ЦВЕТА</h3>-->
<!--<div id="colors-list-additional">-->
<!--<table width="100%" border="0" cellspacing="2" cellpadding="1">-->

<!--<tr>-->
<!--<td align="center" nowrap>&nbsp;<b></b>&nbsp;</td>-->
<!--<td align="center" nowrap>&nbsp;<b></b>&nbsp;</td>-->
<!--<td align="center" nowrap>&nbsp;<b>Наименование</b>&nbsp;</td>-->
<!--<td align="center" nowrap>&nbsp;<b></b>&nbsp;</td>-->
<!--<td align="center" nowrap>&nbsp;<b></b>&nbsp;</td>-->
<!--</tr>-->

<!--&lt;!&ndash; BEGIN colors_list_add &ndash;&gt;-->
<!--<tr bgcolor="{COLOR}">-->
<!--<td align="center" nowrap>&nbsp;<a href="javascript:void(0);"><img src="{IMAGE_DIR}/img/btn_up.gif" width="12" height="12" border="0"></a>&nbsp;</td>-->
<!--<td align="center" nowrap>&nbsp;<a href="javascript:void(0);"><img src="{IMAGE_DIR}/img/btn_down.gif" width="12" height="12" border="0"></a>&nbsp;</td>-->
<!--<td width="100%" height="17">&nbsp;<a href="#" onClick="OpenPhotos('{PID}', '{COLOR_ID}')">{COLOR_NAME}</a>&nbsp;</td>-->
<!--<td style="background-color:" nowrap>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>-->
<!--<td align="center" nowrap>&nbsp;<a href="{URL_IT_ITEMS}?what=del_color&cid={CID}&page={PAGE}&pid={PID}&delcolor={COLOR_ID}&url={URL}"><img src="{IMAGE_DIR}/img/stop.png" width="22" height="22" border="0"></a>&nbsp;</td>-->
<!--</tr>-->
<!--&lt;!&ndash; END color_list_add &ndash;&gt;-->
<!--</table>-->
<!--</div>-->

<!--<div>-->
<!--<br>-->

<!--&nbsp;&nbsp;<button id="add_color-additional">Добавить цвет к списку</button>-->

<!--<br>-->

<!--</div>-->
<!--</div>-->
<!-- #####################################	//	ДОПОЛНИТЕЛЬНЫЕ ЦВЕТА #########################-->

<br>

<div class="ui-widget-content ui-corner-all">
<h3 class="ui-widget-header1 ui-corner-all">СОПУТСТВУЮЩИЕ ТОВАРЫ</h3>
<div id="p2p-list">
<table width="100%" border="0" cellspacing="2" cellpadding="1">

<tr>
<td align="center" nowrap>&nbsp;<b>Наименование</b>&nbsp;</td>
<td align="center" nowrap>&nbsp;<b>Производитель</b>&nbsp;</td>
<td align="center" nowrap>&nbsp;<b>Цена</b>&nbsp;</td>
<td align="center" nowrap>&nbsp;<b></b>&nbsp;</td>
</tr>

<!-- BEGIN p2p_list -->
<tr bgcolor="{COLOR}">
<td width="100%" height="17">&nbsp;{P2P_NAME}&nbsp;</td>
<td align="center" nowrap>&nbsp;{P2P_VENDOR_NAME}&nbsp;</td>
<td align="right" nowrap >&nbsp;{P2P_PRICE} руб.&nbsp;</td>
<td align="center" nowrap>&nbsp;<a href="{URL_IT_ITEMS}?what=del_p2p&cid={CID}&page={PAGE}&pid={PID}&delp2p={P2P_ID}&url={URL}"><img src="{IMAGE_DIR}/img/stop.png" width="22" height="22" border="0"></a>&nbsp;</td>
</tr>
<!-- END p2p_list -->
</table>
</div>

<div>
<br>

&nbsp;&nbsp;<button id="add_p2p">Добавить товар к списку</button>

<br>

</div>
</div>

<script type="text/javascript">
	var p2p	=	"";
	var current_pid	=	"{PID}";

	function P2PChangeDir(dir) {
		$( "#dialog-p2p" ).load("./pr_add_product.php?cid="+dir);
	}

	function P2PDelete(what, pid1, pid2) {
		$( "#p2p-list" ).load("./pr_add_product.php?what="+what+"&pid1="+pid1+"&pid2="+pid2);
	}

	function PickupProduct(pid) {
		$( "#p2p-list" ).load("./pr_add_product.php?what=p2p_add&pid1="+current_pid+"&pid2="+pid);
		$( "#dialog-p2p" ).dialog( "close" );
	}

	function AddProductColor(color_id) {
		$( "#colors-list").load("./pr_add_product.php?what=color_add&pid="+current_pid+"&color="+color_id);
		$( "#dialog-p2p" ).html("1");
		$( "#dialog-p2p" ).dialog( "close" );
		$("#warehouse-sizes-colors").load("./pr_add_product.php?what=warehouse-sizes-colors&pid="+current_pid);
	}

	function ColorDelete(what, pid, color) {
		$( "#colors-list" ).load("./pr_add_product.php?what="+what+"&pid="+pid+"&color="+color);
		$("#warehouse-sizes-colors").load("./pr_add_product.php?what=warehouse-sizes-colors&pid="+current_pid);	}

	function SwitchWarehouse(pid, color, size) {
		$( "#ajax" ).load("./pr_add_product.php?what=switch_warehouse&pid="+pid+"&color="+color+"&size="+size);
	}

	var photo_pid	=	'{PID}';
	var	photo_color	=	0;

	function OpenPhotos(pid, color) {
		photo_color	=	color;
		$( "#dialog-photo" ).load("./pr_add_product.php?what=photo-list&pid="+ pid +"&color="+ color);
		$( "#dialog-photo" ).dialog( "open" );
	}

	function DeletePhoto(pid, color, photo) {
		$( "#ajax" ).load("./pr_add_product.php?what=photo-del&pid="+pid+"&color="+color+"&photo="+photo);
		$( "#dialog-photo" ).load("./pr_add_product.php?what=photo-list&pid="+ pid +"&color="+ color);
	}

	function MoveColor(path, pid, color) {
		$("#colors-list").load("./pr_add_product.php?what=move_color&path="+path+"&pid="+pid+"&color="+color);
		$("#warehouse-sizes-colors").load("./pr_add_product.php?what=warehouse-sizes-colors&pid="+current_pid);
	}

	$(document).ready(function() {
		/*	список сопутствующих товаров */
		$( "#p2p-list" ).load("./pr_add_product.php?what=p2p_list&pid="+current_pid);
		/*	список цветов для данного товара */
		$("#colors-list").load("./pr_add_product.php?what=color_list&pid="+current_pid);
		/*	линейка размеров, а также наличия цветов и размеров */
		$("#warehouse-sizes-colors").load("./pr_add_product.php?what=warehouse-sizes-colors&pid="+current_pid);

		$("#add_p2p").button().click(function() {
			p2p	=	"p2p";
			if ($( "#dialog-p2p" ).html() == "1") {
				$( "#dialog-p2p" ).load("./pr_add_product.php");
			}
			$( "#dialog-p2p" ).dialog( "open" );
		});

		$("#add_color").button().click(function() {
			$( "#dialog-p2p" ).load("./pr_add_product.php?what=get_color_list&pid="+current_pid);
			$( "#dialog-p2p" ).dialog("open");
		});

        $("#add_color-additional").button().click(function() {
//        			$( "#dialog-p2p" ).load("./pr_add_product.php?what=get_color_list&pid="+current_pid);
//        			$( "#dialog-p2p" ).dialog("open");
        		});


		$( "#dialog:ui-dialog" ).dialog( "destroy" );

		$( "#dialog-p2p" ).dialog({
			height: 500,
			width: 700,
			modal: true,
			autoOpen: false
		});

		$( "#dialog-photo" ).dialog({
			height: (document.body.clientHeight - 100),
			width: (document.body.clientWidth - 50),
			modal: true,
			resizable: false,
			autoOpen: false
		});

		/*$("#descr").wysiwyg();*/
		$("#full_descr").wysiwyg({			css: '{IMAGE_DIR}/product_description_editor.css',
			controls: {				html: { visible : true },
			}
		});

		/*
		$("#descr").cleditor({
			width: 800,
			height: 100
		});
		$("#full_descr").cleditor({
			width: 800
		});
		*/
	});
</script>

<div id="dialog-p2p" title="Дополнительные данные">1</div>
<div id="dialog-photo" title="Фотографии товара">1</div>



<br>

<div class="ui-widget-content ui-corner-all" style="display:none;">
<h3 class="ui-widget-header1 ui-corner-all">НАХОДИТСЯ В КАТЕГОРИЯХ</h3>
<p>
<form action="{URL_PR_PRODUCTS}" id="form_small_size">
<input type="hidden" name="what" value="add_cat">
<input type="hidden" name="cid" value="{CID}">
<input type="hidden" name="page" value="{PAGE}">
<input type="hidden" name="pid" value="{PID}">
<input type="hidden" name="url" value="{URL}">
<table width="100%" border="0" cellspacing="2" cellpadding="1">

<!-- BEGIN in_cats -->
<tr>
<td width="100%">&nbsp;

<!-- BEGIN incat_rows -->
{INCAT_NAME} &raquo;&nbsp;
<!-- END incat_rows -->

&nbsp;</td>
<td><a href="{URL_PR_PRODUCTS}?what=del_cat&cid={CID}&page={PAGE}&pid={PID}&delcid={INCAT_ID}&url={URL}" class="blLinkpu"><img src="{IMAGE_DIR}/img/stop.png" width="22" height="22" border="0"></a></td>
</tr>
<!-- END in_cats -->

<tr>
<td colspan="2"><select name="newcat">
<option value="">---</option>
<!-- BEGIN new_cat -->
<option value="{NEWCAT_ID}">{NEWCAT_NAME}</option>
<!-- END new_cat -->
</select> <input type="submit" value=" добавить " class="submit"></td>
</tr>
</table>
</form>
</p>
</div>

<!--
<br />

<div class="ui-widget-content ui-corner-all">
<h3 class="ui-widget-header1 ui-corner-all">ЗАГРУЗИТЬ ФОТОГРАФИЮ</h3>
<p>
<form action="{URL_PR_PRODUCTS}" method="post" enctype="multipart/form-data" id="form_small_size">
<input type="hidden" name="what" value="add_pics">
<input type="hidden" name="cid" value="{CID}">
<input type="hidden" name="page" value="{PAGE}">
<input type="hidden" name="pid" value="{PID}">
<input type="hidden" name="url" value="{URL}">
<table width="100%" border="0" cellspacing="5" cellpadding="0">
<tr>
<td nowrap>Основная картинка &nbsp;&nbsp;</td>
<td width="100%"><input type="file" size="50" name="pic_main"></td>
</tr>
<tr>
<td nowrap>Дополнительная картинка &nbsp;&nbsp;</td>
<td width="100%"><input type="file" size="50" name="pic_small"></td>
</tr>
<tr>
<td width="100%" colspan="2" align="center"><input type="submit" value=" добавить " class="submit"></td>
</tr>
</table>
</form>
</p>
</div>
-->

<!-- ############################ // ПРАВЫЙ СТОЛБЕЦ #################################### -->
</td>
</table>

<br>

<div class="ui-widget-content ui-corner-all">
<h3 class="ui-widget-header1 ui-corner-all">ДОСТУПНЫЕ РАЗМЕРЫ</h3>
<p>
<div id="warehouse-sizes-colors"><div>
</p>
</div>

<!--
<br>

<div class="ui-widget-content ui-corner-all">
<h3 class="ui-widget-header1 ui-corner-all">СПИСОК ФОТОГРАФИЙ</h3>
<p>
<table width="100%" border="0" cellspacing="5" cellpadding="0">
<tr>
<td nowrap>{PHOTO_URL_MAIN_NAME}</td>
<td width="100%" colspan="2"><img src="{PHOTO_URL_MAIN}"></td>
</tr>
<!-- BEGIN photos_list --
<tr>
<td nowrap>{PHOTO_URL_NAME}</td>
<td width="100%"><img src="{PHOTO_URL}"></td>
<td><a href="{URL_PR_PRODUCTS}?what=del_pic&cid={CID}&page={PAGE}&pid={PID}&pic={PHOTO_URL_NAME}&url={URL}" class="blLinkpu"><img src="{IMAGE_DIR}/img/stop.png" width="22" height="22" border="0"></a></td>
</tr>
<!-- END photos_list --
</table>
</p>
</div>
-->

<br>
<br>
<!-- END index_edit_product -->


{OVERALL_FOOTER}