{OVERALL_HEADER}


<!-- BEGIN index_general -->
<br>


<!-- BEGIN path -->
<div class="ui-widget-content ui-corner-all">
<h3 class="ui-widget-header1 ui-corner-all"><a href="{URL_SELF}" class="blLinkpu">Корневая</a> &raquo;
<!-- BEGIN path_rows -->
 <a href="{URL_SELF}?cid={PATH_CID}" class="blLinkpu">{PATH_NAME}</a> &raquo;
<!-- END path_rows --></h3>
</div>
<!-- END path -->

<!-- BEGIN cats -->
<div class="ui-widget-content ui-corner-all">
<p>
<table width="100%" border="0" cellspacing="5" cellpadding="0">
<!-- BEGIN cats_list -->
<tr>
<td nowrap><a href="{URL_SELF}?cid={CAT_ID}"><img src="{IMAGE_DIR}/img/folder_closed{CAT_ENABLED}.png" width="16" height="16" border="0"></a></td>
<td width="100%"><a href="{URL_SELF}?cid={CAT_ID}" class="blLinkpu">{CAT_NAME}</a></td>
</tr>
<!-- END cats_list -->
</table>
</p>
</div>
<br>
<!-- END cats -->

<!-- BEGIN products -->
<br>
<b>Страницы: </b>
<!-- BEGIN news_pages -->
<a href="{URL_SELF}?cid={CID}&page={PR_PAGE}" class="link_black">{PR_PAGE_NAME}</a>&nbsp;
<!-- END news_pages -->
<br>
<br>


<div class="ui-widget-content ui-corner-all">
<h3 class="ui-widget-header1 ui-corner-all">Товары</h3>
<p>
<form action="{URL_SELF}" method="post" id="form_big_size">
<input type="hidden" name="what" value="save_products">
<input type="hidden" name="cid" value="{CID}">
<input type="hidden" name="page" value="{PAGE}">
<table width="100%" border="0" cellspacing="5" cellpadding="0">
<tr>
<td align="center" nowrap>&nbsp;</td>
<td align="center" nowrap>Наименование</td>
<td align="center" nowrap>Ссылка</td>
<td align="center" nowrap>&nbsp;</td>
</tr>

<!-- BEGIN pr_list -->
<tr bgcolor="{COLOR}">
<td align="center" nowrap bgcolor="{PR_COLOR}"><img src="{IMAGE_DIR}/img/d.gif" width="16" height="16" border="0"></td>
<td width="100%"><a href="{URL_PR_PRODUCTS}?what=edit_product&cid={CID}&page={PAGE}&pid={PR_ID}" class="blLinkpu">{PR_NAME}</a></td>
<td align="center" nowrap><input type="text" name="url[{I}]" value="{PR_URL}" size="80"></td>
<td align="center" nowrap><input type="checkbox" value="1" name="enabled[{I}]" {PR_ENABLED}><input type="hidden" name="ids[{I}]" value="{PR_ID}"></td>
</tr>
<!-- END pr_list -->

<tr>
<td colspan="4" align="center"><br>
<input type="submit" value="запомнить" class="submit"></td>
</tr>
</table>
</form>
</p>
</div>

<br>
<b>Страницы: </b>
<!-- BEGIN news_pages -->
<a href="{URL_SELF}?cid={CID}&page={PR_PAGE}" class="link_black">{PR_PAGE_NAME}</a>&nbsp;
<!-- END news_pages -->
<br>
<!-- END products -->

<!-- END index_general -->


{OVERALL_FOOTER}