{OVERALL_HEADER}


<!-- BEGIN index_general -->
<br>

<script>
	$(function() {
		$( "#datepicker1" ).datepicker( { dateFormat: 'dd-mm-yy' } );
		$( "#datepicker2" ).datepicker( { dateFormat: 'dd-mm-yy' } );
	});
</script>

<div class="ui-widget-content ui-corner-all">
<h3 class="ui-widget-header1 ui-corner-all">ПОПУЛЯРНЫЕ РАЗДЕЛЫ</h3>
<p>

<form action="./st_cats_view.php" method="get">
<table align="center" border="0" cellspacing="1" cellpadding="3">
<tr>
<td>Период с</td>
<td><input type="text" name="start" id="datepicker1" value="{START}" size="13"></td>
<td>по</td>
<td><input type="text" name="finish" id="datepicker2" value="{FINISH}" size="13"></td>
<td><input type="submit" value="показать"></td>
</tr>
</table>
</form>

<table width="100%" border="0" cellspacing="1" cellpadding="3">
<tr>
<td style="font-size: 16px;" nowrap>Раздел</td>
<td style="font-size: 16px;" nowrap>Количество посетителей</td>
<td align="center">&nbsp;</td>
<td align="center">&nbsp;</td>
</tr>
<!-- BEGIN cats_view -->
<tr bgcolor="{BGCOLOR}">
<td nowrap>{CV_NAME}</td>
<td align="right" nowrap>{CV_COUNT}</td>
<td><img src="{IMAGE_DIR}/img/d.gif" width="{CV_WIDTH}" height="16" border="0" style="background-color: #10a308;"></td>
<td width="100%">&nbsp;</td>
</tr>
<!-- END cats_view -->
</table>
</p>
</div>

<br>
<br>
<br>
<!-- END index_general -->


{OVERALL_FOOTER}