{OVERALL_HEADER}


<!-- BEGIN index_general -->
<br>

<div class="ui-widget-content ui-corner-all">
<h3 class="ui-widget-header1 ui-corner-all">СТАТИСТИКА ПО РАССЫЛКАМ</h3>
<p>
<h3 style="padding: 10px;">Количество получателей рассылки: {RECEIVERS}</h3>
<table width="100%" border="0" cellspacing="1" cellpadding="3">
<tr>
<td nowrap>Рассылка</td>
<td nowrap>Кол-во получателей, прочитавших письмо</td>
<td nowrap>Процент от общего кол-ва получателей</td>
<td align="center">&nbsp;</td>
<td nowrap>Кол-во опознанных пользователей</td>
<td align="center">&nbsp;</td>
</tr>
<!-- BEGIN newsletters -->
<tr bgcolor="{BGCOLOR}">
<td nowrap>{NL_NAME}</td>
<td align="center" nowrap>{NL_REED}</td>
<td align="center" nowrap>{NL_PROCENT}</td>
<td><img src="{IMAGE_DIR}/img/d.gif" width="{NL_WIDTH}" height="16" border="0" style="background-color: #10a308;"></td>
<td align="center" nowrap>{NL_USERS}</td>
<td width="100%">&nbsp;</td>
</tr>
<!-- END newsletters -->
</table>
</p>
</div>

<br>
<br>
<br>
<!-- END index_general -->


{OVERALL_FOOTER}