body {
	font: bold 12px  Arial, 'Trebuchet MS', Tahoma, verdana,  sans-serif;
}

/* menu tabs */
#header {
	background-color: #cccccc;
	width: 100%;
	height: 26px;
}

#sub_header {
	background-color: #eeeeee;
	width: 100%;
	height: 19px;
}

#header ul {
	z-index: 999999;
	position: absolute;
	margin:0; padding: 0;
	list-style:none;
	font: bold 13px  Arial, 'Trebuchet MS', Tahoma, verdana,  sans-serif;
}
#header li {
   display:inline;
   margin:0; padding:0;
}
#header a {
   float:left;
   margin:0;
   padding:0 0 0 4px;
   text-decoration:none;
}
#header a span {
   float:left;
   display:block;
   padding:5px 8px 5px 5px;
   color: #000;
}
/* Commented Backslash Hack hides rule from IE5-Mac \*/
#header a span {float:none;}
/* End IE5-Mac hack */
#header a:hover span {
	color:#000;
}
#header a:hover {
	background-position: 0% -42px;
	background-color: #E5B002;
}
#header a:hover span {
   background-position:100% -42px;
	color: White;
}
#header #current a {
   	background-position:0% -42px;
	color: #FFF;
	background-color: #858585;
}
#header #current a span {
  	background-position:100% -42px;
	color: #FFF;
	background-color: #858585;
}
/* ============================================= */
#sub_header ul {
	z-index: 999999;
	position: absolute;
	margin:0; padding: 0;
	list-style:none;
	font: bold 10px  Arial, 'Trebuchet MS', Tahoma, verdana,  sans-serif;
}
#sub_header li {
   display:inline;
   margin:0; padding:0;
}
#sub_header a {
   float:left;
   margin:0;
   padding:0 0 0 1px;
   text-decoration:none;
}
#sub_header a span {
   float:left;
   display:block;
   padding:3px 5px 3px 3px;
   color: #000;
}
/* Commented Backslash Hack hides rule from IE5-Mac \*/
#sub_header a span {float:none;}
/* End IE5-Mac hack */
#sub_header a:hover span {
	color:#000;
}
#sub_header a:hover {
	background-position: 0% -42px;
	background-color: #C99B00;
}
#sub_header a:hover span {
   background-position:100% -42px;
	color: White;
}
#sub_header #current a {
   background-position:0% -42px;
	color: #FFF;
	background-color: #858585;
}
#sub_header #current a span {
  	background-position:100% -42px;
	color: #FFF;
	background-color: #858585;
}
/* ===================================== */
#footer_logo {
	z-index: -1;
	position: absolute;
  	margin:0; padding: 0;
	list-style:none;
	right: 0;
	bottom: 6px !important; bottom: 5px;
	font: bold 40px  Arial, 'Trebuchet MS', Tahoma, verdana,  sans-serif;
	color: #cccccc;
	opacity: 0.5;
	filter:Alpha(Opacity=50);
}

/* ============== c_window ===================== */
#c_window_cb table {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid #8f9402;
}
#c_window_cb table thead {
	background-color: #b2b822;
	font: bold 16px  Arial, 'Trebuchet MS', Tahoma, verdana,  sans-serif;
	color: #FFFFFF;
}
#c_window_cb table tbody {
	background-color: #8f9402;
	color: #FFFFFF;
}

/* ERRORS */
#c_window_red table {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid #b75703;
	margin: 10px;
	width: 300px;
}
#c_window_red table thead {
	background-color: #e58701;
	font: bold 16px  Arial, 'Trebuchet MS', Tahoma, verdana,  sans-serif;
	color: #FFFFFF;
}
#c_window_red table tbody {
	background-color: #c07001;
	color: #FFFFFF;
	text-align: left;
}

/* DIALOG */
#c_window_silver table {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid #999999;
	margin: 10px;
}
#c_window_silver table thead {
	background-color: #b8b862;
	font: bold 16px  Arial, 'Trebuchet MS', Tahoma, verdana,  sans-serif;
	color: #FFFFFF;
}
#c_window_silver table tbody {
	background-color: #eeeecc;
	color: #000000;
	text-align: left;
}

.round_border {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

/* ==========================  FORMS  ==========================*/
#form_big_size {
	font: bold 16px  Arial, 'Trebuchet MS', Tahoma, verdana,  sans-serif;
}
#form_big_size input, #form_big_size select {
	font: bold 16px  Arial, 'Trebuchet MS', Tahoma, verdana,  sans-serif;
	background: #ffffff url(images/ui-bg_fine-grain_15_ffffff_60x60.png) 50% 50% repeat;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
#form_big_size .submit {
	background: #c07001 repeat 50% 50%;
	color: #FFFFFF;
}

#form_small_size {
	font: bold 10px  Arial, 'Trebuchet MS', Tahoma, verdana,  sans-serif;
}
#form_small_size input, textarea, select {
	font: bold 10px  Arial, 'Trebuchet MS', Tahoma, verdana,  sans-serif;
	background: #ffffff url(images/ui-bg_fine-grain_15_ffffff_60x60.png) 50% 50% repeat;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
#form_small_size .submit {
	background: #c07001 repeat 50% 50%;
	color: #FFFFFF;
}

.ui-widget-header1 { border: 1px solid #d4d1bf; background: #ffffff url(images/ui-bg_fine-grain_15_ffffff_60x60.png) 50% 50% repeat; color: #453821; font-weight: bold; margin: 3px 3px; padding: 5px 5px; }
.ui-widget-header1 a, table a {
	color: Black;
}
.ui-widget-header1 a:hover, table a:hover {
	color: #C99B00;
}

.link_black {
	color: Black;
	font-weight: normal;
}
.link_black:hover {
	color: #C99B00;
	font-weight: normal;
}
.small_silver {
	font-size: 10px;
	font-weight: lighter;
	color: #000000;
}